<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allScrapProperties</key>
	<array>
		<dict>
			<key>center.x</key>
			<real>643.8277587890625</real>
			<key>center.y</key>
			<real>403.93792724609375</real>
			<key>pageUUID</key>
			<string>73A9958C-CF00-4059-B4C7-A0B3ED463036</string>
			<key>rotation</key>
			<real>0.37124863266944885</real>
			<key>scale</key>
			<real>0.52944427728652954</real>
			<key>subviewIndex</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>8772E06A-7CE6-4D4A-B154-3DAAE4F9077A</string>
		</dict>
	</array>
</dict>
</plist>
