<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hasConverted</key>
	<true/>
	<key>stackOfStrokes</key>
	<array>
		<string>3353610033</string>
		<string>465815525</string>
		<string>2790203620</string>
		<string>2527492493</string>
		<string>3954028090</string>
		<string>1541233177</string>
		<string>1279331296</string>
		<string>634909999</string>
		<string>3642161091</string>
		<string>1262057958</string>
	</array>
	<key>stackOfUndoneStrokes</key>
	<array/>
	<key>undoHash</key>
	<integer>1840843695</integer>
</dict>
</plist>
