<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>-1.986572265625</real>
	<key>backgroundOffset.y</key>
	<real>0.3118438720703125</real>
	<key>backgroundRotation</key>
	<real>1.5657551288604736</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQLoAAAAAAEAAACUfItDkWmVQwEAAAAB
	AAAAOxF5Q3EAk0MBAAAAAQAAADsReUNxAJNDAQAAAAEAAABwBT1BEWWGQwEAAAABAAAA
	cAU9QRFlhkMDAAAAAwAAAPCNnEH6Zm1D9KZ5QsNwgkMuHpBC7k9oQwMAAAADAAAA7k/c
	QqKKSkMbBDRDJsVEQ7OxaEMCLE5DAQAAAAEAAAAHW2lD5GbIQgEAAAABAAAAB1tpQ+Rm
	yEIDAAAAAwAAACskWkM86MRCi8tKQxwbxEKReTtDVKfDQgMAAAADAAAAF4Y1QxgsxEJV
	ly9D7KbCQtWqKUNs1MFCAwAAAAMAAADhOyNDwO/BQlvRHENMAsFCQ2UWQ3BywEIDAAAA
	AwAAAEmOEkM8eMBC8a8OQyCyvkLR4ApDNJ/AQgMAAAADAAAAEecGQySCv0K52QJDzH/B
	Qgrf/UK8IL9CAwAAAAMAAAD6UPBCDDvAQlbE4kJIe71C4j/VQujav0IDAAAAAwAAAM45
	ykK0sb1C7ue+QpzFvUKGurNC8AO+QgMAAAADAAAABpKoQvgivkJuxp1CbMu6QuqdkkKA
	6rpCAwAAAAMAAADyb4dCULi5QsQsZUKIz7pCJC96QsRMpUIDAAAAAwAAADwFfELUJJ9C
	TNZ4QoifmEL8s3BCpL6TQgEAAAABAAAA4LkVQbh6XkIBAAAAAQAAAOC5FUG4el5CAwAA
	AAMAAACg1KDAoLpKQvC1a0Fgp+RBgKwSQbDt80EBAAAAAQAAAN5+yUJ4ChxCAQAAAAEA
	AADefslCeAocQgMAAAADAAAAkhLVQhiZIEIS4eBCmG8jQo6z7EIwNSJCAwAAAAMAAACa
	XvhCcC4iQovtAUNIlCxCsb0HQ7C0JkIDAAAAAwAAADcXAkMY3R5CgcAmQzCKLUI/tQ9D
	aH0rQgEAAAABAAAAdgOVQwAAgEABAAAAAQAAAKDBlUNTXJVDAQAAAAEAAACUfItDjWmV
	QwQAAAAAAAAAgAPSIiMkJVokY2xhc3NuYW1lWCRjbGFzc2VzXU5TTXV0YWJsZURhdGGj
	JicoXU5TTXV0YWJsZURhdGFWTlNEYXRhWE5TT2JqZWN02iorLC0JLi8wMTIzHBwVNhw4
	ORw7XxAYcGF0aFByb3BlcnRpZXNfbGFzdFBvaW50XxAccGF0aFByb3BlcnRpZXNfa25v
	d3NJZkNsb3NlZF8QHHBhdGhQcm9wZXJ0aWVzX2hhc0ZpcnN0UG9pbnRfECFwYXRoUHJv
	cGVydGllc19jYWNoZWRFbGVtZW50Q291bnRfEBtwYXRoUHJvcGVydGllc19oYXNMYXN0
	UG9pbnRfEBtwYXRoUHJvcGVydGllc190YW5nZW50QXRFbmRfEBdwYXRoUHJvcGVydGll
	c19pc0Nsb3NlZF8QFXBhdGhQcm9wZXJ0aWVzX2lzRmxhdF8QGXBhdGhQcm9wZXJ0aWVz
	X2ZpcnN0UG9pbnSABQgIgAcIIgAAAAAJCIAGVnswLCAwfVZ7MCwgMH3SIiM/QF8QFlVJ
	QmV6aWVyUGF0aFByb3BlcnRpZXOiQShfEBZVSUJlemllclBhdGhQcm9wZXJ0aWVz0iIj
	Q0RcVUlCZXppZXJQYXRookUoXFVJQmV6aWVyUGF0aF8QD05TS2V5ZWRBcmNoaXZlctFI
	SVRyb290gAEACAARABoAIwAtADIANwBBAEcAXgBlAIQAqgC5ANUA8QEQAS4BSQFjAYgB
	igGMAY4BkwGVAZoBnwGkAaUBqgGyBJ4EoASlBLAEuQTHBMsE2QTgBOkE/gUZBTgFVwV7
	BZkFtwXRBekGBQYHBggGCQYLBgwGEQYSBhMGFQYcBiMGKAZBBkQGXQZiBm8GcgZ/BpEG
	lAaZAAAAAAAAAgEAAAAAAAAASgAAAAAAAAAAAAAAAAAABps=
	</data>
	<key>lastSavedUndoHash</key>
	<integer>171840</integer>
</dict>
</plist>
