<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>-164.52055358886719</real>
	<key>backgroundOffset.y</key>
	<real>6.6385574340820312</real>
	<key>backgroundRotation</key>
	<real>-0.046342551708221436</real>
	<key>backgroundScale</key>
	<real>2.0066666603088379</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGR0hYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKT0+P0NVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQO4AAAAAAEAAAD34hpDSV0sQwEAAAAB
	AAAA23AaQzNuKUMBAAAAAQAAANtwGkMzbilDAQAAAAEAAABeZOBCNVUdQwEAAAABAAAA
	XmTgQjVVHUMBAAAAAQAAAFRAKULxxRJDAQAAAAEAAAAAAIBAZ5kIQwEAAAABAAAAAACA
	QGeZCEMBAAAAAQAAAOCzs0DClKJCAQAAAAEAAADgs7NAwpSiQgEAAAABAAAABJB5QjZH
	jkIBAAAAAQAAAASQeUI2R45CAQAAAAEAAABOlrFCPwPNQAEAAAABAAAATpaxQj8DzUAB
	AAAAAQAAAGH7C0Mg41tBAQAAAAEAAABh+wtDIONbQQEAAAABAAAAlXQpQ9ATQUEBAAAA
	AQAAAJV0KUPQE0FBAQAAAAEAAADrcVhDf93AQAMAAAADAAAAubhZQ5/klkAlhVtDX4qB
	QHtOXUP/7IJAAwAAAAMAAABz6mJD/slKQMETXkOg4RdBGQNeQ6BQNUEDAAAAAwAAAMEs
	XENo8oBBa1ZaQ5g8p0EVgFhDyIbNQQEAAAABAAAAFYBYQ8iGzUEBAAAAAQAAAPWPckNM
	gw1CAQAAAAEAAAD1j3JDTIMNQgEAAAABAAAAV8RxQ5CGVEIBAAAAAQAAAFfEcUOQhlRC
	AQAAAAEAAADsGYdDqvyDQgMAAAADAAAAVESHQxZihUKyaYdDctGGQq6Kh0NqSYhCAQAA
	AAEAAACuiodDakmIQgMAAAADAAAAKC2HQy4IjELO1IZDBtCPQmh2hkM+jZNCAwAAAAMA
	AADO2oVDQuOcQjw/hEPuK6VCSiSEQ0IJr0IBAAAAAQAAAEokhENCCa9CAQAAAAEAAACg
	xoVDPvDpQgEAAAABAAAAoMaFQz7w6UIBAAAAAQAAAKrvgkM91hhDAQAAAAEAAACs74JD
	P9YYQwMAAAADAAAA9siCQ1G3GEMYo4JDnZUYQ4B+gkO5bxhDAwAAAAMAAABuI4FDpWEW
	Q8fVfkPxahdDret7Q7cfGEMDAAAAAwAAAP1xeEOXaBhDA/t0Q/vaGEMJj3FDO4gZQwMA
	AAADAAAAz3xuQ83nGkP/BGtDJ7IaQ7/7Z0NdMRxDAwAAAAMAAAAjzGRDT68dQ7FGYUOf
	MB5DERdeQ4+uH0MDAAAAAwAAAAmPVkPv3SNDOTNOQ50cJkMjgUZDNfQpQwEAAAABAAAA
	I4FGQzX0KUMBAAAAAQAAAPnZI0O9ZC5DAQAAAAEAAAD52SNDvWQuQwEAAAABAAAA9+Ia
	Q0ldLEMEAAAAAAAAAIAD0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nlc11OU011dGFibGVE
	YXRhoyYnKF1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVjdNoqKywtCS4vMDEyMxw1
	NjccOTUcPF8QGHBhdGhQcm9wZXJ0aWVzX2xhc3RQb2ludF8QHHBhdGhQcm9wZXJ0aWVz
	X2tub3dzSWZDbG9zZWRfEBxwYXRoUHJvcGVydGllc19oYXNGaXJzdFBvaW50XxAhcGF0
	aFByb3BlcnRpZXNfY2FjaGVkRWxlbWVudENvdW50XxAbcGF0aFByb3BlcnRpZXNfaGFz
	TGFzdFBvaW50XxAbcGF0aFByb3BlcnRpZXNfdGFuZ2VudEF0RW5kXxAXcGF0aFByb3Bl
	cnRpZXNfaXNDbG9zZWRfEBVwYXRoUHJvcGVydGllc19pc0ZsYXRfEBlwYXRoUHJvcGVy
	dGllc19maXJzdFBvaW50gAUICRAwgAcIIgAAAAAJCIAGVnswLCAwfV8QKHsxNTQuODg2
	NTgwMDAwMDAwMDEsIDE3Mi4zNjQzOTk5OTk5OTk5OX3SIiNAQV8QFlVJQmV6aWVyUGF0
	aFByb3BlcnRpZXOiQihfEBZVSUJlemllclBhdGhQcm9wZXJ0aWVz0iIjREVcVUlCZXpp
	ZXJQYXRookYoXFVJQmV6aWVyUGF0aF8QD05TS2V5ZWRBcmNoaXZlctFJSlRyb290gAEA
	CAARABoAIwAtADIANwBBAEcAXgBlAIQAqgC5ANUA8QEQAS4BSQFjAYgBigGMAY4BkwGV
	AZoBnwGkAaUBqgGyBW4FcAV1BYAFiQWXBZsFqQWwBbkFzgXpBggGJwZLBmkGhwahBrkG
	1QbXBtgG2QbbBt0G3gbjBuQG5QbnBu4HGQceBzcHOgdTB1gHZQdoB3UHhweKB48AAAAA
	AAACAQAAAAAAAABLAAAAAAAAAAAAAAAAAAAHkQ==
	</data>
	<key>lastSavedUndoHash</key>
	<integer>142049</integer>
</dict>
</plist>
