<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>-32.888637542724609</real>
	<key>backgroundOffset.y</key>
	<real>-142.13365173339844</real>
	<key>backgroundRotation</key>
	<real>1.5500476360321045</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEMgAAAAAAQAAAABxgEDgkolBAQAAAAEA
	AAAAAIBAgId1QQEAAAABAAAAAACAQICHdUEBAAAAAQAAAICS9kBA7SZBAQAAAAEAAACA
	kvZAQO0mQQEAAAABAAAAgFKbQcAhTUEBAAAAAQAAAIBSm0HAIU1BAwAAAAMAAABgQclB
	gElFQYDpskEA2FlAgIrjQQADgUABAAAAAQAAAHCEIkKAIoRAAQAAAAEAAADgiSNCwHOD
	QQEAAAABAAAAgHGAQKCSiUEEAAAAAAAAAIAD0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nl
	c11OU011dGFibGVEYXRhoyYnKF1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVjdNoq
	KywtCS4vMDEyMxwcFTYcODkcO18QGHBhdGhQcm9wZXJ0aWVzX2xhc3RQb2ludF8QHHBh
	dGhQcm9wZXJ0aWVzX2tub3dzSWZDbG9zZWRfEBxwYXRoUHJvcGVydGllc19oYXNGaXJz
	dFBvaW50XxAhcGF0aFByb3BlcnRpZXNfY2FjaGVkRWxlbWVudENvdW50XxAbcGF0aFBy
	b3BlcnRpZXNfaGFzTGFzdFBvaW50XxAbcGF0aFByb3BlcnRpZXNfdGFuZ2VudEF0RW5k
	XxAXcGF0aFByb3BlcnRpZXNfaXNDbG9zZWRfEBVwYXRoUHJvcGVydGllc19pc0ZsYXRf
	EBlwYXRoUHJvcGVydGllc19maXJzdFBvaW50gAUICIAHCCIAAAAACQiABlZ7MCwgMH1W
	ezAsIDB90iIjP0BfEBZVSUJlemllclBhdGhQcm9wZXJ0aWVzokEoXxAWVUlCZXppZXJQ
	YXRoUHJvcGVydGllc9IiI0NEXFVJQmV6aWVyUGF0aKJFKFxVSUJlemllclBhdGhfEA9O
	U0tleWVkQXJjaGl2ZXLRSElUcm9vdIABAAgAEQAaACMALQAyADcAQQBHAF4AZQCEAKoA
	uQDVAPEBEAEuAUkBYwGIAYoBjAGOAZMBlQGaAZ8BpAGlAaoBsgJ9An8ChAKPApgCpgKq
	ArgCvwLIAt0C+AMXAzYDWgN4A5YDsAPIA+QD5gPnA+gD6gPrA/AD8QPyA/QD+wQCBAcE
	IAQjBDwEQQROBFEEXgRwBHMEeAAAAAAAAAIBAAAAAAAAAEoAAAAAAAAAAAAAAAAAAAR6
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
