<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>17.090919494628906</real>
	<key>backgroundOffset.y</key>
	<real>-0.10357666015625</real>
	<key>backgroundRotation</key>
	<real>-1.5973856449127197</real>
	<key>backgroundScale</key>
	<real>2.0066666603088379</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQk4AAAAAAEAAADw5ZJBrK/2QwEAAAAB
	AAAAINSUQcCF3kMBAAAAAQAAACDUlEHAhd5DAQAAAAEAAABgcXdBTC6fQwEAAAABAAAA
	YHF3QUwun0MBAAAAAQAAACDxUkGnV1BDAQAAAAEAAAAg8VJBp1dQQwEAAAABAAAAAACA
	QNTKR0IDAAAAAwAAAMDkikB0TjhCACONQFy7KEIA15RAbDUZQgEAAAABAAAAANeUQGw1
	GUIBAAAAAQAAACCJREGob9hBAQAAAAEAAAAgiURBqG/YQQEAAAABAAAAGFYOQqChi0AD
	AAAAAwAAADiXD0JgM4hASMcQQgBQhEA45xFCAACAQAEAAAABAAAAoHNEQpA9G0EBAAAA
	AQAAAKBzREKQPRtBAQAAAAEAAAAoc2hCUN8bQQEAAAABAAAAKHNoQlDfG0EDAAAAAwAA
	AHA8bUKg5x5BuAVyQtDvIUEIz3ZCMPgkQQMAAAADAAAArGCBQhDHLUEEgIdCkMUwQUxK
	jUKQt0BBAwAAAAMAAACw55NCcBlJQRiFmkIQe1FBfCKhQtDcWUEDAAAAAwAAAMApqEKQ
	xGJB+DCvQlCsa0E0OLZCEJR0QQMAAAADAAAAYFq8QhDefEEwecJCsEJsQbiYyEJQhXdB
	AwAAAAMAAABIVeVCkORoQQQdAUPQtnZBSm8PQ/CbYEEBAAAAAQAAAEpvD0Pwm2BBAQAA
	AAEAAACY3DxDmC2XQQEAAAABAAAAaGFFQxIggkMBAAAAAQAAAGhhRUMSIIJDAQAAAAEA
	AADEtUNDBrXWQwEAAAABAAAAxLVDQwa11kMBAAAAAQAAAITVO0MTsgNEAQAAAAEAAACE
	1TtDE7IDRAEAAAABAAAAkHZ2QtbdA0QBAAAAAQAAAJB2dkLW3QNEAQAAAAEAAAAoiTxC
	MGgFRAEAAAABAAAAKIk8QjBoBUQBAAAAAQAAAOBR3UF+Ff1DAwAAAAMAAACQ4stBcAX7
	Q2DHtEEwN/hD4OWSQayv9kMEAAAAAAAAAAAAAAABAAAAGNV8QmrE40MBAAAAAQAAAIQv
	kkIk/ORDAQAAAAEAAACEL5JCJPzkQwMAAAADAAAA5A2nQhoi5kMURKNCxhXhQ1AxpkLK
	i95DAwAAAAMAAABMdqtCMnDaQwxOpUJ0T9ZDhGmmQpoo0kMBAAAAAQAAAIRppkKaKNJD
	AQAAAAEAAACY7J5CTti2QwEAAAABAAAAmOyeQk7YtkMBAAAAAQAAAIy2mEIKhJlDAwAA
	AAMAAABMrZpC0s2VQyznl0JQOJND5EiQQqjKkUMDAAAAAwAAAAxMkEJMtZFDOE+QQvCf
	kUNgUpBCkoqRQwMAAAADAAAAKI+MQtKfj0OgQIdCCPmPQxSrgUKYh5BDAwAAAAMAAAC4
	VH5CWHiQQ7DseEJadZBDiB1zQq5+kEMDAAAAAwAAACBfaEJy7pBDuFNdQpo+kUPQJFJC
	bG6RQwMAAAADAAAAGAJCQg5HkUPggUdCormTQxC0Q0L6zJRDAwAAAAMAAACwSD1CWJWX
	Q/iiQULAdJpDgA4+QlZFnUMBAAAAAQAAAIAOPkJWRZ1DAQAAAAEAAABo7EtCjJLaQwEA
	AAABAAAAaOxLQoyS2kMBAAAAAQAAAJBnTULq4ttDAQAAAAEAAABgSk1C2jzlQwEAAAAB
	AAAAYEpNQto85UMBAAAAAQAAAGBKTULaPOVDAQAAAAEAAAAQ1XxCaMTjQwQAAAAAAAAA
	AAAAAAEAAABAKvpC5qCyQgMAAAADAAAAxKLxQs7mrELc7+1CziusQqQz6kI+z6tCAwAA
	AAMAAACEIORCni6sQux63UIe/qZCJNPXQhJxq0IDAAAAAwAAAPTM0kKSgbFCeMTUQh7f
	uULMhtJCHtrAQgMAAAADAAAAbH7QQipQyULAMdJCIuXRQlTw0kJeWNpCAwAAAAMAAACg
	LNNCLjLhQjxu00IiDuhC/CLUQprg7kIDAAAAAwAAAHxJ0kJCP/ZCxG/WQsLi/EJE29VC
	WxACQwMAAAADAAAAeHzWQv+8BEMEftZCm28HQzgf10I/HApDAwAAAAMAAADM79ZCg60P
	Q/z62EJfOBVDzA/aQhXMGkMBAAAAAQAAAPgR10IZw3xDAQAAAAEAAAD4EddCGcN8QwMA
	AAADAAAA9KHcQvQVgUMomORCRryAQ6hK60I7n39DAwAAAAMAAADgxvRCG59+Q7h4/ULl
	PXxD5JgDQ5G4e0MDAAAAAwAAAABvC0ORYnpD6DsGQ7u3cUNwAghDI/lsQwMAAAADAAAA
	PDoIQy8XZ0MIcghDKTVhQ+KpCEM1U1tDAwAAAAMAAADu3whDQ6BVQ/wVCUNZ7U9DDEwJ
	Q2k6SkMDAAAAAwAAANA5CkO1U0RDkngIQ991PkNGZglDO484QwMAAAADAAAAVqYJQ8XL
	KEMuDgdDAUUZQ7RGB0PDiQlDAQAAAAEAAAC0RgdDw4kJQwEAAAABAAAA/H8FQ8YawEID
	AAAAAwAAAOAaCUPOibdCjiwEQ2aiskLQSgFDbr+0QgMAAAADAAAAXM//Qka0s0Kk//xC
	zgyzQkAq+kLmoLJCBAAAAAAAAAAAAAAAAQAAAHDwNEKurYBDAQAAAAEAAABw8DRCrq2A
	QwEAAAABAAAADNCaQhmUfUMBAAAAAQAAAAzQmkIZlH1DAQAAAAEAAAAgIJ5COywkQwEA
	AAABAAAAICCeQjssJEMBAAAAAQAAACz1lUKyFL9CAQAAAAEAAAAs9ZVCshS/QgEAAAAB
	AAAA2IwjQh4It0IBAAAAAQAAANiMI0IeCLdCAQAAAAEAAABw8DRCrq2AQwQAAAAAAAAA
	AAAAAAEAAADkld9CCgPjQwEAAAABAAAA7tgNQ64C4kMBAAAAAQAAAO7YDUOuAuJDAQAA
	AAEAAACsQAlD9CG/QwEAAAABAAAArEAJQ/Qhv0MBAAAAAQAAAMzMAkMKEpBDAQAAAAEA
	AADMzAJDChKQQwMAAAADAAAAMPD4QjbckENIt+tCTMqQQ5jU3kLc0JBDAwAAAAMAAABM
	PNhCoqWQQ+hr0EKyD5JDXE/TQtAFlEMBAAAAAQAAAHD82EIIy7BDAQAAAAEAAABw/NhC
	CMuwQwEAAAABAAAA5JXfQgoD40MBAAAAAQAAAOSV30IKA+NDBAAAAAAAAACAA9IiIyQl
	WiRjbGFzc25hbWVYJGNsYXNzZXNdTlNNdXRhYmxlRGF0YaMmJyhdTlNNdXRhYmxlRGF0
	YVZOU0RhdGFYTlNPYmplY3TaKissLQkuLzAxMjMcHBU2HDg5HDtfEBhwYXRoUHJvcGVy
	dGllc19sYXN0UG9pbnRfEBxwYXRoUHJvcGVydGllc19rbm93c0lmQ2xvc2VkXxAccGF0
	aFByb3BlcnRpZXNfaGFzRmlyc3RQb2ludF8QIXBhdGhQcm9wZXJ0aWVzX2NhY2hlZEVs
	ZW1lbnRDb3VudF8QG3BhdGhQcm9wZXJ0aWVzX2hhc0xhc3RQb2ludF8QG3BhdGhQcm9w
	ZXJ0aWVzX3RhbmdlbnRBdEVuZF8QF3BhdGhQcm9wZXJ0aWVzX2lzQ2xvc2VkXxAVcGF0
	aFByb3BlcnRpZXNfaXNGbGF0XxAZcGF0aFByb3BlcnRpZXNfZmlyc3RQb2ludIAFCAiA
	BwgiAAAAAAkIgAZWezAsIDB9VnswLCAwfdIiIz9AXxAWVUlCZXppZXJQYXRoUHJvcGVy
	dGllc6JBKF8QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXPSIiNDRFxVSUJlemllclBhdGii
	RShcVUlCZXppZXJQYXRoXxAPTlNLZXllZEFyY2hpdmVy0UhJVHJvb3SAAQAIABEAGgAj
	AC0AMgA3AEEARwBeAGUAhACqALkA1QDxARABLgFJAWMBiAGKAYwBjgGTAZUBmgGfAaQB
	pQGqAbIK7grwCvULAAsJCxcLGwspCzALOQtOC2kLiAunC8sL6QwHDCEMOQxVDFcMWAxZ
	DFsMXAxhDGIMYwxlDGwMcwx4DJEMlAytDLIMvwzCDM8M4QzkDOkAAAAAAAACAQAAAAAA
	AABKAAAAAAAAAAAAAAAAAAAM6w==
	</data>
	<key>lastSavedUndoHash</key>
	<integer>142049</integer>
</dict>
</plist>
