<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.0</real>
	<key>backgroundOffset.y</key>
	<real>0.0</real>
	<key>backgroundRotation</key>
	<real>0.0</real>
	<key>backgroundScale</key>
	<real>2.0066666603088379</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUISktUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABqQkKHyMrPj9ARVUkbnVsbNsLDA0ODxAREhMUFRYXGBkaGxwcHRweXxAZ
	VUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QGVVJQmV6aWVyUGF0aE1pdGVyTGltaXRL
	ZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV5wYXRoUHJvcGVydGllc1YkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lRGFzaFBoYXNlS2V5XxAcVUlCZXppZXJQYXRoTGluZUpv
	aW5TdHlsZUtleV8QI1VJQmV6aWVyUGF0aExpbmVEYXNoUGF0dGVybkNvdW50S2V5XxAi
	VUlCZXppZXJQYXRoVXNlc0V2ZW5PZGRGaWxsUnVsZUtleV8QG1VJQmV6aWVyUGF0aExp
	bmVDYXBTdHlsZUtleV8QGFVJQmV6aWVyUGF0aExpbmVXaWR0aEtleYACIkEgAAAiPxmZ
	moAEgAgiAAAAABAACCI/gAAA0iAPISJXTlMuZGF0YU8QSAAAAAABAAAAAACAQAAAgEAB
	AAAAAQAAAAAAF0QAAIBAAQAAAAEAAAAAABdE1KDJQwEAAAABAAAAAACAQNSgyUMEAAAA
	AAAAAIAD0iQlJipYJGNsYXNzZXNaJGNsYXNzbmFtZaMnKCldTlNNdXRhYmxlRGF0YVZO
	U0RhdGFYTlNPYmplY3RdTlNNdXRhYmxlRGF0YdosLS4vDzAxMjM0NR0dHTkcOjs8HV8Q
	GHBhdGhQcm9wZXJ0aWVzX2xhc3RQb2ludF8QG3BhdGhQcm9wZXJ0aWVzX2hhc0xhc3RQ
	b2ludF8QHHBhdGhQcm9wZXJ0aWVzX2hhc0ZpcnN0UG9pbnRfEBVwYXRoUHJvcGVydGll
	c19pc0ZsYXRfECFwYXRoUHJvcGVydGllc19jYWNoZWRFbGVtZW50Q291bnRfEBdwYXRo
	UHJvcGVydGllc19pc0Nsb3NlZF8QG3BhdGhQcm9wZXJ0aWVzX3RhbmdlbnRBdEVuZF8Q
	GXBhdGhQcm9wZXJ0aWVzX2ZpcnN0UG9pbnRfEBxwYXRoUHJvcGVydGllc19rbm93c0lm
	Q2xvc2VkgAUICAiABwkiAAAAAIAGCFZ7MCwgMH1WezAsIDB90iQlQUSiQkNfEBZVSUJl
	emllclBhdGhQcm9wZXJ0aWVzWE5TT2JqZWN0XxAWVUlCZXppZXJQYXRoUHJvcGVydGll
	c9IkJUZJokdIXFVJQmV6aWVyUGF0aFhOU09iamVjdFxVSUJlemllclBhdGgSAAGGoF8Q
	D05TS2V5ZWRBcmNoaXZlcgAIABEAFgAfACgAMgA1ADoAPABGAEwAYwB/AJsAtQDEAMsA
	6gEJAS8BVAFyAY0BjwGUAZkBmwGdAaIBpAGlAaoBrwG3AgICBAIJAhICHQIhAi8CNgI/
	Ak0CYgJ9ApsCugLSAvYDEAMuA0oDaQNrA2wDbQNuA3ADcQN2A3gDeQOAA4cDjAOPA6gD
	sQPKA88D0gPfA+gD9QP6AAAAAAAAAgEAAAAAAAAATAAAAAAAAAAAAAAAAAAABAw=
	</data>
	<key>lastSavedUndoHash</key>
	<integer>3482876926</integer>
</dict>
</plist>
