<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.0</real>
	<key>backgroundOffset.y</key>
	<real>0.0</real>
	<key>backgroundRotation</key>
	<real>0.0</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUISElUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABqQkKHyMrPj9ARFUkbnVsbNsLDA0ODxAREhMUFRYXGBkaGxwcHRweXxAZ
	VUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QGVVJQmV6aWVyUGF0aE1pdGVyTGltaXRL
	ZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV5wYXRoUHJvcGVydGllc1YkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lRGFzaFBoYXNlS2V5XxAcVUlCZXppZXJQYXRoTGluZUpv
	aW5TdHlsZUtleV8QI1VJQmV6aWVyUGF0aExpbmVEYXNoUGF0dGVybkNvdW50S2V5XxAi
	VUlCZXppZXJQYXRoVXNlc0V2ZW5PZGRGaWxsUnVsZUtleV8QG1VJQmV6aWVyUGF0aExp
	bmVDYXBTdHlsZUtleV8QGFVJQmV6aWVyUGF0aExpbmVXaWR0aEtleYACIkEgAAAiPxmZ
	moAEgAgiAAAAABAACCI/gAAA0iAPISJXTlMuZGF0YU8RApgAAAAAAQAAAA7wQkNEr1BD
	AQAAAAEAAAAO8EJDRK9QQwEAAAABAAAAStJWQyTfJUMDAAAAAwAAAIQjWEM8TyNDXt1Y
	QwR4IEMC+FhDFJodQwMAAAADAAAA/IRaQ8T5GEPcK1pDwA8UQ3j8WkMQUA9DAwAAAAMA
	AAByxlpD0DUKQ25gXEMwPQVDkudbQzQiAEMDAAAAAwAAAIzKWkN4AvZCdoVbQ2iU60Jm
	R1tDWDrhQgMAAAADAAAAChtaQzBU10J8c1tDGC7NQk41WkOoScNCAwAAAAMAAAB4r1lD
	wFe5QropWUOwZa9C6qNYQ7hzpUIDAAAAAwAAAA4SWEPAE5tChmZVQ/DvkUJwl1NDIFmI
	QgMAAAADAAAAvvlPQ4COfkJIdk5DAHJnQi6DSkMALFZCAwAAAAMAAADw/j9DIP4LQlCb
	L0NgwJVBGFUbQwDjM0EDAAAAAwAAADCD8EIAAOY8AI+VQgA8b78IOj5CYNTkQQEAAAAB
	AAAACDo+QmDU5EEBAAAAAQAAAMBN0EB4isJCAwAAAAMAAAAAA38/+L3+QkCwgUDAsB9D
	ELOmQezBOUMDAAAAAwAAAOB2q0Hw+zxDIBG4QXz7P0NwEspBpFdCQwMAAAADAAAAMOXs
	QYxxRUPwYO5BNF5LQ6hOCEK4fE5DAwAAAAMAAAB4aBhCgClSQyhoJEJQ6FZDuE03QjjS
	WUMDAAAAAwAAAIDgREL4H11D6FpWQnxEX0OAZWhCRJNgQwMAAAADAAAABLGFQjiiZEMY
	NZhCMPBpQ3xOrEKgMGlDAQAAAAEAAAB8TqxCoDBpQwEAAAABAAAA8kEnQ3y4akMBAAAA
	AQAAAPJBJ0N8uGpDAQAAAAEAAAAO8EJDRK9QQwQAAAAAAAAAgAPSJCUmKlgkY2xhc3Nl
	c1okY2xhc3NuYW1loycoKV1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVjdF1OU011
	dGFibGVEYXRh2iwtLi8PMDEyMzQ1HR0dORw6OzwdXxAYcGF0aFByb3BlcnRpZXNfbGFz
	dFBvaW50XxAbcGF0aFByb3BlcnRpZXNfaGFzTGFzdFBvaW50XxAccGF0aFByb3BlcnRp
	ZXNfaGFzRmlyc3RQb2ludF8QFXBhdGhQcm9wZXJ0aWVzX2lzRmxhdF8QIXBhdGhQcm9w
	ZXJ0aWVzX2NhY2hlZEVsZW1lbnRDb3VudF8QF3BhdGhQcm9wZXJ0aWVzX2lzQ2xvc2Vk
	XxAbcGF0aFByb3BlcnRpZXNfdGFuZ2VudEF0RW5kXxAZcGF0aFByb3BlcnRpZXNfZmly
	c3RQb2ludF8QHHBhdGhQcm9wZXJ0aWVzX2tub3dzSWZDbG9zZWSABQgICIAHCSIAAAAA
	gAYIVnswLCAwfVZ7MCwgMH3SJCVBQ6JCKV8QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXNf
	EBZVSUJlemllclBhdGhQcm9wZXJ0aWVz0iQlRUeiRilcVUlCZXppZXJQYXRoXFVJQmV6
	aWVyUGF0aBIAAYagXxAPTlNLZXllZEFyY2hpdmVyAAgAEQAWAB8AKAAyADUAOgA8AEYA
	TABjAH8AmwC1AMQAywDqAQkBLwFUAXIBjQGPAZQBmQGbAZ0BogGkAaUBqgGvAbcEUwRV
	BFoEYwRuBHIEgASHBJAEngSzBM4E7AULBSMFRwVhBX8FmwW6BbwFvQW+Bb8FwQXCBccF
	yQXKBdEF2AXdBeAF+QYSBhcGGgYnBjQGOQAAAAAAAAIBAAAAAAAAAEoAAAAAAAAAAAAA
	AAAAAAZL
	</data>
</dict>
</plist>
