<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>-1.52587890625e-05</real>
	<key>backgroundOffset.y</key>
	<real>3.814697265625e-05</real>
	<key>backgroundRotation</key>
	<real>1.5591220855712891</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQJAAAAAAAEAAABl/ZZDAACAQAEAAAAB
	AAAAnUqYQx78YkMBAAAAAQAAACBO00CudmZDAQAAAAEAAAAAAIBAwFLvQAQAAAAAAAAA
	AAAAAAEAAACor5BCEE/AQgEAAAABAAAAqK+QQhBPwEIBAAAAAQAAAFjqSkKIhqFCAQAA
	AAEAAABY6kpCiIahQgEAAAABAAAAgD7uQcAouUIBAAAAAQAAAIA+7kHAKLlCAQAAAAEA
	AABI9QtCOI7+QgMAAAADAAAAVMgaQoLUBkMwAzpChgwNQ3gMXUJuyQ1DAwAAAAMAAABw
	p4RCktIPQ3ghiULU0wJDON2ZQsjxAEMBAAAAAQAAADjdmULI8QBDAQAAAAEAAADQiRND
	uJ38QgEAAAABAAAA0IkTQ7id/EIBAAAAAQAAAAoCTUMyUAJDAQAAAAEAAAAKAk1DMlAC
	QwEAAAABAAAARWyLQ5BRAkMDAAAAAwAAAERujEO83gFDqXuNQ3jsAUPVeY5DvHECQwMA
	AAADAAAAdfWPQ5w4A0Oj0pFD0GACQzBgkkPctf1CAwAAAAMAAADep5JDxPb2QgbgkkPY
	HvBCMLGSQwhC6UIDAAAAAwAAAF3akkNs095CrXySQwCU1EL+q5JD7CrKQgEAAAABAAAA
	/quSQ+wqykIBAAAAAQAAAORUa0Nk0b5CAQAAAAEAAADkVGtDZNG+QgEAAAABAAAACgQk
	Qzz4wkIBAAAAAQAAAAoEJEM8+MJCAQAAAAEAAACor5BCEE/AQgQAAAAAAAAAgAPSIiMk
	JVokY2xhc3NuYW1lWCRjbGFzc2VzXU5TTXV0YWJsZURhdGGjJicoXU5TTXV0YWJsZURh
	dGFWTlNEYXRhWE5TT2JqZWN02iorLC0JLi8wMTIzHBwVNhw4ORw7XxAYcGF0aFByb3Bl
	cnRpZXNfbGFzdFBvaW50XxAccGF0aFByb3BlcnRpZXNfa25vd3NJZkNsb3NlZF8QHHBh
	dGhQcm9wZXJ0aWVzX2hhc0ZpcnN0UG9pbnRfECFwYXRoUHJvcGVydGllc19jYWNoZWRF
	bGVtZW50Q291bnRfEBtwYXRoUHJvcGVydGllc19oYXNMYXN0UG9pbnRfEBtwYXRoUHJv
	cGVydGllc190YW5nZW50QXRFbmRfEBdwYXRoUHJvcGVydGllc19pc0Nsb3NlZF8QFXBh
	dGhQcm9wZXJ0aWVzX2lzRmxhdF8QGXBhdGhQcm9wZXJ0aWVzX2ZpcnN0UG9pbnSABQgI
	gAcIIgAAAAAJCIAGVnswLCAwfVZ7MCwgMH3SIiM/QF8QFlVJQmV6aWVyUGF0aFByb3Bl
	cnRpZXOiQShfEBZVSUJlemllclBhdGhQcm9wZXJ0aWVz0iIjQ0RcVUlCZXppZXJQYXRo
	okUoXFVJQmV6aWVyUGF0aF8QD05TS2V5ZWRBcmNoaXZlctFISVRyb290gAEACAARABoA
	IwAtADIANwBBAEcAXgBlAIQAqgC5ANUA8QEQAS4BSQFjAYgBigGMAY4BkwGVAZoBnwGk
	AaUBqgGyA/YD+AP9BAgEEQQfBCMEMQQ4BEEEVgRxBJAErwTTBPEFDwUpBUEFXQVfBWAF
	YQVjBWQFaQVqBWsFbQV0BXsFgAWZBZwFtQW6BccFygXXBekF7AXxAAAAAAAAAgEAAAAA
	AAAASgAAAAAAAAAAAAAAAAAABfM=
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
