<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allScrapProperties</key>
	<array>
		<dict>
			<key>center.x</key>
			<real>377.20852661132812</real>
			<key>center.y</key>
			<real>584.4525146484375</real>
			<key>rotation</key>
			<real>-1.5666065216064453</real>
			<key>scale</key>
			<real>1.9887120723724365</real>
			<key>subviewIndex</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>59CC0B78-4B71-4596-BFC4-0884D52FE4F8</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>676.87158203125</real>
			<key>center.y</key>
			<real>907.68682861328125</real>
			<key>rotation</key>
			<real>-1.6016428470611572</real>
			<key>scale</key>
			<real>0.25377243757247925</real>
			<key>subviewIndex</key>
			<integer>1</integer>
			<key>uuid</key>
			<string>21807354-32A7-4C60-8164-58FF86A001A1</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>667.375244140625</real>
			<key>center.y</key>
			<real>170.37522888183594</real>
			<key>rotation</key>
			<real>-1.5734584331512451</real>
			<key>scale</key>
			<real>0.25436383485794067</real>
			<key>subviewIndex</key>
			<integer>2</integer>
			<key>uuid</key>
			<string>0B17189E-D36D-4C02-A6CB-28FC8074715A</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>456.16940307617188</real>
			<key>center.y</key>
			<real>547.98809814453125</real>
			<key>rotation</key>
			<real>0.014788202941417694</real>
			<key>scale</key>
			<real>0.84961128234863281</real>
			<key>subviewIndex</key>
			<integer>3</integer>
			<key>uuid</key>
			<string>A7463DAE-43F4-4704-B78D-4106813C549A</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>662.41021728515625</real>
			<key>center.y</key>
			<real>534.5135498046875</real>
			<key>rotation</key>
			<real>-1.5755573511123657</real>
			<key>scale</key>
			<real>1.0181223154067993</real>
			<key>subviewIndex</key>
			<integer>4</integer>
			<key>uuid</key>
			<string>B0A58E9D-5E26-426A-B56F-D1468ED5A123</string>
		</dict>
	</array>
	<key>scrapsOnPageIDs</key>
	<array>
		<string>59CC0B78-4B71-4596-BFC4-0884D52FE4F8</string>
		<string>21807354-32A7-4C60-8164-58FF86A001A1</string>
		<string>0B17189E-D36D-4C02-A6CB-28FC8074715A</string>
		<string>A7463DAE-43F4-4704-B78D-4106813C549A</string>
		<string>B0A58E9D-5E26-426A-B56F-D1468ED5A123</string>
	</array>
</dict>
</plist>
