<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.0</real>
	<key>backgroundOffset.y</key>
	<real>0.0</real>
	<key>backgroundRotation</key>
	<real>0.0</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUISElUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABqQkKHyMrPj9ARFUkbnVsbNsLDA0ODxAREhMUFRYXGBkaGxwcHRweXxAZ
	VUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QGVVJQmV6aWVyUGF0aE1pdGVyTGltaXRL
	ZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV5wYXRoUHJvcGVydGllc1YkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lRGFzaFBoYXNlS2V5XxAcVUlCZXppZXJQYXRoTGluZUpv
	aW5TdHlsZUtleV8QI1VJQmV6aWVyUGF0aExpbmVEYXNoUGF0dGVybkNvdW50S2V5XxAi
	VUlCZXppZXJQYXRoVXNlc0V2ZW5PZGRGaWxsUnVsZUtleV8QG1VJQmV6aWVyUGF0aExp
	bmVDYXBTdHlsZUtleV8QGFVJQmV6aWVyUGF0aExpbmVXaWR0aEtleYACIkEgAAAiPxmZ
	moAEgAgiAAAAABAACCI/gAAA0iAPISJXTlMuZGF0YU8RAbgAAAAAAQAAAJRNWkMK44FD
	AwAAAAMAAAAq9HZDFCRlQ1C8eEP0FTJDmsBuQzTJBkMBAAAAAQAAAJrAbkM0yQZDAQAA
	AAEAAAC0mGFDkDGUQgEAAAABAAAAtJhhQ5AxlEIBAAAAAQAAAGoDRUNAoCJCAQAAAAEA
	AABqA0VDQKAiQgEAAAABAAAA9sAFQ4Dgs0ABAAAAAQAAAPbABUOA4LNAAQAAAAEAAAAM
	oDNCAACAQAEAAAABAAAADKAzQgAAgEABAAAAAQAAAKgclUFAbe9BAQAAAAEAAACoHJVB
	QG3vQQEAAAABAAAAAACAQEycN0MBAAAAAQAAAAAAgEBMnDdDAQAAAAEAAAAoJylChMZs
	QwEAAAABAAAAKCcpQoTGbEMBAAAAAQAAAKzgFkJk6JdDAQAAAAEAAACs4BZCZOiXQwEA
	AAABAAAAMLOJQuatqEMBAAAAAQAAADCziULmrahDAQAAAAEAAADCMgpDLnelQwEAAAAB
	AAAAwjIKQy53pUMBAAAAAQAAAPKYSUNArYpDAQAAAAEAAADymElDQK2KQwEAAAABAAAA
	lE1aQwrjgUMEAAAAAAAAAIAD0iQlJipYJGNsYXNzZXNaJGNsYXNzbmFtZaMnKCldTlNN
	dXRhYmxlRGF0YVZOU0RhdGFYTlNPYmplY3RdTlNNdXRhYmxlRGF0YdosLS4vDzAxMjM0
	NR0dHTkcOjs8HV8QGHBhdGhQcm9wZXJ0aWVzX2xhc3RQb2ludF8QG3BhdGhQcm9wZXJ0
	aWVzX2hhc0xhc3RQb2ludF8QHHBhdGhQcm9wZXJ0aWVzX2hhc0ZpcnN0UG9pbnRfEBVw
	YXRoUHJvcGVydGllc19pc0ZsYXRfECFwYXRoUHJvcGVydGllc19jYWNoZWRFbGVtZW50
	Q291bnRfEBdwYXRoUHJvcGVydGllc19pc0Nsb3NlZF8QG3BhdGhQcm9wZXJ0aWVzX3Rh
	bmdlbnRBdEVuZF8QGXBhdGhQcm9wZXJ0aWVzX2ZpcnN0UG9pbnRfEBxwYXRoUHJvcGVy
	dGllc19rbm93c0lmQ2xvc2VkgAUICAiABwkiAAAAAIAGCFZ7MCwgMH1WezAsIDB90iQl
	QUOiQilfEBZVSUJlemllclBhdGhQcm9wZXJ0aWVzXxAWVUlCZXppZXJQYXRoUHJvcGVy
	dGllc9IkJUVHokYpXFVJQmV6aWVyUGF0aFxVSUJlemllclBhdGgSAAGGoF8QD05TS2V5
	ZWRBcmNoaXZlcgAIABEAFgAfACgAMgA1ADoAPABGAEwAYwB/AJsAtQDEAMsA6gEJAS8B
	VAFyAY0BjwGUAZkBmwGdAaIBpAGlAaoBrwG3A3MDdQN6A4MDjgOSA6ADpwOwA74D0wPu
	BAwEKwRDBGcEgQSfBLsE2gTcBN0E3gTfBOEE4gTnBOkE6gTxBPgE/QUABRkFMgU3BToF
	RwVUBVkAAAAAAAACAQAAAAAAAABKAAAAAAAAAAAAAAAAAAAFaw==
	</data>
</dict>
</plist>
