<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hasConverted</key>
	<true/>
	<key>stackOfStrokes</key>
	<array>
		<string>1</string>
		<string>1</string>
		<string>751153716</string>
		<string>112970864</string>
		<string>4116160690</string>
		<string>1</string>
		<string>672580895</string>
		<string>2674188189</string>
		<string>2347933566</string>
		<string>2348016312</string>
	</array>
	<key>stackOfUndoneStrokes</key>
	<array>
		<string>2630447480</string>
		<string>314105779</string>
		<string>873473010</string>
		<string>1052635987</string>
		<string>3940449156</string>
		<string>1</string>
		<string>3865183316</string>
		<string>2100757424</string>
		<string>3644670804</string>
	</array>
	<key>undoHash</key>
	<integer>409558660</integer>
</dict>
</plist>
