<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.0</real>
	<key>backgroundOffset.y</key>
	<real>0.0</real>
	<key>backgroundRotation</key>
	<real>0.0</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUISElUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABqQkKHyMrPj9ARFUkbnVsbNsLDA0ODxAREhMUFRYXGBkaGxwcHRweXxAZ
	VUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QGVVJQmV6aWVyUGF0aE1pdGVyTGltaXRL
	ZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV5wYXRoUHJvcGVydGllc1YkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lRGFzaFBoYXNlS2V5XxAcVUlCZXppZXJQYXRoTGluZUpv
	aW5TdHlsZUtleV8QI1VJQmV6aWVyUGF0aExpbmVEYXNoUGF0dGVybkNvdW50S2V5XxAi
	VUlCZXppZXJQYXRoVXNlc0V2ZW5PZGRGaWxsUnVsZUtleV8QG1VJQmV6aWVyUGF0aExp
	bmVDYXBTdHlsZUtleV8QGFVJQmV6aWVyUGF0aExpbmVXaWR0aEtleYACIkEgAAAiPxmZ
	moAEgAgiAAAAABAACCI/gAAA0iAPISJXTlMuZGF0YU8RA9gAAAAAAQAAAMway0NdboBD
	AQAAAAEAAADMGstDXW6AQwEAAAABAAAA2WjQQ5ZjPkMBAAAAAQAAANlo0EOWYz5DAQAA
	AAEAAAAfG89D0KH+QgEAAAABAAAAHxvPQ9Ch/kIBAAAAAQAAACioo0OwnbZBAQAAAAEA
	AAAoqKNDsJ22QQEAAAABAAAAO42CQ4DVpEADAAAAAwAAAMQUgUNA6YRACAZ/QwCJc0CQ
	8XtDAEqDQAMAAAADAAAA/D53QwC5bUAMoHJDQBSXQND3bUOANKJAAwAAAAMAAACg0WdD
	AFV+QNLPZUMABSlBClJiQ+BZXUEDAAAAAwAAAErOXENAOqJB8qBYQ0CF5kFMtFBDWB4D
	QgEAAAABAAAATLRQQ1geA0IBAAAAAQAAAO54dkIIMGtCAQAAAAEAAADueHZCCDBrQgEA
	AAABAAAAKnc4Qnhr4EIBAAAAAQAAACp3OEJ4a+BCAQAAAAEAAAAAAIBAplocQwEAAAAB
	AAAAAACAQKZaHEMBAAAAAQAAALBsCkE+nEhDAwAAAAMAAACgp9bAWmE6Q/wZ0UGGz1hD
	aJiDQbbVT0MDAAAAAwAAAOD9tkFaU1ZDYEHnQT7mXkNwDc1BTgNpQwMAAAADAAAA4GjH
	QeLLbkNcTrNBsmd0Q5hxu0GCVnpDAwAAAAMAAAAgYMpBz0uDQzyFwUG7OIpDIhUBQmlO
	j0MBAAAAAQAAACIVAUJpTo9DAQAAAAEAAAAz6YFCjeaYQwEAAAABAAAAM+mBQo3mmEMB
	AAAAAQAAACHpyUI5Ob5DAQAAAAEAAAAh6clCOTm+QwEAAAABAAAAtKcIQ4sRt0MBAAAA
	AQAAALSnCEOLEbdDAQAAAAEAAACMbCdDbdvRQwMAAAADAAAAOKwtQ5dv10NqrDlDBU3X
	Q3gUREO5otZDAwAAAAMAAABkfldDM4bWQza5WENn5MFD6CxxQ0e8zkMDAAAAAwAAAHdb
	gEO7dNRDXdqJQ8tl2kPSBpRD96vYQwMAAAADAAAA/JCWQ5ex2EOTF5lDOynYQzxom0NT
	JNdDAwAAAAMAAAB/3Z1DWXDVQ4YgoEObcNNDlRGiQ60p0UMDAAAAAwAAANQoo0NjCM9D
	F2akQz+wzENz2aNDPzDKQwMAAAADAAAAgP2jQ4flxUNVa6JDKUfBQxzBpEPrRb1DAQAA
	AAEAAAAcwaRD60W9QwEAAAABAAAAVzC6Q+OFu0MDAAAAAwAAAIOCx0M5a7dDlCLDQx0B
	qEMm0cJDfTSdQwEAAAABAAAAJtHCQ300nUMBAAAAAQAAAMway0NdboBDBAAAAAAAAACA
	A9IkJSYqWCRjbGFzc2VzWiRjbGFzc25hbWWjJygpXU5TTXV0YWJsZURhdGFWTlNEYXRh
	WE5TT2JqZWN0XU5TTXV0YWJsZURhdGHaLC0uLw8wMTIzNDUdHR05HDo7PB1fEBhwYXRo
	UHJvcGVydGllc19sYXN0UG9pbnRfEBtwYXRoUHJvcGVydGllc19oYXNMYXN0UG9pbnRf
	EBxwYXRoUHJvcGVydGllc19oYXNGaXJzdFBvaW50XxAVcGF0aFByb3BlcnRpZXNfaXNG
	bGF0XxAhcGF0aFByb3BlcnRpZXNfY2FjaGVkRWxlbWVudENvdW50XxAXcGF0aFByb3Bl
	cnRpZXNfaXNDbG9zZWRfEBtwYXRoUHJvcGVydGllc190YW5nZW50QXRFbmRfEBlwYXRo
	UHJvcGVydGllc19maXJzdFBvaW50XxAccGF0aFByb3BlcnRpZXNfa25vd3NJZkNsb3Nl
	ZIAFCAgIgAcJIgAAAACABghWezAsIDB9VnswLCAwfdIkJUFDokIpXxAWVUlCZXppZXJQ
	YXRoUHJvcGVydGllc18QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXPSJCVFR6JGKVxVSUJl
	emllclBhdGhcVUlCZXppZXJQYXRoEgABhqBfEA9OU0tleWVkQXJjaGl2ZXIACAARABYA
	HwAoADIANQA6ADwARgBMAGMAfwCbALUAxADLAOoBCQEvAVQBcgGNAY8BlAGZAZsBnQGi
	AaQBpQGqAa8BtwWTBZUFmgWjBa4FsgXABccF0AXeBfMGDgYsBksGYwaHBqEGvwbbBvoG
	/Ab9Bv4G/wcBBwIHBwcJBwoHEQcYBx0HIAc5B1IHVwdaB2cHdAd5AAAAAAAAAgEAAAAA
	AAAASgAAAAAAAAAAAAAAAAAAB4s=
	</data>
</dict>
</plist>
