.DS_Store
Paper Stack/Paper Stack.xcodeproj/project.xcworkspace/xcuserdata/adam.xcuserdatad/UserInterfaceState.xcuserstate
Paper Stack/Paper Stack.xcodeproj/project.xcworkspace/xcuserdata/adam.xcuserdatad/xcdebugger/
Icons/.DS_Store
Paper Stack/DerivedData/
Paper Stack/Paper Stack.xcodeproj/xcuserdata/adam.xcuserdatad/xcdebugger/
