LooseLeaf.xcworkspace/xcuserdata/
Project/LooseLeaf.xcodeproj/xcuserdata
Project/LooseLeaf.xcodeproj/xcuserdata/developer.xcuserdatad/
Project/LooseLeaf.xcodeproj/xcuserdata/adam.xcuserdatad
TestData
*adam.*
.DS_Store
Icons/.DS_Store
DerivedData
Paper Stack/DerivedData/
