[submodule "Submodules/JotUI"]
	path = Submodules/JotUI
	url = git@github.com:adamwulf/JotUI.git
[submodule "Submodules/ColorWithHex"]
	path = Submodules/ColorWithHex
	url = git@github.com:anjerodesu/UIColor-ColorWithHex.git
[submodule "Submodules/touch-chart"]
	path = Submodules/touch-chart
	url = git@github.com:adamwulf/touch-chart.git
[submodule "Submodules/fishhook"]
	path = Submodules/fishhook
	url = git@github.com:facebook/fishhook.git
[submodule "Submodules/vectorboolean"]
	path = Submodules/vectorboolean
	url = git@github.com:adamwulf/vectorboolean.git
[submodule "Submodules/mixpanel"]
	path = Submodules/mixpanel
	url = git@github.com:mixpanel/mixpanel-iphone.git
[submodule "Submodules/sskeychain"]
	path = Submodules/sskeychain
	url = git@github.com:soffes/sskeychain.git
[submodule "Submodules/FXBlurView"]
	path = Submodules/FXBlurView
	url = git@github.com:adamwulf/FXBlurView.git
[submodule "Submodules/AFNetworking"]
	path = Submodules/AFNetworking
	url = git@github.com:AFNetworking/AFNetworking.git
[submodule "Submodules/eppz-kit"]
	path = Submodules/eppz-kit
	url = git@github.com:eppz/eppz.kit.git
[submodule "Submodules/cloudkit-manager"]
	path = Submodules/cloudkit-manager
	url = git@github.com:adamwulf/cloudkit-manager.git
[submodule "Submodules/zip-archive"]
	path = Submodules/zip-archive
	url = git@github.com:mattconnolly/ZipArchive.git
[submodule "Submodules/ClippingBezier"]
	path = Submodules/ClippingBezier
	url = git@github.com:adamwulf/ClippingBezier.git
[submodule "Submodules/MMStretchGestureRecognizers"]
	path = Submodules/MMStretchGestureRecognizers
	url = git@github.com:adamwulf/MMStretchGestureRecognizers.git
[submodule "Submodules/NSString-MD5"]
	path = Submodules/NSString-MD5
	url = git@github.com:H2CO3/NSString-MD5.git
[submodule "Submodules/MMMarkdown"]
	path = Submodules/MMMarkdown
	url = git@github.com:adamwulf/MMMarkdown.git
[submodule "Submodules/spacecommander"]
	path = Submodules/spacecommander
	url = git@github.com:square/spacecommander.git
