[submodule "Submodules/JotUI"]
	path = Submodules/JotUI
	url = git@github.com:adamwulf/JotUI.git
[submodule "Submodules/DYRateView"]
	path = Submodules/DYRateView
	url = git@github.com:dyang/DYRateView.git
