<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>4.3560638427734375</real>
	<key>backgroundOffset.y</key>
	<real>1.15576171875</real>
	<key>backgroundRotation</key>
	<real>1.5632947683334351</real>
	<key>backgroundScale</key>
	<real>2.0066666603088379</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQEYAAAAAAEAAABgDhtCAPQ5QQEAAAAB
	AAAAYA4bQgD0OUEBAAAAAQAAAMCAtkHEFQdDAQAAAAEAAADAgLZBxBUHQwEAAAABAAAA
	AACAQBsY4kMBAAAAAQAAAAAAgEAbGOJDAQAAAAEAAAD0OBNC83LjQwEAAAABAAAA9DgT
	QvNy40MBAAAAAQAAAIR8N0JiaBJEAQAAAAEAAACEfDdCYmgSRAEAAAABAAAAxHjIQiCS
	FUQBAAAAAQAAAMR4yEIgkhVEAQAAAAEAAABXNMNDmkoTRAEAAAABAAAAVzTDQ5pKE0QB
	AAAAAQAAAGMYw0MAAIBAAQAAAAEAAABjGMNDAACAQAEAAAABAAAAYA4bQgD0OUEEAAAA
	AAAAAIAD0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nlc11OU011dGFibGVEYXRhoyYnKF1O
	U011dGFibGVEYXRhVk5TRGF0YVhOU09iamVjdNoqKywtCS4vMDEyMxwcFTYcODkcO18Q
	GHBhdGhQcm9wZXJ0aWVzX2xhc3RQb2ludF8QHHBhdGhQcm9wZXJ0aWVzX2tub3dzSWZD
	bG9zZWRfEBxwYXRoUHJvcGVydGllc19oYXNGaXJzdFBvaW50XxAhcGF0aFByb3BlcnRp
	ZXNfY2FjaGVkRWxlbWVudENvdW50XxAbcGF0aFByb3BlcnRpZXNfaGFzTGFzdFBvaW50
	XxAbcGF0aFByb3BlcnRpZXNfdGFuZ2VudEF0RW5kXxAXcGF0aFByb3BlcnRpZXNfaXND
	bG9zZWRfEBVwYXRoUHJvcGVydGllc19pc0ZsYXRfEBlwYXRoUHJvcGVydGllc19maXJz
	dFBvaW50gAUICIAHCCIAAAAACQiABlZ7MCwgMH1WezAsIDB90iIjP0BfEBZVSUJlemll
	clBhdGhQcm9wZXJ0aWVzokEoXxAWVUlCZXppZXJQYXRoUHJvcGVydGllc9IiI0NEXFVJ
	QmV6aWVyUGF0aKJFKFxVSUJlemllclBhdGhfEA9OU0tleWVkQXJjaGl2ZXLRSElUcm9v
	dIABAAgAEQAaACMALQAyADcAQQBHAF4AZQCEAKoAuQDVAPEBEAEuAUkBYwGIAYoBjAGO
	AZMBlQGaAZ8BpAGlAaoBsgLOAtAC1QLgAukC9wL7AwkDEAMZAy4DSQNoA4cDqwPJA+cE
	AQQZBDUENwQ4BDkEOwQ8BEEEQgRDBEUETARTBFgEcQR0BI0EkgSfBKIErwTBBMQEyQAA
	AAAAAAIBAAAAAAAAAEoAAAAAAAAAAAAAAAAAAATL
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
