<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.5978240966796875</real>
	<key>backgroundOffset.y</key>
	<real>-0.92999267578125</real>
	<key>backgroundRotation</key>
	<real>1.5704429149627686</real>
	<key>backgroundScale</key>
	<real>2.0066666603088379</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQPoAAAAAAEAAADIeBFCYmP6QgEAAAAB
	AAAAfEUWQmiM3kIBAAAAAQAAAHxFFkJojN5CAQAAAAEAAACsTzNC2P1UQQEAAAABAAAA
	+AY3Qrj9GkEDAAAAAwAAAHDiaULQlBZBfmyOQhAvGUGIvadCgNcFQQMAAAADAAAABizD
	QiDLAUGsmt5CIH37QBgJ+kLwZPNAAwAAAAMAAAA0JgtDQA3rQMJHGUPQteJAdGknQyBe
	2kADAAAAAwAAAFC2NENAhNJAMgNCQ0CqykAEUE9DYNDCQAMAAAADAAAARv1bQ2BUu0B0
	qmhD8NizQMZXdUMAXaxAAwAAAAMAAAAaJ4JD4IejQFuiiUMAsppAkB2RQ1DdkUADAAAA
	AwAAAMr0lkMAA3JA5MGcQ3BjoEBglaJD4CelQAMAAAADAAAAzaynQwAln0A4xKxDICKZ
	QKDbsUMgH5NAAwAAAAMAAADbvbZDIFuNQBOgu0Mgl4dASYLAQ+DSgUADAAAAAwAAAB0G
	wUNgN4FA74nBQ7CbgEC/DcJDAACAQAEAAAABAAAAw6u/Q9oYE0QBAAAAAQAAALurv0Pa
	GBNEAQAAAAEAAAA88KdDf74RRAEAAAABAAAAPPCnQ3++EUQBAAAAAQAAAGqgRkM5IRFE
	AQAAAAEAAABqoEZDOSERRAEAAAABAAAAJCdiQo+QEkQBAAAAAQAAACQnYkKPkBJEAQAA
	AAEAAAAsCD1Cox8LRAMAAAADAAAA3OU3QqVTCURMRihCRoYIREReFEKmGwhEAQAAAAEA
	AABEXhRCphsIRAMAAAADAAAAREkUQpD/B0S4LRRCeOMHRMgKFEJcxwdEAwAAAAMAAADE
	7Q5C/yEGREBAGkIRkgRE4BgaQj7wAkQDAAAAAwAAANCdHkJqYwFEaGMaQvCi/0MYNhtC
	8YT8QwMAAAADAAAATMAaQvBm+UOAShpC7kj2Q7TUGULqKvNDAwAAAAMAAADwpP1BUKnq
	Q1DzUkIxztFDwNCCQa682kMBAAAAAQAAAMDQgkGuvNpDAQAAAAEAAABAJ+xAA/qfQwMA
	AAADAAAAgAz4QCymn0MwQwFBjE6fQzC1BUGQ855DAQAAAAEAAAAAAIBAnlkYQwEAAAAB
	AAAAAACAQJ5ZGEMBAAAAAQAAAGD0iEFJHxZDAwAAAAMAAACI+pdBRMMWQ5Dsp0HCFRdD
	ONG3QVkdF0MDAAAAAwAAAEAt2EFNshhD+KD6QbQEGEPs0glCSV8TQwEAAAABAAAAUOQJ
	QucsE0MBAAAAAQAAALzxE0KmvxJDAQAAAAEAAAC88RNCpr8SQwEAAAABAAAAyHgRQmBj
	+kIEAAAAAAAAAIAD0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nlc11OU011dGFibGVEYXRh
	oyYnKF1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVjdNoqKywtCS4vMDEyMxwcFTYc
	ODkcO18QGHBhdGhQcm9wZXJ0aWVzX2xhc3RQb2ludF8QHHBhdGhQcm9wZXJ0aWVzX2tu
	b3dzSWZDbG9zZWRfEBxwYXRoUHJvcGVydGllc19oYXNGaXJzdFBvaW50XxAhcGF0aFBy
	b3BlcnRpZXNfY2FjaGVkRWxlbWVudENvdW50XxAbcGF0aFByb3BlcnRpZXNfaGFzTGFz
	dFBvaW50XxAbcGF0aFByb3BlcnRpZXNfdGFuZ2VudEF0RW5kXxAXcGF0aFByb3BlcnRp
	ZXNfaXNDbG9zZWRfEBVwYXRoUHJvcGVydGllc19pc0ZsYXRfEBlwYXRoUHJvcGVydGll
	c19maXJzdFBvaW50gAUICIAHCCIAAAAACQiABlZ7MCwgMH1WezAsIDB90iIjP0BfEBZV
	SUJlemllclBhdGhQcm9wZXJ0aWVzokEoXxAWVUlCZXppZXJQYXRoUHJvcGVydGllc9Ii
	I0NEXFVJQmV6aWVyUGF0aKJFKFxVSUJlemllclBhdGhfEA9OU0tleWVkQXJjaGl2ZXLR
	SElUcm9vdIABAAgAEQAaACMALQAyADcAQQBHAF4AZQCEAKoAuQDVAPEBEAEuAUkBYwGI
	AYoBjAGOAZMBlQGaAZ8BpAGlAaoBsgWeBaAFpQWwBbkFxwXLBdkF4AXpBf4GGQY4BlcG
	ewaZBrcG0QbpBwUHBwcIBwkHCwcMBxEHEgcTBxUHHAcjBygHQQdEB10HYgdvB3IHfweR
	B5QHmQAAAAAAAAIBAAAAAAAAAEoAAAAAAAAAAAAAAAAAAAeb
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
