<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>-2.260955810546875</real>
	<key>backgroundOffset.y</key>
	<real>2.13897705078125</real>
	<key>backgroundRotation</key>
	<real>0.0084143877029418945</real>
	<key>backgroundScale</key>
	<real>2.0119950771331787</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGR0hYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKT0+P0NVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQO4AAAAAAEAAAAnBQtEtHcNRAMAAAAD
	AAAAkhEKRNL6DkREhwhEsMURRLogBkTMeRZEAwAAAAMAAAAwDANEmt4WRHEOAESs8hVE
	9A76Q9SOFUQBAAAAAQAAAPQO+kPUjhVEAQAAAAEAAACK+e1DCav3QwEAAAABAAAAivnt
	Qwmr90MBAAAAAQAAAIJq20P/E9dDAQAAAAEAAACCattD/xPXQwEAAAABAAAAhAXYQ+Fs
	n0MBAAAAAQAAAIQF2EPhbJ9DAQAAAAEAAAAIXtND/kJoQwEAAAABAAAACF7TQ/5CaEMB
	AAAAAQAAAJUw10MEdv1CAQAAAAEAAACVMNdDBHb9QgEAAAABAAAAH1iUQ0gu+kIBAAAA
	AQAAAB9YlENILvpCAQAAAAEAAAB0STxDLIT9QgEAAAABAAAAdEk8QyyE/UIBAAAAAQAA
	AAL/OEO9O4VDAQAAAAEAAAAC/zhDvTuFQwEAAAABAAAA6powQ1v82EMDAAAAAwAAAJ3j
	uULveuBDADcNQ/onEkRxQK1CGFAXRAEAAAABAAAAX9GNQqBHF0QDAAAAAwAAAPlpi0J4
	IRdEnyKJQkrzFkSDB4dCAL4WRAMAAAADAAAADjx2Qt7iFESSzTRC8F4XRJhcWUKANRJE
	AwAAAAMAAACWP15C2EcQRJIiY0IwWg5EjgVoQopsDEQDAAAAAwAAADZ6bEJ2qgpEwu5w
	QlboCERiY3VCQCYHRAMAAAADAAAADth5Qi5kBUSWTH5CDqIDRJ1ggUL43wFEAwAAAAMA
	AACDiINCZCwARG2whUKh8fxDVdiHQnuK+UMDAAAAAwAAAJ0tiUK/N/ZDYSuOQrXy8kPx
	X4tCiZDvQwMAAAADAAAAs6+RQrc150OzZItCZbHeQ6WVkUKLWNZDAQAAAAEAAACllZFC
	i1jWQwEAAAABAAAA0RaDQtFUl0MBAAAAAQAAANEWg0LRVJdDAQAAAAEAAAAw9hxCfJ0t
	QwEAAAABAAAAMPYcQnydLUMBAAAAAQAAAAAAgEDMOoZCAQAAAAEAAACg/pBAAACAQAEA
	AAABAAAApwQWROAtEEEBAAAAAQAAAJfkFUQMH4lCAQAAAAEAAACV5BVEDB+JQgEAAAAB
	AAAAlRoTRNCOqUIBAAAAAQAAAJUaE0TQjqlCAQAAAAEAAABXbAxEbJccQwMAAAADAAAA
	4LQDRIW+gEPD5QREtzq2Q1ZQBkS/uupDAQAAAAEAAABWUAZEv7rqQwEAAAABAAAAJwUL
	RLJ3DUQEAAAAAAAAAIAD0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nlc11OU011dGFibGVE
	YXRhoyYnKF1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVjdNoqKywtCS4vMDEyMxw1
	NjccOTUcPF8QGHBhdGhQcm9wZXJ0aWVzX2xhc3RQb2ludF8QHHBhdGhQcm9wZXJ0aWVz
	X2tub3dzSWZDbG9zZWRfEBxwYXRoUHJvcGVydGllc19oYXNGaXJzdFBvaW50XxAhcGF0
	aFByb3BlcnRpZXNfY2FjaGVkRWxlbWVudENvdW50XxAbcGF0aFByb3BlcnRpZXNfaGFz
	TGFzdFBvaW50XxAbcGF0aFByb3BlcnRpZXNfdGFuZ2VudEF0RW5kXxAXcGF0aFByb3Bl
	cnRpZXNfaXNDbG9zZWRfEBVwYXRoUHJvcGVydGllc19pc0ZsYXRfEBlwYXRoUHJvcGVy
	dGllc19maXJzdFBvaW50gAUICRAwgAcIIgAAAAAJCIAGVnswLCAwfV8QH3s1NTYuMDgw
	NTEsIDU2NS44NzAzNjAwMDAwMDAwMX3SIiNAQV8QFlVJQmV6aWVyUGF0aFByb3BlcnRp
	ZXOiQihfEBZVSUJlemllclBhdGhQcm9wZXJ0aWVz0iIjREVcVUlCZXppZXJQYXRookYo
	XFVJQmV6aWVyUGF0aF8QD05TS2V5ZWRBcmNoaXZlctFJSlRyb290gAEACAARABoAIwAt
	ADIANwBBAEcAXgBlAIQAqgC5ANUA8QEQAS4BSQFjAYgBigGMAY4BkwGVAZoBnwGkAaUB
	qgGyBW4FcAV1BYAFiQWXBZsFqQWwBbkFzgXpBggGJwZLBmkGhwahBrkG1QbXBtgG2Qbb
	Bt0G3gbjBuQG5QbnBu4HEAcVBy4HMQdKB08HXAdfB2wHfgeBB4YAAAAAAAACAQAAAAAA
	AABLAAAAAAAAAAAAAAAAAAAHiA==
	</data>
	<key>lastSavedUndoHash</key>
	<integer>142049</integer>
</dict>
</plist>
