<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.0</real>
	<key>backgroundOffset.y</key>
	<real>0.0</real>
	<key>backgroundRotation</key>
	<real>0.0</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUISElUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABqQkKHyMrPj9ARFUkbnVsbNsLDA0ODxAREhMUFRYXGBkaGxwcHRweXxAZ
	VUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QGVVJQmV6aWVyUGF0aE1pdGVyTGltaXRL
	ZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV5wYXRoUHJvcGVydGllc1YkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lRGFzaFBoYXNlS2V5XxAcVUlCZXppZXJQYXRoTGluZUpv
	aW5TdHlsZUtleV8QI1VJQmV6aWVyUGF0aExpbmVEYXNoUGF0dGVybkNvdW50S2V5XxAi
	VUlCZXppZXJQYXRoVXNlc0V2ZW5PZGRGaWxsUnVsZUtleV8QG1VJQmV6aWVyUGF0aExp
	bmVDYXBTdHlsZUtleV8QGFVJQmV6aWVyUGF0aExpbmVXaWR0aEtleYACIkEgAAAiPxmZ
	moAEgAgiAAAAABAACCI/gAAA0iAPISJXTlMuZGF0YU8RAvgAAAAAAQAAAPpXhkNOf5xC
	AwAAAAMAAAA8koZDbr6IQkh7g0PsQG5C8H6BQ3z1SUIDAAAAAwAAAC0VfUNApSJC3+B0
	Q1wMA0JrLm1D0DfDQQMAAAADAAAAVxhiQ4CejkH7vVhDgMTrQLXtS0MAAIBAAQAAAAEA
	AAC17UtDAACAQAEAAAABAAAA2bgHQwCrxkABAAAAAQAAANm4B0MAq8ZAAQAAAAEAAAAS
	07BCQFWWQAMAAAADAAAAKClEQuiIqkGQFehAhPpcQgAAgECGbclCAQAAAAEAAAAAAIBA
	hm3JQgEAAAABAAAA+J3UQYHqG0MBAAAAAQAAAPid1EGB6htDAQAAAAEAAADEdpVBjehh
	QwEAAAABAAAAxHaVQY3oYUMBAAAAAQAAAMwVJEIGpIJDAwAAAAMAAABkrSlCWkOEQxx2
	NEK2h4VDXEZBQtwzhkMDAAAAAwAAAEQoUkI6PIhDFCFkQgAqikPItnhC4JiLQwMAAAAD
	AAAAOiSGQoQvjUMM7Y9COMaOQ+C1mULeXJBDAwAAAAMAAAA+6KNCDF2SQ+4VsEJIuJND
	CNm8QmJHlEMDAAAAAwAAACQIyEIoj5VDemDUQjzflUNgceBCvi6WQwMAAAADAAAALqPt
	QlZSlkMQ+vpCbKSWQ/AMBEMsEJZDAwAAAAMAAADVBAlDDgmWQ0MUDkP0npVDRpMSQ/6E
	lEMDAAAAAwAAAMcxKEMm5pFDo00uQ+CGn0NXf0FDfPehQwEAAAABAAAAV39BQ3z3oUMB
	AAAAAQAAALchfUNO9KFDAQAAAAEAAAC3IX1DTvShQwEAAAABAAAAMmSVQ4ImhkMBAAAA
	AQAAADJklUOCJoZDAQAAAAEAAAAC8ZJDr/FlQwEAAAABAAAAAvGSQ6/xZUMBAAAAAQAA
	AGT3nEMP7BtDAQAAAAEAAABk95xDD+wbQwEAAAABAAAACB2WQ3qx30IBAAAAAQAAAAgd
	lkN6sd9CAQAAAAEAAAD6V4ZDTn+cQgQAAAAAAAAAgAPSJCUmKlgkY2xhc3Nlc1okY2xh
	c3NuYW1loycoKV1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVjdF1OU011dGFibGVE
	YXRh2iwtLi8PMDEyMzQ1HR0dORw6OzwdXxAYcGF0aFByb3BlcnRpZXNfbGFzdFBvaW50
	XxAbcGF0aFByb3BlcnRpZXNfaGFzTGFzdFBvaW50XxAccGF0aFByb3BlcnRpZXNfaGFz
	Rmlyc3RQb2ludF8QFXBhdGhQcm9wZXJ0aWVzX2lzRmxhdF8QIXBhdGhQcm9wZXJ0aWVz
	X2NhY2hlZEVsZW1lbnRDb3VudF8QF3BhdGhQcm9wZXJ0aWVzX2lzQ2xvc2VkXxAbcGF0
	aFByb3BlcnRpZXNfdGFuZ2VudEF0RW5kXxAZcGF0aFByb3BlcnRpZXNfZmlyc3RQb2lu
	dF8QHHBhdGhQcm9wZXJ0aWVzX2tub3dzSWZDbG9zZWSABQgICIAHCSIAAAAAgAYIVnsw
	LCAwfVZ7MCwgMH3SJCVBQ6JCKV8QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXNfEBZVSUJl
	emllclBhdGhQcm9wZXJ0aWVz0iQlRUeiRilcVUlCZXppZXJQYXRoXFVJQmV6aWVyUGF0
	aBIAAYagXxAPTlNLZXllZEFyY2hpdmVyAAgAEQAWAB8AKAAyADUAOgA8AEYATABjAH8A
	mwC1AMQAywDqAQkBLwFUAXIBjQGPAZQBmQGbAZ0BogGkAaUBqgGvAbcEswS1BLoEwwTO
	BNIE4ATnBPAE/gUTBS4FTAVrBYMFpwXBBd8F+wYaBhwGHQYeBh8GIQYiBicGKQYqBjEG
	OAY9BkAGWQZyBncGegaHBpQGmQAAAAAAAAIBAAAAAAAAAEoAAAAAAAAAAAAAAAAAAAar
	</data>
</dict>
</plist>
