<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>259.985107421875</real>
	<key>backgroundOffset.y</key>
	<real>-16.455413818359375</real>
	<key>backgroundRotation</key>
	<real>0.0061359405517578125</real>
	<key>backgroundScale</key>
	<real>2.0119950771331787</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQIYAAAAAAEAAACA1e5AAACAQAMAAAAD
	AAAAoH1jQcCqfUGAx0VBAFznQRABi0EweSBCAwAAAAMAAAAAlMBB0IlNQmC62UEIV4BC
	mLADQqjAl0IDAAAAAwAAAGgGFELoWK9CwK8bQsgwyEKoOC9CsETfQgMAAAADAAAAGLVF
	QjBO9UJ4rDtC0DgHQ7A0S0JgnRJDAwAAAAMAAABA6lJChM4fQ0iDXULc6ixDsPhgQmRC
	OkMDAAAAAwAAANjXaUIMZEdDICxmQgj0VEPAoHNCbOdhQwMAAAADAAAAGMVuQpx1b0NI
	8nhCnM58Q8C8dkK4KYVDAwAAAAMAAAAwvXZCCGuMQ7i8dkJmrJND0Lx2QrztmkMDAAAA
	AwAAAPjZcUIYSqJDYP5zQqqxqUPQoHNCQBWxQwMAAAADAAAAOGRuQh6It0MwCXFCAgm+
	Q9iEcEJChMRDAwAAAAMAAAAoGGxCUlvLQ8gYd0IyUdJD2GhtQsId2UMDAAAAAwAAABgT
	bEI6vN9DMAtnQtJZ5kPg+GBCRvDsQwMAAAADAAAAOB1UQoY580OgvGBCeq35Q+CkV0LK
	+/9DAwAAAAMAAAC4YV5CoccDRChFS0KhfAdE6FBOQmdDC0QBAAAAAQAAAOhQTkJnQwtE
	AQAAAAEAAABciKZC6TsORAEAAAABAAAAAACAQMUcDkQBAAAAAQAAAMDU7kAAAIBABAAA
	AAAAAACAA9IiIyQlWiRjbGFzc25hbWVYJGNsYXNzZXNdTlNNdXRhYmxlRGF0YaMmJyhd
	TlNNdXRhYmxlRGF0YVZOU0RhdGFYTlNPYmplY3TaKissLQkuLzAxMjMcHBU2HDg5HDtf
	EBhwYXRoUHJvcGVydGllc19sYXN0UG9pbnRfEBxwYXRoUHJvcGVydGllc19rbm93c0lm
	Q2xvc2VkXxAccGF0aFByb3BlcnRpZXNfaGFzRmlyc3RQb2ludF8QIXBhdGhQcm9wZXJ0
	aWVzX2NhY2hlZEVsZW1lbnRDb3VudF8QG3BhdGhQcm9wZXJ0aWVzX2hhc0xhc3RQb2lu
	dF8QG3BhdGhQcm9wZXJ0aWVzX3RhbmdlbnRBdEVuZF8QF3BhdGhQcm9wZXJ0aWVzX2lz
	Q2xvc2VkXxAVcGF0aFByb3BlcnRpZXNfaXNGbGF0XxAZcGF0aFByb3BlcnRpZXNfZmly
	c3RQb2ludIAFCAiABwgiAAAAAAkIgAZWezAsIDB9VnswLCAwfdIiIz9AXxAWVUlCZXpp
	ZXJQYXRoUHJvcGVydGllc6JBKF8QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXPSIiNDRFxV
	SUJlemllclBhdGiiRShcVUlCZXppZXJQYXRoXxAPTlNLZXllZEFyY2hpdmVy0UhJVHJv
	b3SAAQAIABEAGgAjAC0AMgA3AEEARwBeAGUAhACqALkA1QDxARABLgFJAWMBiAGKAYwB
	jgGTAZUBmgGfAaQBpQGqAbIDzgPQA9UD4APpA/cD+wQJBBAEGQQuBEkEaASHBKsEyQTn
	BQEFGQU1BTcFOAU5BTsFPAVBBUIFQwVFBUwFUwVYBXEFdAWNBZIFnwWiBa8FwQXEBckA
	AAAAAAACAQAAAAAAAABKAAAAAAAAAAAAAAAAAAAFyw==
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
