<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allScrapProperties</key>
	<array>
		<dict>
			<key>center.x</key>
			<real>387.3187255859375</real>
			<key>center.y</key>
			<real>219.08155822753906</real>
			<key>rotation</key>
			<real>-0.34045553207397461</real>
			<key>scale</key>
			<real>0.8033522367477417</real>
			<key>subviewIndex</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>DFFD8244-E155-45E4-842A-2C7CFE1ACCE1</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>367.4649658203125</real>
			<key>center.y</key>
			<real>655.9569091796875</real>
			<key>rotation</key>
			<real>-0.3657953143119812</real>
			<key>scale</key>
			<real>0.8694382905960083</real>
			<key>subviewIndex</key>
			<integer>1</integer>
			<key>uuid</key>
			<string>30C092E7-886F-4651-B2AF-07E7C63651FB</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>333.79754638671875</real>
			<key>center.y</key>
			<real>731.0423583984375</real>
			<key>rotation</key>
			<real>-0.45628687739372253</real>
			<key>scale</key>
			<real>0.82827049493789673</real>
			<key>subviewIndex</key>
			<integer>2</integer>
			<key>uuid</key>
			<string>B15C410B-51C7-4C37-AA71-D4F9F22F7CD5</string>
		</dict>
	</array>
	<key>scrapsOnPageIDs</key>
	<array>
		<string>DFFD8244-E155-45E4-842A-2C7CFE1ACCE1</string>
		<string>30C092E7-886F-4651-B2AF-07E7C63651FB</string>
		<string>B15C410B-51C7-4C37-AA71-D4F9F22F7CD5</string>
	</array>
</dict>
</plist>
