<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>-13.17010498046875</real>
	<key>backgroundOffset.y</key>
	<real>2.636688232421875</real>
	<key>backgroundRotation</key>
	<real>1.5838086605072021</real>
	<key>backgroundScale</key>
	<real>2.0066666603088379</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQp4AAAAAAEAAACzo0tDRDsdQgMAAAAD
	AAAAW5dJQ4J7DUKXFkZDMG3iQVd6QEMsF4VBAwAAAAMAAAA/gztDaIduQeGrPUPwXX8+
	q8A0QzAnnUABAAAAAQAAAKvANEMwJ51AAQAAAAEAAABort5BCEhbQQMAAAADAAAAuAPF
	QfjyRkEwom1BMFDlQAibjEHs/4hBAwAAAAMAAADolYJBRD/HQXDzYEHYcgJCMH5iQV5N
	IkIDAAAAAwAAADCHVEFIC0JCUApdQeAiYkIQrVpBhAeBQgMAAAADAAAAEK1aQYrrk0Jw
	rVpBmc+mQnCtWkGhs7lCAwAAAAMAAACQpk1B60rJQhDHTUHlEdlC8Gg7QVOa6EIDAAAA
	AwAAALAPMUEz1flCUP8zQRyPBUOwlzNB2DEOQwMAAAADAAAA8INMQXpbFkNwCyZBHzEe
	QzBTFEFIIiZDAwAAAAMAAACQrwJBbfAsQ9CGFkGK2DNDsLAEQTKnOkMDAAAAAwAAAFAH
	CEFWPEND4dG8QDaCS0OhN7tA1A5UQwMAAAADAAAAoZ6AQFobXEPhOKdAN1hkQyHzm0BN
	fGxDAwAAAAMAAAAhN4VACD12Q2E1jkAdA4BDoVCMQEDmhEMDAAAAAwAAACFRjEAmMYpD
	IVCMQBh8j0NhUYxABMeUQwMAAAADAAAAYVGMQLiamENhUYxAcG6cQ2FRjEAmQqBDAwAA
	AAMAAADhUYxAnq2jQ+FQjEAgGadDYVGMQJ6EqkMDAAAAAwAAAML4T0CwJK5DoUyeQFCu
	sUOhlatAJkS1QwMAAAADAAAAIRG6QGJauEPh3ZdAZHq7Q+E3u0B6jL5DAwAAAAMAAAAh
	59FAGKHBQ6H+yEADvMRDIdrKQMzUx0MDAAAAAwAAAOHaykBJQMtD4drKQMirzkNh2spA
	RBfSQwMAAAADAAAA4drKQETB1UNh2spAUmvZQ2HaykBWFd1DAwAAAAMAAABh2spAvBLh
	Q2HaykAmEOVD4drKQIoN6UMDAAAAAwAAANCUTEGoEPpDsPcwwV86EEQk7gBClbsLRAMA
	AAADAAAAdmqnQjhTCUTRTBlDbyMRRNWRPENbbwhEAQAAAAEAAADVkTxDW28IRAEAAAAB
	AAAAHV1FQz2eAEQBAAAAAQAAAB1dRUM9ngBEAQAAAAEAAADvhUhDIFr7QQEAAAABAAAA
	74VIQyBa+0EDAAAAAwAAAE0VRkOEScZB/zNJQ6Cz+kEvq0tDPE0UQgEAAAABAAAAs6NL
	Qzw7HUIEAAAAAAAAAAAAAAABAAAAIkTEQhTQl0MBAAAAAQAAAOIktEJSTehDAQAAAAEA
	AADiJLRCUk3oQwEAAAABAAAAqqudQriR50MBAAAAAQAAAKqrnUK4kedDAwAAAAMAAABK
	AIpCXG/kQ1ohnEKEGdpDZuCUQnZF1EMDAAAAAwAAAOa/k0J+ltFD+s6SQlLmzkP68ZFC
	0DXMQwMAAAADAAAAMr6PQkRhyUMmIZJC5n7GQ7L9j0IXqcNDAwAAAAMAAAAOao5COOfA
	Q/o0j0LwH75DjgOPQuhau0MDAAAAAwAAAIoDj0L2LbhDkgOPQvsAtUOOA49CDNSxQwMA
	AAADAAAAjgOPQiwVrkOGA49CVFaqQ4oDj0Jxl6ZDAwAAAAMAAACKA49CBqmjQ4oDj0Kb
	uqBDigOPQjDMnUMDAAAAAwAAAJr1j0IqHptDFiCNQjNYmEPO95BCiryVQwMAAAADAAAA
	Gl6cQoy8lUNuxKdChbyVQ7Iqs0KJvJVDAwAAAAMAAAA6K7pCfnWVQ3aIwUL5x5VDIkTE
	QhTQl0MEAAAAAAAAAAAAAAABAAAAxibJQhcmzkIBAAAAAQAAAEa7xUK10jFDAQAAAAEA
	AABGu8VCtdIxQwMAAAADAAAATo7IQh7XPEO62cVCpvtHQ3K1xkJzC1NDAwAAAAMAAABq
	tcZC55RYQ2q1xkJeHl5DarXGQtKnY0MDAAAAAwAAAGK1xkIAW2lDcrXGQhYOb0NutcZC
	RMF0QwMAAAADAAAA3v3EQohmekMCxMlC1UKAQwbHw0Ja7YJDAwAAAAMAAAB+3r1C/RWD
	Q37Ut0KK7IJDgjCyQkhwgkMDAAAAAwAAAD6IjULGgYVDgheXQsrxckNy2pVChYpoQwMA
	AAADAAAAatqVQmXXYkOC2pVCNSRdQ3ralUIUcVdDAwAAAAMAAAB62pVCaHBQQ3LalULG
	b0lDetqVQhVvQkMDAAAAAwAAAG7alUIyFTxDdtqVQj+7NUNu2pVCXmEvQwMAAAADAAAA
	btqVQiYxKUNu2pVC7gAjQ27alUK20BxDAwAAAAMAAABu2pVC4PMWQ27alUIIFxFDbtqV
	QjU6C0MDAAAAAwAAAGralUJeXQVDatqVQhEB/0Jq2pVCY0fzQgMAAAADAAAAAj+YQjgD
	6EIyhZhCvXzcQgLDmUKBFNFCAwAAAAMAAAAq5JpCzwjFQqJcqUJ9FspCNjywQvhUxkID
	AAAAAwAAABK0uEL6VMZC8ivBQvdUxkLGJslCFybOQgQAAAAAAAAAAAAAAAEAAAAdHSFD
	i6vVQgEAAAABAAAAFyQXQxL5gEMBAAAAAQAAABckF0MS+YBDAQAAAAEAAADXWA5DhIx9
	QwEAAAABAAAA11gOQ4SMfUMDAAAAAwAAAGlDDkNw13BD0agOQ7saZEPH2w1DEHFXQwMA
	AAADAAAAFawNQ0o7UkPVTA5DHPtMQ7VeDUPVzkdDAwAAAAMAAADPngxDEE9BQ7OxCkOl
	4DpDZ2oLQwtENEMDAAAAAwAAAA9YDEPVZi9Dz+EJQ8XoKkMz8wlDBRkmQwMAAAADAAAA
	M/MJQ7trH0M18wlDc74YQzXzCUMpERJDAwAAAAMAAAA18wlDMDoLQzXzCUM6YwRDNfMJ
	Q30Y+0IDAAAAAwAAABGvCkMSIu5CO2sIQyZe4EJpagtD6QLUQgMAAAADAAAAC9APQ+AC
	1EKrNRRD6wLUQkubGEPjAtRCAwAAAAMAAAAzhhtDB4nUQnd8HkO6A9RCHR0hQ4ur1UIE
	AAAAAAAAAAAAAAABAAAAv4kbQ3gUl0MBAAAAAQAAAB8kF0PmCOlDAQAAAAEAAAAfJBdD
	5gjpQwEAAAABAAAAJU0QQzBT50MBAAAAAQAAACVNEEMwU+dDAwAAAAMAAAADQhBDFjjg
	QwvnDUM+MtlD4VgOQ6YS0kMDAAAAAwAAAE1pDUPIps9DHwUOQ/gvzUPP2w1DmL7KQwMA
	AAADAAAAK/wNQ+kpyENZAwtDSM3FQ5NkDEMELMNDAwAAAAMAAAD9VgtDsCzAQ8tzDENc
	Ir1Db2oLQzgiukMDAAAAAwAAAO1AC0OMcLdDu/MJQ6THtENLcApDkhKyQwMAAAADAAAA
	V+4JQ3ihr0MbQAlDfjKtQxn5CEOIvqpDAwAAAAMAAAAZ+QhDzPmnQxn5CEMUNaVDGfkI
	Q1pwokMDAAAAAwAAABX5CEO4GZ9DHfkIQwrDm0MZ+QhDbGyYQwMAAAADAAAAEyEEQ8Yy
	k0N1Vw5D2p6WQ1nEEUMQ+5VDAwAAAAMAAAAlBhVDEPuVQ+9HGEMQ+5VDv4kbQ3gUl0ME
	AAAAAAAAAIAD0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nlc11OU011dGFibGVEYXRhoyYn
	KF1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVjdNoqKywtCS4vMDEyMxwcFTYcODkc
	O18QGHBhdGhQcm9wZXJ0aWVzX2xhc3RQb2ludF8QHHBhdGhQcm9wZXJ0aWVzX2tub3dz
	SWZDbG9zZWRfEBxwYXRoUHJvcGVydGllc19oYXNGaXJzdFBvaW50XxAhcGF0aFByb3Bl
	cnRpZXNfY2FjaGVkRWxlbWVudENvdW50XxAbcGF0aFByb3BlcnRpZXNfaGFzTGFzdFBv
	aW50XxAbcGF0aFByb3BlcnRpZXNfdGFuZ2VudEF0RW5kXxAXcGF0aFByb3BlcnRpZXNf
	aXNDbG9zZWRfEBVwYXRoUHJvcGVydGllc19pc0ZsYXRfEBlwYXRoUHJvcGVydGllc19m
	aXJzdFBvaW50gAUICIAHCCIAAAAACQiABlZ7MCwgMH1WezAsIDB90iIjP0BfEBZVSUJl
	emllclBhdGhQcm9wZXJ0aWVzokEoXxAWVUlCZXppZXJQYXRoUHJvcGVydGllc9IiI0NE
	XFVJQmV6aWVyUGF0aKJFKFxVSUJlemllclBhdGhfEA9OU0tleWVkQXJjaGl2ZXLRSElU
	cm9vdIABAAgAEQAaACMALQAyADcAQQBHAF4AZQCEAKoAuQDVAPEBEAEuAUkBYwGIAYoB
	jAGOAZMBlQGaAZ8BpAGlAaoBsgwuDDAMNQxADEkMVwxbDGkMcAx5DI4MqQzIDOcNCw0p
	DUcNYQ15DZUNlw2YDZkNmw2cDaENog2jDaUNrA2zDbgN0Q3UDe0N8g3/DgIODw4hDiQO
	KQAAAAAAAAIBAAAAAAAAAEoAAAAAAAAAAAAAAAAAAA4r
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
