<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.742828369140625</real>
	<key>backgroundOffset.y</key>
	<real>1.52587890625e-05</real>
	<key>backgroundRotation</key>
	<real>1.5657551288604736</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQMIAAAAAAEAAAAFAJdDwMyYQAEAAAAB
	AAAAXK4TQwiXLkIDAAAAAwAAAJy5KkPQozBCVBAGQ7j2IULOtgtDSM4pQgMAAAADAAAA
	puYFQ+itL0JqKABDEEglQsil9ELQTiVCAwAAAAMAAABM0+hCOIkmQswE3UK4siNCGHHR
	QhgkH0IBAAAAAQAAABhx0UIYJB9CAQAAAAEAAABQPlJB4CD6QQMAAAADAAAA4KOVQaDa
	6kGAxIa/ONRNQrBLVUFYlGFCAQAAAAEAAACwS1VBWJRhQgEAAAABAAAAOEyAQnRLlUID
	AAAAAwAAAGBdhEJYLJpC2PSFQqSxoELMCYVCkNmmQgMAAAADAAAAMBF1QlRcvEIsYo9C
	IEW7QiSQmkJMd7xCAwAAAAMAAACouKVCOFi8QkCEsELIr79CwKy7QsCQv0IDAAAAAwAA
	ACjaxkJsUr9CCCzSQoA+v0IcMt1CuGfBQgMAAAADAAAAkLbqQhQIv0I0Q/hC2MfBQqLo
	AkOIrcBCAwAAAAMAAADW0gZDnAzDQi7gCkP0DsFC7tkOQwQswkIDAAAAAwAAAA6pEkPw
	PsBCZocWQwwFwkJgXhpDPP/BQgMAAAADAAAAeMogQxiPwkL+NCdDkHzDQvKjLUM8YcNC
	AwAAAAMAAABykDNDvDPEQjR/OUPkuMVCrHI/QyA0xUIDAAAAAwAAAKjETkPsp8VCSB1e
	Qwh1xkIkVG1DsPPJQgEAAAABAAAAJFRtQ7DzyUIBAAAAAQAAANCqbENm8k5DAwAAAAMA
	AAA4/TdDiotFQyhC5EIGUUtDaBCYQlIWaUMDAAAAAwAAALTFhEL104JD2Fa8QWItbkMw
	l3xBRciGQwEAAAABAAAAMJd8QUXIhkMBAAAAAQAAAFgKfUOlY5NDAQAAAAEAAABYCn1D
	pWOTQwEAAAABAAAAIXmNQ8XMlUMBAAAAAQAAACCrr0DPf5ZDAQAAAAEAAAAAAIBAQBKw
	QAEAAAABAAAAg/+WQwAAgEABAAAAAQAAAAEAl0PAzJhABAAAAAAAAACAA9IiIyQlWiRj
	bGFzc25hbWVYJGNsYXNzZXNdTlNNdXRhYmxlRGF0YaMmJyhdTlNNdXRhYmxlRGF0YVZO
	U0RhdGFYTlNPYmplY3TaKissLQkuLzAxMjMcHBU2HDg5HDtfEBhwYXRoUHJvcGVydGll
	c19sYXN0UG9pbnRfEBxwYXRoUHJvcGVydGllc19rbm93c0lmQ2xvc2VkXxAccGF0aFBy
	b3BlcnRpZXNfaGFzRmlyc3RQb2ludF8QIXBhdGhQcm9wZXJ0aWVzX2NhY2hlZEVsZW1l
	bnRDb3VudF8QG3BhdGhQcm9wZXJ0aWVzX2hhc0xhc3RQb2ludF8QG3BhdGhQcm9wZXJ0
	aWVzX3RhbmdlbnRBdEVuZF8QF3BhdGhQcm9wZXJ0aWVzX2lzQ2xvc2VkXxAVcGF0aFBy
	b3BlcnRpZXNfaXNGbGF0XxAZcGF0aFByb3BlcnRpZXNfZmlyc3RQb2ludIAFCAiABwgi
	AAAAAAkIgAZWezAsIDB9VnswLCAwfdIiIz9AXxAWVUlCZXppZXJQYXRoUHJvcGVydGll
	c6JBKF8QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXPSIiNDRFxVSUJlemllclBhdGiiRShc
	VUlCZXppZXJQYXRoXxAPTlNLZXllZEFyY2hpdmVy0UhJVHJvb3SAAQAIABEAGgAjAC0A
	MgA3AEEARwBeAGUAhACqALkA1QDxARABLgFJAWMBiAGKAYwBjgGTAZUBmgGfAaQBpQGq
	AbIEvgTABMUE0ATZBOcE6wT5BQAFCQUeBTkFWAV3BZsFuQXXBfEGCQYlBicGKAYpBisG
	LAYxBjIGMwY1BjwGQwZIBmEGZAZ9BoIGjwaSBp8GsQa0BrkAAAAAAAACAQAAAAAAAABK
	AAAAAAAAAAAAAAAAAAAGuw==
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
