<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>298.4754638671875</real>
	<key>backgroundOffset.y</key>
	<real>268.15103149414062</real>
	<key>backgroundRotation</key>
	<real>-1.5646598339080811</real>
	<key>backgroundScale</key>
	<real>2.0119950771331787</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEJgAAAAAAQAAAEC0kEAAB4BAAwAAAAMA
	AABAtJBAQCIiQUC1kEDgIIJBgLSQQCAws0EDAAAAAwAAAMC1kEAAvvtBQLSQQEAlIkKA
	tJBAIGxGQgMAAAADAAAAAECfQBCeXULADo5AsKt0QgAAgEBo3oVCAQAAAAEAAACAW4xA
	AACAQAEAAAABAAAAQLSQQAAHgEAEAAAAAAAAAIAD0iIjJCVaJGNsYXNzbmFtZVgkY2xh
	c3Nlc11OU011dGFibGVEYXRhoyYnKF1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVj
	dNoqKywtCS4vMDEyMxwcFTYcODkcO18QGHBhdGhQcm9wZXJ0aWVzX2xhc3RQb2ludF8Q
	HHBhdGhQcm9wZXJ0aWVzX2tub3dzSWZDbG9zZWRfEBxwYXRoUHJvcGVydGllc19oYXNG
	aXJzdFBvaW50XxAhcGF0aFByb3BlcnRpZXNfY2FjaGVkRWxlbWVudENvdW50XxAbcGF0
	aFByb3BlcnRpZXNfaGFzTGFzdFBvaW50XxAbcGF0aFByb3BlcnRpZXNfdGFuZ2VudEF0
	RW5kXxAXcGF0aFByb3BlcnRpZXNfaXNDbG9zZWRfEBVwYXRoUHJvcGVydGllc19pc0Zs
	YXRfEBlwYXRoUHJvcGVydGllc19maXJzdFBvaW50gAUICIAHCCIAAAAACQiABlZ7MCwg
	MH1WezAsIDB90iIjP0BfEBZVSUJlemllclBhdGhQcm9wZXJ0aWVzokEoXxAWVUlCZXpp
	ZXJQYXRoUHJvcGVydGllc9IiI0NEXFVJQmV6aWVyUGF0aKJFKFxVSUJlemllclBhdGhf
	EA9OU0tleWVkQXJjaGl2ZXLRSElUcm9vdIABAAgAEQAaACMALQAyADcAQQBHAF4AZQCE
	AKoAuQDVAPEBEAEuAUkBYwGIAYoBjAGOAZMBlQGaAZ8BpAGlAaoBsgJNAk8CVAJfAmgC
	dgJ6AogCjwKYAq0CyALnAwYDKgNIA2YDgAOYA7QDtgO3A7gDugO7A8ADwQPCA8QDywPS
	A9cD8APzBAwEEQQeBCEELgRABEMESAAAAAAAAAIBAAAAAAAAAEoAAAAAAAAAAAAAAAAA
	AARK
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
