<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allScrapProperties</key>
	<array>
		<dict>
			<key>center.x</key>
			<real>367.64724731445312</real>
			<key>center.y</key>
			<real>942.845703125</real>
			<key>rotation</key>
			<real>-0.032944202423095703</real>
			<key>scale</key>
			<real>0.96206384897232056</real>
			<key>subviewIndex</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>BC37B63B-DF77-45FA-976E-F85762B91B30</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>384</real>
			<key>center.y</key>
			<real>511.99978637695312</real>
			<key>rotation</key>
			<real>-1.4137163162231445</real>
			<key>scale</key>
			<real>1</real>
			<key>subviewIndex</key>
			<integer>1</integer>
			<key>uuid</key>
			<string>850E53CD-8CBB-4596-9015-93C2646D72AE</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>384</real>
			<key>center.y</key>
			<real>512</real>
			<key>rotation</key>
			<real>0.4252031147480011</real>
			<key>scale</key>
			<real>1.0157493352890015</real>
			<key>subviewIndex</key>
			<integer>2</integer>
			<key>uuid</key>
			<string>2D535C85-4C00-4E4E-86D8-FFB43115D62C</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>39.996898651123047</real>
			<key>center.y</key>
			<real>40.007644653320312</real>
			<key>rotation</key>
			<real>-1.5733827352523804</real>
			<key>scale</key>
			<real>0.97275620698928833</real>
			<key>uuid</key>
			<string>CB5A6F85-3274-46AF-B313-A9F779472DEB</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>384</real>
			<key>center.y</key>
			<real>512</real>
			<key>rotation</key>
			<real>0.13089969754219055</real>
			<key>scale</key>
			<real>1</real>
			<key>uuid</key>
			<string>C53481A9-7A57-463A-89AD-FD28D135FEF4</string>
		</dict>
	</array>
	<key>scrapsOnPageIDs</key>
	<array>
		<string>BC37B63B-DF77-45FA-976E-F85762B91B30</string>
		<string>850E53CD-8CBB-4596-9015-93C2646D72AE</string>
		<string>2D535C85-4C00-4E4E-86D8-FFB43115D62C</string>
	</array>
</dict>
</plist>
