<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.0</real>
	<key>backgroundOffset.y</key>
	<real>0.0</real>
	<key>backgroundRotation</key>
	<real>0.0</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUISElUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABqQkKHyMrPj9ARFUkbnVsbNsLDA0ODxAREhMUFRYXGBkaGxwcHRweXxAZ
	VUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QGVVJQmV6aWVyUGF0aE1pdGVyTGltaXRL
	ZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV5wYXRoUHJvcGVydGllc1YkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lRGFzaFBoYXNlS2V5XxAcVUlCZXppZXJQYXRoTGluZUpv
	aW5TdHlsZUtleV8QI1VJQmV6aWVyUGF0aExpbmVEYXNoUGF0dGVybkNvdW50S2V5XxAi
	VUlCZXppZXJQYXRoVXNlc0V2ZW5PZGRGaWxsUnVsZUtleV8QG1VJQmV6aWVyUGF0aExp
	bmVDYXBTdHlsZUtleV8QGFVJQmV6aWVyUGF0aExpbmVXaWR0aEtleYACIkEgAAAiPxmZ
	moAEgAgiAAAAABAACCI/gAAA0iAPISJXTlMuZGF0YU8RA1gAAAAAAQAAAB6AxUO0xyZD
	AQAAAAEAAAAegMVDtMcmQwEAAAABAAAAqmafQxQ5cUMBAAAAAQAAAKpmn0MUOXFDAQAA
	AAEAAABXTWpDZlCOQwEAAAABAAAAV01qQ2ZQjkMBAAAAAQAAAOloIkN+To5DAQAAAAEA
	AADpaCJDfk6OQwEAAAABAAAAGsLIQrD0fEMBAAAAAQAAABrCyEKw9HxDAQAAAAEAAAAQ
	IERCjJd9QwEAAAABAAAAECBEQoyXfUMBAAAAAQAAAMCgnUAgPVFDAQAAAAEAAADAoJ1A
	ID1RQwEAAAABAAAAAACAQBRMEkMBAAAAAQAAAAAAgEAUTBJDAQAAAAEAAADkMmdCuEO7
	QgEAAAABAAAA5DJnQrhDu0IBAAAAAQAAADqWkEKQ33NCAQAAAAEAAAA6lpBCkN9zQgEA
	AAABAAAAYvjzQsB5XkEBAAAAAQAAAGL480LAeV5BAQAAAAEAAAAX0jhDwHeNQAMAAAAD
	AAAAm888Q4DZcUDt50BDAA54QAXcRENAyJVAAwAAAAMAAAAJC0tDgGmcQM86UUPAQp9A
	N2pXQwDto0ADAAAAAwAAACE6XkMAD7ZAs/1kQ0Bj3kDZ2mtDgJXYQAMAAAADAAAA0a1x
	QwDU4kBnc3dDwCoKQa9PfUOgmgFBAwAAAAMAAAASzoFDQDIMQUr0hEPAyRZBhBqIQ2Bh
	IUEDAAAAAwAAABwBi0OAIytBqueNQ2DkNEFAzpBDAKY+QQMAAAADAAAAPgiTQyBJSUG4
	VJVDoDZGQRh+l0PALl1BAwAAAAMAAADyzJlDQNdqQd4XnEOgAntBNGCeQ6A7hkEDAAAA
	AwAAAAyioEOAppJB0tGiQ7CVokFALqVDAM+pQQMAAAADAAAApFqnQ3ANsUEmS6lD8DvE
	QbCDq0PwkchBAwAAAAMAAADi0q1DMIHbQextsEMAWOBBWMqyQ8D18EEDAAAAAwAAAJ5Z
	tkNAGfJBYCe3Q5DmHkJqILtDwKQbQgMAAAADAAAAVEHDQ3BjRkL+5stDgFJ4QshEz0Ng
	taJCAQAAAAEAAADIRM9DYLWiQgEAAAABAAAAMvvRQ1gwAkMBAAAAAQAAADL70UNYMAJD
	AQAAAAEAAAAegMVDtMcmQwQAAAAAAAAAgAPSJCUmKlgkY2xhc3Nlc1okY2xhc3NuYW1l
	oycoKV1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVjdF1OU011dGFibGVEYXRh2iwt
	Li8PMDEyMzQ1HR0dORw6OzwdXxAYcGF0aFByb3BlcnRpZXNfbGFzdFBvaW50XxAbcGF0
	aFByb3BlcnRpZXNfaGFzTGFzdFBvaW50XxAccGF0aFByb3BlcnRpZXNfaGFzRmlyc3RQ
	b2ludF8QFXBhdGhQcm9wZXJ0aWVzX2lzRmxhdF8QIXBhdGhQcm9wZXJ0aWVzX2NhY2hl
	ZEVsZW1lbnRDb3VudF8QF3BhdGhQcm9wZXJ0aWVzX2lzQ2xvc2VkXxAbcGF0aFByb3Bl
	cnRpZXNfdGFuZ2VudEF0RW5kXxAZcGF0aFByb3BlcnRpZXNfZmlyc3RQb2ludF8QHHBh
	dGhQcm9wZXJ0aWVzX2tub3dzSWZDbG9zZWSABQgICIAHCSIAAAAAgAYIVnswLCAwfVZ7
	MCwgMH3SJCVBQ6JCKV8QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXNfEBZVSUJlemllclBh
	dGhQcm9wZXJ0aWVz0iQlRUeiRilcVUlCZXppZXJQYXRoXFVJQmV6aWVyUGF0aBIAAYag
	XxAPTlNLZXllZEFyY2hpdmVyAAgAEQAWAB8AKAAyADUAOgA8AEYATABjAH8AmwC1AMQA
	ywDqAQkBLwFUAXIBjQGPAZQBmQGbAZ0BogGkAaUBqgGvAbcFEwUVBRoFIwUuBTIFQAVH
	BVAFXgVzBY4FrAXLBeMGBwYhBj8GWwZ6BnwGfQZ+Bn8GgQaCBocGiQaKBpEGmAadBqAG
	uQbSBtcG2gbnBvQG+QAAAAAAAAIBAAAAAAAAAEoAAAAAAAAAAAAAAAAAAAcL
	</data>
</dict>
</plist>
