<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>17.450630187988281</real>
	<key>backgroundOffset.y</key>
	<real>4.9621734619140625</real>
	<key>backgroundRotation</key>
	<real>0.060127973556518555</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQHYAAAAAAEAAABwaz9CQLVBQQMAAAAD
	AAAAuNyHQgDQB0BAzRRBgGTGQEzLdkKAQ4xAAwAAAAMAAACenYtCAKo+QAoDnEKAKq5A
	jOKmQkDqOUEBAAAAAQAAAIzipkJA6jlBAQAAAAEAAACcX5ZCUEHjQgEAAAABAAAAnF+W
	QlBB40IBAAAAAQAAAMqbhkIEDTFDAQAAAAEAAADKm4ZCBA0xQwEAAAABAAAA3KirQjAT
	fUMDAAAAAwAAALiDrkIkBoBDrKCuQkLCgUOwX6xC9kaDQwMAAAADAAAAKOumQloehUNi
	W6RCZKKIQ0zHl0IIGYhDAwAAAAMAAADEio1C/PyHQxJXg0Lcj4dDUCJyQsDJh0MDAAAA
	AwAAACitS0L8Y4hDVB4fQnBziUMYCfdB7OSGQwEAAAABAAAAGAn3QezkhkMBAAAAAQAA
	AAAAgED4NX5DAQAAAAEAAAAAAIBA+DV+QwEAAAABAAAAaDKzQeSyZkMBAAAAAQAAAGgy
	s0HksmZDAQAAAAEAAACwNkJCyI7yQgEAAAABAAAAsDZCQsiO8kIBAAAAAQAAAJAVSELY
	H5tCAQAAAAEAAACQFUhC2B+bQgEAAAABAAAAcGs/QkC1QUEEAAAAAAAAAIAD0iIjJCVa
	JGNsYXNzbmFtZVgkY2xhc3Nlc11OU011dGFibGVEYXRhoyYnKF1OU011dGFibGVEYXRh
	Vk5TRGF0YVhOU09iamVjdNoqKywtCS4vMDEyMxwcFTYcODkcO18QGHBhdGhQcm9wZXJ0
	aWVzX2xhc3RQb2ludF8QHHBhdGhQcm9wZXJ0aWVzX2tub3dzSWZDbG9zZWRfEBxwYXRo
	UHJvcGVydGllc19oYXNGaXJzdFBvaW50XxAhcGF0aFByb3BlcnRpZXNfY2FjaGVkRWxl
	bWVudENvdW50XxAbcGF0aFByb3BlcnRpZXNfaGFzTGFzdFBvaW50XxAbcGF0aFByb3Bl
	cnRpZXNfdGFuZ2VudEF0RW5kXxAXcGF0aFByb3BlcnRpZXNfaXNDbG9zZWRfEBVwYXRo
	UHJvcGVydGllc19pc0ZsYXRfEBlwYXRoUHJvcGVydGllc19maXJzdFBvaW50gAUICIAH
	CCIAAAAACQiABlZ7MCwgMH1WezAsIDB90iIjP0BfEBZVSUJlemllclBhdGhQcm9wZXJ0
	aWVzokEoXxAWVUlCZXppZXJQYXRoUHJvcGVydGllc9IiI0NEXFVJQmV6aWVyUGF0aKJF
	KFxVSUJlemllclBhdGhfEA9OU0tleWVkQXJjaGl2ZXLRSElUcm9vdIABAAgAEQAaACMA
	LQAyADcAQQBHAF4AZQCEAKoAuQDVAPEBEAEuAUkBYwGIAYoBjAGOAZMBlQGaAZ8BpAGl
	AaoBsgOOA5ADlQOgA6kDtwO7A8kD0APZA+4ECQQoBEcEawSJBKcEwQTZBPUE9wT4BPkE
	+wT8BQEFAgUDBQUFDAUTBRgFMQU0BU0FUgVfBWIFbwWBBYQFiQAAAAAAAAIBAAAAAAAA
	AEoAAAAAAAAAAAAAAAAAAAWL
	</data>
	<key>lastSavedUndoHash</key>
	<integer>142049</integer>
</dict>
</plist>
