<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>center.x</key>
		<real>452.65692138671875</real>
		<key>center.y</key>
		<real>582.6092529296875</real>
		<key>rotation</key>
		<real>-0.054398834705352783</real>
		<key>scale</key>
		<real>0.96701598167419434</real>
		<key>uuid</key>
		<string>1B7890BA-3A5F-4698-A4CD-4EFAA0EF5C75</string>
	</dict>
</array>
</plist>
