<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allScrapProperties</key>
	<array>
		<dict>
			<key>center.x</key>
			<real>423.1436767578125</real>
			<key>center.y</key>
			<real>485.47830200195312</real>
			<key>rotation</key>
			<real>0.0039381086826324463</real>
			<key>scale</key>
			<real>1.4073052406311035</real>
			<key>subviewIndex</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>BB35A76B-AE3F-4FA3-922C-AA22A327F73D</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>416.7828369140625</real>
			<key>center.y</key>
			<real>675.25042724609375</real>
			<key>rotation</key>
			<real>-1.5610901117324829</real>
			<key>scale</key>
			<real>0.81361550092697144</real>
			<key>subviewIndex</key>
			<integer>1</integer>
			<key>uuid</key>
			<string>F2BC3764-24AD-42C8-810E-8F70A8D32AB4</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>421.33612060546875</real>
			<key>center.y</key>
			<real>497.53668212890625</real>
			<key>rotation</key>
			<real>-0.018290042877197266</real>
			<key>scale</key>
			<real>0.53497201204299927</real>
			<key>subviewIndex</key>
			<integer>2</integer>
			<key>uuid</key>
			<string>BDDC200C-41E2-4C58-B8CE-42579084B44E</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>141.42825317382812</real>
			<key>center.y</key>
			<real>689.6768798828125</real>
			<key>rotation</key>
			<real>0.018010463565587997</real>
			<key>scale</key>
			<real>0.15756188333034515</real>
			<key>subviewIndex</key>
			<integer>3</integer>
			<key>uuid</key>
			<string>C644145F-2906-4D9F-B487-E2D9220F0276</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>681.31756591796875</real>
			<key>center.y</key>
			<real>707.2430419921875</real>
			<key>rotation</key>
			<real>0.0088779926300048828</real>
			<key>scale</key>
			<real>0.1596560925245285</real>
			<key>subviewIndex</key>
			<integer>4</integer>
			<key>uuid</key>
			<string>59F94F8F-A46F-49C1-9C95-90E2DEE2813B</string>
		</dict>
	</array>
	<key>scrapsOnPageIDs</key>
	<array>
		<string>BB35A76B-AE3F-4FA3-922C-AA22A327F73D</string>
		<string>F2BC3764-24AD-42C8-810E-8F70A8D32AB4</string>
		<string>BDDC200C-41E2-4C58-B8CE-42579084B44E</string>
		<string>C644145F-2906-4D9F-B487-E2D9220F0276</string>
		<string>59F94F8F-A46F-49C1-9C95-90E2DEE2813B</string>
	</array>
</dict>
</plist>
