<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allScrapProperties</key>
	<array>
		<dict>
			<key>center.x</key>
			<real>372.85110473632812</real>
			<key>center.y</key>
			<real>452.15179443359375</real>
			<key>rotation</key>
			<real>-1.5733363628387451</real>
			<key>scale</key>
			<real>2.0074193477630615</real>
			<key>subviewIndex</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>7CF674C8-C674-42F2-A556-77E05CD62895</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>417.80764770507812</real>
			<key>center.y</key>
			<real>494.5125732421875</real>
			<key>rotation</key>
			<real>-3.1524877548217773</real>
			<key>scale</key>
			<real>0.59787702560424805</real>
			<key>subviewIndex</key>
			<integer>1</integer>
			<key>uuid</key>
			<string>234BB52D-0741-4E17-A46E-FE7DCA93C18F</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>620.1888427734375</real>
			<key>center.y</key>
			<real>496.64996337890625</real>
			<key>rotation</key>
			<real>0.051899515092372894</real>
			<key>scale</key>
			<real>1.0457696914672852</real>
			<key>subviewIndex</key>
			<integer>2</integer>
			<key>uuid</key>
			<string>FE062977-D7DD-4E2C-A0E6-DCFBFE4E9AF7</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>583.0928955078125</real>
			<key>center.y</key>
			<real>764.79248046875</real>
			<key>rotation</key>
			<real>-3.1435346603393555</real>
			<key>scale</key>
			<real>0.57842171192169189</real>
			<key>subviewIndex</key>
			<integer>3</integer>
			<key>uuid</key>
			<string>40F38743-89C5-4BBA-A7D5-9743A610BAC2</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>568.3272705078125</real>
			<key>center.y</key>
			<real>220.02783203125</real>
			<key>rotation</key>
			<real>-1.5201581716537476</real>
			<key>scale</key>
			<real>0.61875569820404053</real>
			<key>subviewIndex</key>
			<integer>4</integer>
			<key>uuid</key>
			<string>87C325D9-0E64-4AEE-A969-3819D5E0D9C2</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>641.012451171875</real>
			<key>center.y</key>
			<real>159.68975830078125</real>
			<key>rotation</key>
			<real>-1.5804719924926758</real>
			<key>scale</key>
			<real>1.3766920566558838</real>
			<key>subviewIndex</key>
			<integer>5</integer>
			<key>uuid</key>
			<string>4AFECE85-76A4-4534-92E1-CEB4094CE7E4</string>
		</dict>
	</array>
	<key>scrapsOnPageIDs</key>
	<array>
		<string>7CF674C8-C674-42F2-A556-77E05CD62895</string>
		<string>234BB52D-0741-4E17-A46E-FE7DCA93C18F</string>
		<string>FE062977-D7DD-4E2C-A0E6-DCFBFE4E9AF7</string>
		<string>40F38743-89C5-4BBA-A7D5-9743A610BAC2</string>
		<string>87C325D9-0E64-4AEE-A969-3819D5E0D9C2</string>
		<string>4AFECE85-76A4-4534-92E1-CEB4094CE7E4</string>
	</array>
</dict>
</plist>
