<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.0</real>
	<key>backgroundOffset.y</key>
	<real>0.0</real>
	<key>backgroundRotation</key>
	<real>0.0</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUISUpUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABqQkKHyMrP0BBRVUkbnVsbNsLDA0ODxAREhMUFRYXGBkaGxwcHRweXxAZ
	VUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QGVVJQmV6aWVyUGF0aE1pdGVyTGltaXRL
	ZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV5wYXRoUHJvcGVydGllc1YkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lRGFzaFBoYXNlS2V5XxAcVUlCZXppZXJQYXRoTGluZUpv
	aW5TdHlsZUtleV8QI1VJQmV6aWVyUGF0aExpbmVEYXNoUGF0dGVybkNvdW50S2V5XxAi
	VUlCZXppZXJQYXRoVXNlc0V2ZW5PZGRGaWxsUnVsZUtleV8QG1VJQmV6aWVyUGF0aExp
	bmVDYXBTdHlsZUtleV8QGFVJQmV6aWVyUGF0aExpbmVXaWR0aEtleYACIkEgAAAiPxmZ
	moAEgAgiAAAAABAACCI/gAAA0iAPISJXTlMuZGF0YU8QmAAAAAABAAAAuNFzQmnruUID
	AAAAAwAAAIBF6EE/s7hCgGJiQKvjj0JANIBAHIg9QgMAAAADAAAAQDePQNSRtkHQ3PVB
	kN9ZQGCdekJwcoBAAwAAAAMAAAAoJr1CAPWTQHgk8EKkO8hBSDTvQgRdRkIDAAAAAwAA
	ABhE7kIfTpRCWMC5QpMju0K40XNCaeu5QgQAAAAAAAAAgAPSJCUmKlgkY2xhc3Nlc1ok
	Y2xhc3NuYW1loycoKV1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVjdF1OU011dGFi
	bGVEYXRh2iwtLi8PMDEyMzQ1HTcdOTo3PD0dXxAYcGF0aFByb3BlcnRpZXNfbGFzdFBv
	aW50XxAbcGF0aFByb3BlcnRpZXNfaGFzTGFzdFBvaW50XxAccGF0aFByb3BlcnRpZXNf
	aGFzRmlyc3RQb2ludF8QFXBhdGhQcm9wZXJ0aWVzX2lzRmxhdF8QIXBhdGhQcm9wZXJ0
	aWVzX2NhY2hlZEVsZW1lbnRDb3VudF8QF3BhdGhQcm9wZXJ0aWVzX2lzQ2xvc2VkXxAb
	cGF0aFByb3BlcnRpZXNfdGFuZ2VudEF0RW5kXxAZcGF0aFByb3BlcnRpZXNfZmlyc3RQ
	b2ludF8QHHBhdGhQcm9wZXJ0aWVzX2tub3dzSWZDbG9zZWSABQgJCIAHEAYJIgAAAACA
	BghWezAsIDB9XxAWezYwLjk1NDgwMywgOTIuOTU5Nzg1fdIkJUJEokMpXxAWVUlCZXpp
	ZXJQYXRoUHJvcGVydGllc18QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXPSJCVGSKJHKVxV
	SUJlemllclBhdGhcVUlCZXppZXJQYXRoEgABhqBfEA9OU0tleWVkQXJjaGl2ZXIACAAR
	ABYAHwAoADIANQA6ADwARgBMAGMAfwCbALUAxADLAOoBCQEvAVQBcgGNAY8BlAGZAZsB
	nQGiAaQBpQGqAa8BtwJSAlQCWQJiAm0CcQJ/AoYCjwKdArICzQLrAwoDIgNGA2ADfgOa
	A7kDuwO8A70DvgPAA8IDwwPIA8oDywPSA+sD8APzBAwEJQQqBC0EOgRHBEwAAAAAAAAC
	AQAAAAAAAABLAAAAAAAAAAAAAAAAAAAEXg==
	</data>
</dict>
</plist>
