<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0023A66A-3EDB-449F-B555-AE9A85A7673F</key>
	<real>0.0</real>
	<key>5ABECB88-4736-45D5-A093-3F608B29919E</key>
	<real>0.0</real>
	<key>5FEB0F95-2657-471A-AAF9-F743ACE60A32</key>
	<real>0.0</real>
	<key>6FCDB37B-5A27-4554-8B9A-ED29F4C6CF4D</key>
	<real>0.0</real>
</dict>
</plist>
