<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hasConverted</key>
	<true/>
	<key>stackOfStrokes</key>
	<array>
		<string>2030522028</string>
		<string>2749682206</string>
		<string>2831456930</string>
		<string>4037000903</string>
		<string>183737213</string>
		<string>2509553261</string>
		<string>1575840451</string>
		<string>4017377707</string>
		<string>2279999840</string>
		<string>177537451</string>
	</array>
	<key>stackOfUndoneStrokes</key>
	<array/>
	<key>undoHash</key>
	<integer>2617855611</integer>
</dict>
</plist>
