<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>center.x</key>
		<real>515.326171875</real>
		<key>center.y</key>
		<real>694.2872314453125</real>
		<key>rotation</key>
		<real>-1.4974162578582764</real>
		<key>scale</key>
		<real>0.66699939966201782</real>
		<key>uuid</key>
		<string>9BB2ED6A-BFEB-43B8-AD9A-22D8C1EA9687</string>
	</dict>
</array>
</plist>
