<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>-40.635856628417969</real>
	<key>backgroundOffset.y</key>
	<real>-6.7224578857421875</real>
	<key>backgroundRotation</key>
	<real>1.4453279972076416</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQHoAAAAAAEAAAAAAIBAGWePQwEAAAAB
	AAAAYI0QQi9shkMBAAAAAQAAAGCNEEIvbIZDAwAAAAMAAAAwMTxCwR+AQ5jNKEIrqoBD
	0K8pQkqYc0MBAAAAAQAAAABEGUKOh01DAQAAAAEAAAAARBlCjodNQwEAAAABAAAAgD8L
	QmrAHkMBAAAAAQAAAIA/C0JqwB5DAQAAAAEAAADQD95BaL3SQgEAAAABAAAA0A/eQWi9
	0kIBAAAAAQAAABCHkUHI5hpCAQAAAAEAAAAQh5FByOYaQgEAAAABAAAAcH+BQYCsEUEB
	AAAAAQAAAHB/gUGArBFBAwAAAAMAAADgCoVBQK/MQFAtgUEA6ppAgOlxQQAAgEABAAAA
	AQAAAFDWnUFAVeBAAQAAAAEAAAD4uVJCpSGGQwEAAAABAAAA+LlSQqUhhkMBAAAAAQAA
	ALA0IkJFuIZDAwAAAAMAAAAYwwlCr7mGQ9iaGEKpBItDEPgBQuePi0MBAAAAAQAAABD4
	AULnj4tDAQAAAAEAAABwxqRBmfyKQwEAAAABAAAAcMakQZn8ikMBAAAAAQAAACBni0GP
	n41DAQAAAAEAAAAgZ4tBj5+NQwEAAAABAAAAgA+NQQOLjkMBAAAAAQAAAIAAgEAZZ49D
	BAAAAAAAAACAA9IiIyQlWiRjbGFzc25hbWVYJGNsYXNzZXNdTlNNdXRhYmxlRGF0YaMm
	JyhdTlNNdXRhYmxlRGF0YVZOU0RhdGFYTlNPYmplY3TaKissLQkuLzAxMjMcHBU2HDg5
	HDtfEBhwYXRoUHJvcGVydGllc19sYXN0UG9pbnRfEBxwYXRoUHJvcGVydGllc19rbm93
	c0lmQ2xvc2VkXxAccGF0aFByb3BlcnRpZXNfaGFzRmlyc3RQb2ludF8QIXBhdGhQcm9w
	ZXJ0aWVzX2NhY2hlZEVsZW1lbnRDb3VudF8QG3BhdGhQcm9wZXJ0aWVzX2hhc0xhc3RQ
	b2ludF8QG3BhdGhQcm9wZXJ0aWVzX3RhbmdlbnRBdEVuZF8QF3BhdGhQcm9wZXJ0aWVz
	X2lzQ2xvc2VkXxAVcGF0aFByb3BlcnRpZXNfaXNGbGF0XxAZcGF0aFByb3BlcnRpZXNf
	Zmlyc3RQb2ludIAFCAiABwgiAAAAAAkIgAZWezAsIDB9VnswLCAwfdIiIz9AXxAWVUlC
	ZXppZXJQYXRoUHJvcGVydGllc6JBKF8QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXPSIiND
	RFxVSUJlemllclBhdGiiRShcVUlCZXppZXJQYXRoXxAPTlNLZXllZEFyY2hpdmVy0UhJ
	VHJvb3SAAQAIABEAGgAjAC0AMgA3AEEARwBeAGUAhACqALkA1QDxARABLgFJAWMBiAGK
	AYwBjgGTAZUBmgGfAaQBpQGqAbIDngOgA6UDsAO5A8cDywPZA+AD6QP+BBkEOARXBHsE
	mQS3BNEE6QUFBQcFCAUJBQsFDAURBRIFEwUVBRwFIwUoBUEFRAVdBWIFbwVyBX8FkQWU
	BZkAAAAAAAACAQAAAAAAAABKAAAAAAAAAAAAAAAAAAAFmw==
	</data>
	<key>lastSavedUndoHash</key>
	<integer>846949230021217</integer>
</dict>
</plist>
