<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allScrapProperties</key>
	<array>
		<dict>
			<key>center.x</key>
			<real>347.27633666992188</real>
			<key>center.y</key>
			<real>735.91217041015625</real>
			<key>rotation</key>
			<real>-0.17909830808639526</real>
			<key>scale</key>
			<real>1.01593017578125</real>
			<key>subviewIndex</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>D237DCC5-D624-4BB7-A76B-7CA4DA3D90E7</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>591.93353271484375</real>
			<key>center.y</key>
			<real>831.86297607421875</real>
			<key>rotation</key>
			<real>-1.6015475988388062</real>
			<key>scale</key>
			<real>0.61042004823684692</real>
			<key>subviewIndex</key>
			<integer>1</integer>
			<key>uuid</key>
			<string>0CB8C1B4-6FC8-423B-804F-027D58296F0A</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>476.3658447265625</real>
			<key>center.y</key>
			<real>961.59039306640625</real>
			<key>rotation</key>
			<real>-1.5707957744598389</real>
			<key>scale</key>
			<real>0.64321452379226685</real>
			<key>subviewIndex</key>
			<integer>2</integer>
			<key>uuid</key>
			<string>1FACCDCB-6AA3-4488-A1D6-278AD329ECC6</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>507.26815795898438</real>
			<key>center.y</key>
			<real>545.56390380859375</real>
			<key>rotation</key>
			<real>0.02924346923828125</real>
			<key>scale</key>
			<real>0.65645253658294678</real>
			<key>subviewIndex</key>
			<integer>3</integer>
			<key>uuid</key>
			<string>78ACCDD9-4563-4D2E-BED1-94D7995290BA</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>270.08773803710938</real>
			<key>center.y</key>
			<real>875.42803955078125</real>
			<key>rotation</key>
			<real>-1.5707957744598389</real>
			<key>scale</key>
			<real>0.64321452379226685</real>
			<key>subviewIndex</key>
			<integer>4</integer>
			<key>uuid</key>
			<string>CFBBBCB7-30D1-4761-BF75-67D03CCA93D8</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>265.94882202148438</real>
			<key>center.y</key>
			<real>608.722900390625</real>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<real>0.64321452379226685</real>
			<key>subviewIndex</key>
			<integer>5</integer>
			<key>uuid</key>
			<string>9134E228-D55E-4FB0-B491-B43AD0680150</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>264.96151733398438</real>
			<key>center.y</key>
			<real>752.81121826171875</real>
			<key>rotation</key>
			<real>-1.5707957744598389</real>
			<key>scale</key>
			<real>0.64321452379226685</real>
			<key>subviewIndex</key>
			<integer>6</integer>
			<key>uuid</key>
			<string>7096C7A9-1FC9-4A73-A914-3081186727CD</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>265.65191650390625</real>
			<key>center.y</key>
			<real>643.4930419921875</real>
			<key>rotation</key>
			<real>-1.5707957744598389</real>
			<key>scale</key>
			<real>0.64321452379226685</real>
			<key>subviewIndex</key>
			<integer>7</integer>
			<key>uuid</key>
			<string>69096812-F74B-4276-96A0-04BEA7CE574B</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>579.54669189453125</real>
			<key>center.y</key>
			<real>264.00860595703125</real>
			<key>rotation</key>
			<real>-1.4131004810333252</real>
			<key>scale</key>
			<real>0.58095520734786987</real>
			<key>subviewIndex</key>
			<integer>8</integer>
			<key>uuid</key>
			<string>832A2F6D-947B-40DF-8B6A-64249CC23D29</string>
		</dict>
	</array>
	<key>scrapsOnPageIDs</key>
	<array>
		<string>D237DCC5-D624-4BB7-A76B-7CA4DA3D90E7</string>
		<string>0CB8C1B4-6FC8-423B-804F-027D58296F0A</string>
		<string>1FACCDCB-6AA3-4488-A1D6-278AD329ECC6</string>
		<string>78ACCDD9-4563-4D2E-BED1-94D7995290BA</string>
		<string>CFBBBCB7-30D1-4761-BF75-67D03CCA93D8</string>
		<string>9134E228-D55E-4FB0-B491-B43AD0680150</string>
		<string>7096C7A9-1FC9-4A73-A914-3081186727CD</string>
		<string>69096812-F74B-4276-96A0-04BEA7CE574B</string>
		<string>832A2F6D-947B-40DF-8B6A-64249CC23D29</string>
	</array>
</dict>
</plist>
