<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>131.02618408203125</real>
	<key>backgroundOffset.y</key>
	<real>292.28070068359375</real>
	<key>backgroundRotation</key>
	<real>0.0061359405517578125</real>
	<key>backgroundScale</key>
	<real>2.0119950771331787</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQGYAAAAAAEAAAAKB6dDAMnAQAMAAAAD
	AAAAVC2kQ4DYxkD4XKFDABf3QOZ8nkMAa+BAAwAAAAMAAABG3JpDgGrgQIo7l0MAbOBA
	5JqTQwBr4EADAAAAAwAAAET6j0OAauBAiFmMQwBs4EDiuIhDAGvgQAMAAAADAAAAjpOE
	QwBr4EA2boBDAGvgQMGReEMAa+BAAwAAAAMAAABPiXBDgGzgQBuBaEMAa+BAvXhgQwBs
	4EADAAAAAwAAAOu0WEOAts1Ap/hQQ4BonkC5JklDAKyuQAMAAAADAAAAn2BBQ4CsrkDD
	mjlDAKuuQLXUMUMArK5AAwAAAAMAAACzDipDAKyuQLNIIkMArK5AsYIaQwCsrkADAAAA
	AwAAAO5wEUOArK5AY18IQwCsrkBam/5CAKyuQAMAAAADAAAAqPOwQoCHK0GgSiFCAM4q
	wDAzwUCA1jpBAQAAAAEAAAAwM8FAgNY6QQEAAAABAAAAAACAQMD3vEEBAAAAAQAAALDZ
	g0AAAIBAAQAAAAEAAAAGB6dDAMnAQAQAAAAAAAAAgAPSIiMkJVokY2xhc3NuYW1lWCRj
	bGFzc2VzXU5TTXV0YWJsZURhdGGjJicoXU5TTXV0YWJsZURhdGFWTlNEYXRhWE5TT2Jq
	ZWN02iorLC0JLi8wMTIzHBwVNhw4ORw7XxAYcGF0aFByb3BlcnRpZXNfbGFzdFBvaW50
	XxAccGF0aFByb3BlcnRpZXNfa25vd3NJZkNsb3NlZF8QHHBhdGhQcm9wZXJ0aWVzX2hh
	c0ZpcnN0UG9pbnRfECFwYXRoUHJvcGVydGllc19jYWNoZWRFbGVtZW50Q291bnRfEBtw
	YXRoUHJvcGVydGllc19oYXNMYXN0UG9pbnRfEBtwYXRoUHJvcGVydGllc190YW5nZW50
	QXRFbmRfEBdwYXRoUHJvcGVydGllc19pc0Nsb3NlZF8QFXBhdGhQcm9wZXJ0aWVzX2lz
	RmxhdF8QGXBhdGhQcm9wZXJ0aWVzX2ZpcnN0UG9pbnSABQgIgAcIIgAAAAAJCIAGVnsw
	LCAwfVZ7MCwgMH3SIiM/QF8QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXOiQShfEBZVSUJl
	emllclBhdGhQcm9wZXJ0aWVz0iIjQ0RcVUlCZXppZXJQYXRookUoXFVJQmV6aWVyUGF0
	aF8QD05TS2V5ZWRBcmNoaXZlctFISVRyb290gAEACAARABoAIwAtADIANwBBAEcAXgBl
	AIQAqgC5ANUA8QEQAS4BSQFjAYgBigGMAY4BkwGVAZoBnwGkAaUBqgGyA04DUANVA2AD
	aQN3A3sDiQOQA5kDrgPJA+gEBwQrBEkEZwSBBJkEtQS3BLgEuQS7BLwEwQTCBMMExQTM
	BNME2ATxBPQFDQUSBR8FIgUvBUEFRAVJAAAAAAAAAgEAAAAAAAAASgAAAAAAAAAAAAAA
	AAAABUs=
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
