<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>6.975494384765625</real>
	<key>backgroundOffset.y</key>
	<real>2.2886123657226562</real>
	<key>backgroundRotation</key>
	<real>1.5995278358459473</real>
	<key>backgroundScale</key>
	<real>2.0138888359069824</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQOYAAAAAAEAAABKAxVEOBzyQgEAAAAB
	AAAAILsTRHCvYkMDAAAAAwAAAI4nE0SgV2RDd40SRCDLZUPn7RFE9BBnQwEAAAABAAAA
	6u0RRPQQZ0MDAAAAAwAAALpyEER8ZWZDU/QORMwoZkP3dg1E+GRmQwMAAAADAAAASM0K
	RPhkZkOcIwhE+GRmQ/B5BUT4ZGZDAwAAAAMAAABq6AJEqLxkQy1lAESYAGhDoKv7Q8wW
	Z0MDAAAAAwAAADKx9kPMFmdDxLbxQ8wWZ0NQvOxDzBZnQwMAAAADAAAAeFPoQ0z7ZkM0
	6uNDDDBmQ5KJ30NUAWVDAwAAAAMAAAA4dtpD3PRjQzpa1UMYZ2RDXEHQQ4BPZEMDAAAA
	AwAAADqSy0MENWZDsATHQ2zYYkPEXMJDrJ1jQwMAAAADAAAA+H+9Q6ydY0Mro7hDrJ1j
	Q17Gs0OsnWNDAwAAAAMAAAC5Zq9DOI5iQw3tqkM0w2RDoJOmQ9jrYkMDAAAAAwAAADiZ
	oUPM62JDvp6cQ9jrYkNQpJdD2OtiQwMAAAADAAAAK86SQ9jaYUOu641DlFZiQ+0NiUMM
	OmJDAwAAAAMAAADM9YNDHDpiQ467fUMAOmJDXotzQww6YkMDAAAAAwAAAFhBakMY1WJD
	fs9gQ9BtYkNAwldDjCRgQwMAAAADAAAA0FxOQ+TjXUPqq0RDdMNgQ0JHO0PkwF5DAwAA
	AAMAAAB+ATJDxMFbQ7xWKEO83lxDSsweQ2irXEMDAAAAAwAAAJCGFUOoBVpDztILQ0xb
	WkNQUQJDTDJZQwMAAAADAAAAAKbxQkQyWUNSqd5CTDJZQ7Csy0JMMllDAwAAAAMAAACg
	JrlCTDJZQ3igpkJMMllDaBqUQkwyWUMDAAAAAwAAAORzf0JcMllDvLNWQkQyWUP88i1C
	TDJZQwMAAAADAAAAqNkBQmyIUkOAk3NBkJVVQ0AaikDQKFxDAQAAAAEAAAAAAIBAgAhc
	QwEAAAABAAAA0FYjQQAAgEABAAAAAQAAANBWI0FAAIBAAQAAAAEAAABc0SZDABH0QAEA
	AAABAAAAXNEmQwAR9EABAAAAAQAAAPqLiEOAyRxBAQAAAAEAAAD6i4hDgMkcQQEAAAAB
	AAAAnPG7Q2BBRUEBAAAAAQAAAJzxu0NgQUVBAQAAAAEAAAAbkRREsL+cQQEAAAABAAAA
	G5EURLC/nEEBAAAAAQAAAEoDFUQ4HPJCBAAAAAAAAACAA9IiIyQlWiRjbGFzc25hbWVY
	JGNsYXNzZXNdTlNNdXRhYmxlRGF0YaMmJyhdTlNNdXRhYmxlRGF0YVZOU0RhdGFYTlNP
	YmplY3TaKissLQkuLzAxMjMcHBU2HDg5HDtfEBhwYXRoUHJvcGVydGllc19sYXN0UG9p
	bnRfEBxwYXRoUHJvcGVydGllc19rbm93c0lmQ2xvc2VkXxAccGF0aFByb3BlcnRpZXNf
	aGFzRmlyc3RQb2ludF8QIXBhdGhQcm9wZXJ0aWVzX2NhY2hlZEVsZW1lbnRDb3VudF8Q
	G3BhdGhQcm9wZXJ0aWVzX2hhc0xhc3RQb2ludF8QG3BhdGhQcm9wZXJ0aWVzX3Rhbmdl
	bnRBdEVuZF8QF3BhdGhQcm9wZXJ0aWVzX2lzQ2xvc2VkXxAVcGF0aFByb3BlcnRpZXNf
	aXNGbGF0XxAZcGF0aFByb3BlcnRpZXNfZmlyc3RQb2ludIAFCAiABwgiAAAAAAkIgAZW
	ezAsIDB9VnswLCAwfdIiIz9AXxAWVUlCZXppZXJQYXRoUHJvcGVydGllc6JBKF8QFlVJ
	QmV6aWVyUGF0aFByb3BlcnRpZXPSIiNDRFxVSUJlemllclBhdGiiRShcVUlCZXppZXJQ
	YXRoXxAPTlNLZXllZEFyY2hpdmVy0UhJVHJvb3SAAQAIABEAGgAjAC0AMgA3AEEARwBe
	AGUAhACqALkA1QDxARABLgFJAWMBiAGKAYwBjgGTAZUBmgGfAaQBpQGqAbIFTgVQBVUF
	YAVpBXcFewWJBZAFmQWuBckF6AYHBisGSQZnBoEGmQa1BrcGuAa5BrsGvAbBBsIGwwbF
	BswG0wbYBvEG9AcNBxIHHwciBy8HQQdEB0kAAAAAAAACAQAAAAAAAABKAAAAAAAAAAAA
	AAAAAAAHSw==
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
