<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>-14.749954223632812</real>
	<key>backgroundOffset.y</key>
	<real>15.107185363769531</real>
	<key>backgroundRotation</key>
	<real>1.5795223712921143</real>
	<key>backgroundScale</key>
	<real>2.0088889598846436</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGR0hYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKT0+P0NVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQG4AAAAAAEAAAABwP9D3+Q0QgEAAAAB
	AAAAAcD/Q9/kNEIBAAAAAQAAAAEA/UN3crpCAQAAAAEAAAABAP1Dd3K6QgEAAAABAAAA
	BACpQpdyuUIBAAAAAQAAAAQAqUKXcrlCAQAAAAEAAAAMAEpCl3LzQgMAAAADAAAA4Fs/
	Qjf39kJwoDJCz6n4QhAAJkKXcvhCAwAAAAMAAAAQABJCl3L4QiAA/EGXcvhCIADUQZdy
	+EIDAAAAAwAAALjmrEEfXfVC2LWVQZen7EIwAHhBl3LlQgMAAAADAAAA4P71QN861UKo
	mwFBp5W+QkAAoECXcqpCAQAAAAEAAABAAKBAl3KqQgEAAAABAAAAAACAQF7K3UEBAAAA
	AQAAAAAAgEBeyt1BAQAAAAEAAAD8/xlCdymHQAMAAAADAAAAXKc1Qu68R0AcuFNC943E
	QPz/YUK8lENBAwAAAAMAAAAAX3xCHhiLQVCGfUK+xs1BAACFQh/lAkIBAAAAAQAAAAAA
	hUIf5QJCAQAAAAEAAAAAAC1DH+USQgEAAAABAAAAAAAtQx/lEkIBAAAAAQAAAAHA/0Pf
	5DRCBAAAAAAAAACAA9IiIyQlWiRjbGFzc25hbWVYJGNsYXNzZXNdTlNNdXRhYmxlRGF0
	YaMmJyhdTlNNdXRhYmxlRGF0YVZOU0RhdGFYTlNPYmplY3TaKissLQkuLzAxMjMcNTY3
	HDk1HDxfEBhwYXRoUHJvcGVydGllc19sYXN0UG9pbnRfEBxwYXRoUHJvcGVydGllc19r
	bm93c0lmQ2xvc2VkXxAccGF0aFByb3BlcnRpZXNfaGFzRmlyc3RQb2ludF8QIXBhdGhQ
	cm9wZXJ0aWVzX2NhY2hlZEVsZW1lbnRDb3VudF8QG3BhdGhQcm9wZXJ0aWVzX2hhc0xh
	c3RQb2ludF8QG3BhdGhQcm9wZXJ0aWVzX3RhbmdlbnRBdEVuZF8QF3BhdGhQcm9wZXJ0
	aWVzX2lzQ2xvc2VkXxAVcGF0aFByb3BlcnRpZXNfaXNGbGF0XxAZcGF0aFByb3BlcnRp
	ZXNfZmlyc3RQb2ludIAFCAkQFoAHCCIAAAAACQiABlZ7MCwgMH1fECh7NTExLjUwMDAy
	OTk5OTk5OTk4LCA0NS4yMjM1MDY5OTk5OTk5OTh90iIjQEFfEBZVSUJlemllclBhdGhQ
	cm9wZXJ0aWVzokIoXxAWVUlCZXppZXJQYXRoUHJvcGVydGllc9IiI0RFXFVJQmV6aWVy
	UGF0aKJGKFxVSUJlemllclBhdGhfEA9OU0tleWVkQXJjaGl2ZXLRSUpUcm9vdIABAAgA
	EQAaACMALQAyADcAQQBHAF4AZQCEAKoAuQDVAPEBEAEuAUkBYwGIAYoBjAGOAZMBlQGa
	AZ8BpAGlAaoBsgNuA3ADdQOAA4kDlwObA6kDsAO5A84D6QQIBCcESwRpBIcEoQS5BNUE
	1wTYBNkE2wTdBN4E4wTkBOUE5wTuBRkFHgU3BToFUwVYBWUFaAV1BYcFigWPAAAAAAAA
	AgEAAAAAAAAASwAAAAAAAAAAAAAAAAAABZE=
	</data>
	<key>lastSavedUndoHash</key>
	<integer>142049</integer>
</dict>
</plist>
