<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.0</real>
	<key>backgroundOffset.y</key>
	<real>0.0</real>
	<key>backgroundRotation</key>
	<real>0.0</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUISElUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABqQkKHyMrPj9ARFUkbnVsbNsLDA0ODxAREhMUFRYXGBkaGxwcHRweXxAZ
	VUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QGVVJQmV6aWVyUGF0aE1pdGVyTGltaXRL
	ZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV5wYXRoUHJvcGVydGllc1YkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lRGFzaFBoYXNlS2V5XxAcVUlCZXppZXJQYXRoTGluZUpv
	aW5TdHlsZUtleV8QI1VJQmV6aWVyUGF0aExpbmVEYXNoUGF0dGVybkNvdW50S2V5XxAi
	VUlCZXppZXJQYXRoVXNlc0V2ZW5PZGRGaWxsUnVsZUtleV8QG1VJQmV6aWVyUGF0aExp
	bmVDYXBTdHlsZUtleV8QGFVJQmV6aWVyUGF0aExpbmVXaWR0aEtleYACIkEgAAAiPxmZ
	moAEgAgiAAAAABAACCI/gAAA0iAPISJXTlMuZGF0YU8RAtgAAAAAAQAAANKHhENEp6NC
	AQAAAAEAAADSh4RDRKejQgEAAAABAAAAow98Q4hONkIDAAAAAwAAALsUdEN4YwVCefhn
	Q2BFw0GhD1xDIJ2AQQMAAAADAAAAM/tPQ4BiBUGBEEJDgO9TQKGPM0PAdIJAAQAAAAEA
	AAChjzNDwHSCQAEAAAABAAAAoo8KQ2A6QUEBAAAAAQAAAKKPCkNgOkFBAQAAAAEAAABE
	H55CAHWiQAEAAAABAAAARB+eQgB1okABAAAAAQAAAIg+XEJQndxBAQAAAAEAAACIPlxC
	UJ3cQQEAAAABAAAAkD5AQlQngUIDAAAAAwAAAHAPPkLkgYhC4Ec5Qmihj0KQPjJCVCeW
	QgMAAAADAAAA8GgrQuyDn0IguyBC1D+oQpQ+EkJUJ69CAwAAAAMAAAB08AJC1Ba6QmgZ
	70HUN8ZCKH3QQVQn0UIDAAAAAwAAAMg8tUEQFd5CkDiPQVSy6UIwfYBBWCf4QgMAAAAD
	AAAA4A5XQR5tAkMo4T5BNCQJQ2j6GEGokw9DAwAAAAMAAABwSglBOPQVQ+B4s0AY+xtD
	4PTBQKiTIkMDAAAAAwAAAABLPEB42DFDkDKMQEiLQUMg9YFAqBNRQwEAAAABAAAAIPWB
	QKgTUUMBAAAAAQAAAFYflkLUSYdDAQAAAAEAAABWH5ZC1EmHQwEAAAABAAAAXB/XQtQJ
	tUMBAAAAAQAAAFwf10LUCbVDAQAAAAEAAACvjwlD1AnBQwEAAAABAAAAr48JQ9QJwUMB
	AAAAAQAAAK8PLEPUCcNDAQAAAAEAAACvDyxD1AnDQwEAAAABAAAA1oeIQ9CJnEMBAAAA
	AQAAANaHiEPQiZxDAQAAAAEAAADWh5FD0MmPQwEAAAABAAAA1oeRQ9DJj0MBAAAAAQAA
	ANKHjkNEJ+ZCAQAAAAEAAADSh45DRCfmQgEAAAABAAAA0oeEQ0Sno0IEAAAAAAAAAIAD
	0iQlJipYJGNsYXNzZXNaJGNsYXNzbmFtZaMnKCldTlNNdXRhYmxlRGF0YVZOU0RhdGFY
	TlNPYmplY3RdTlNNdXRhYmxlRGF0YdosLS4vDzAxMjM0NR0dHTkcOjs8HV8QGHBhdGhQ
	cm9wZXJ0aWVzX2xhc3RQb2ludF8QG3BhdGhQcm9wZXJ0aWVzX2hhc0xhc3RQb2ludF8Q
	HHBhdGhQcm9wZXJ0aWVzX2hhc0ZpcnN0UG9pbnRfEBVwYXRoUHJvcGVydGllc19pc0Zs
	YXRfECFwYXRoUHJvcGVydGllc19jYWNoZWRFbGVtZW50Q291bnRfEBdwYXRoUHJvcGVy
	dGllc19pc0Nsb3NlZF8QG3BhdGhQcm9wZXJ0aWVzX3RhbmdlbnRBdEVuZF8QGXBhdGhQ
	cm9wZXJ0aWVzX2ZpcnN0UG9pbnRfEBxwYXRoUHJvcGVydGllc19rbm93c0lmQ2xvc2Vk
	gAUICAiABwkiAAAAAIAGCFZ7MCwgMH1WezAsIDB90iQlQUOiQilfEBZVSUJlemllclBh
	dGhQcm9wZXJ0aWVzXxAWVUlCZXppZXJQYXRoUHJvcGVydGllc9IkJUVHokYpXFVJQmV6
	aWVyUGF0aFxVSUJlemllclBhdGgSAAGGoF8QD05TS2V5ZWRBcmNoaXZlcgAIABEAFgAf
	ACgAMgA1ADoAPABGAEwAYwB/AJsAtQDEAMsA6gEJAS8BVAFyAY0BjwGUAZkBmwGdAaIB
	pAGlAaoBrwG3BJMElQSaBKMErgSyBMAExwTQBN4E8wUOBSwFSwVjBYcFoQW/BdsF+gX8
	Bf0F/gX/BgEGAgYHBgkGCgYRBhgGHQYgBjkGUgZXBloGZwZ0BnkAAAAAAAACAQAAAAAA
	AABKAAAAAAAAAAAAAAAAAAAGiw==
	</data>
</dict>
</plist>
