<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hasConverted</key>
	<true/>
	<key>stackOfStrokes</key>
	<array>
		<string>895829433</string>
		<string>1857240060</string>
		<string>316987523</string>
		<string>300014626</string>
		<string>2622666191</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
		<string>1</string>
	</array>
	<key>stackOfUndoneStrokes</key>
	<array>
		<string>2839723270</string>
		<string>1</string>
	</array>
	<key>undoHash</key>
	<integer>1359497525</integer>
</dict>
</plist>
