<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>15.470108032226562</real>
	<key>backgroundOffset.y</key>
	<real>-67.9910888671875</real>
	<key>backgroundRotation</key>
	<real>0.0061359405517578125</real>
	<key>backgroundScale</key>
	<real>2.0119950771331787</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQFYAAAAAAEAAABAAoBAfDDqQwEAAAAB
	AAAACGwQQqAttUMDAAAAAwAAAIDQ7kG0VsJDuEQsQr71p0MI3BxCoPWuQwMAAAADAAAA
	KCkdQnydqkM4I0hC9q6oQwhgZEIe6KlDAwAAAAMAAADA4pRCosytQxzso0IYxaRDDAyn
	Qho/nkMBAAAAAQAAAAwMp0IaP55DAQAAAAEAAAD8y9hCAACAQAEAAAABAAAA/MvYQgAA
	gEABAAAAAQAAABCyoEPADxdBAQAAAAEAAAAQsqBDwA8XQQEAAAABAAAAFiSfQyTAfEMB
	AAAAAQAAABYkn0MkwHxDAQAAAAEAAAAYI6ZDmBKrQwEAAAABAAAAGCOmQ5gSq0MBAAAA
	AQAAAJ5mv0MkNOtDAQAAAAEAAACeZr9DJDTrQwEAAAABAAAAprfBQ6xd60MBAAAAAQAA
	AAAAgEB8MOpDBAAAAAAAAACAA9IiIyQlWiRjbGFzc25hbWVYJGNsYXNzZXNdTlNNdXRh
	YmxlRGF0YaMmJyhdTlNNdXRhYmxlRGF0YVZOU0RhdGFYTlNPYmplY3TaKissLQkuLzAx
	MjMcHBU2HDg5HDtfEBhwYXRoUHJvcGVydGllc19sYXN0UG9pbnRfEBxwYXRoUHJvcGVy
	dGllc19rbm93c0lmQ2xvc2VkXxAccGF0aFByb3BlcnRpZXNfaGFzRmlyc3RQb2ludF8Q
	IXBhdGhQcm9wZXJ0aWVzX2NhY2hlZEVsZW1lbnRDb3VudF8QG3BhdGhQcm9wZXJ0aWVz
	X2hhc0xhc3RQb2ludF8QG3BhdGhQcm9wZXJ0aWVzX3RhbmdlbnRBdEVuZF8QF3BhdGhQ
	cm9wZXJ0aWVzX2lzQ2xvc2VkXxAVcGF0aFByb3BlcnRpZXNfaXNGbGF0XxAZcGF0aFBy
	b3BlcnRpZXNfZmlyc3RQb2ludIAFCAiABwgiAAAAAAkIgAZWezAsIDB9VnswLCAwfdIi
	Iz9AXxAWVUlCZXppZXJQYXRoUHJvcGVydGllc6JBKF8QFlVJQmV6aWVyUGF0aFByb3Bl
	cnRpZXPSIiNDRFxVSUJlemllclBhdGiiRShcVUlCZXppZXJQYXRoXxAPTlNLZXllZEFy
	Y2hpdmVy0UhJVHJvb3SAAQAIABEAGgAjAC0AMgA3AEEARwBeAGUAhACqALkA1QDxARAB
	LgFJAWMBiAGKAYwBjgGTAZUBmgGfAaQBpQGqAbIDDgMQAxUDIAMpAzcDOwNJA1ADWQNu
	A4kDqAPHA+sECQQnBEEEWQR1BHcEeAR5BHsEfASBBIIEgwSFBIwEkwSYBLEEtATNBNIE
	3wTiBO8FAQUEBQkAAAAAAAACAQAAAAAAAABKAAAAAAAAAAAAAAAAAAAFCw==
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
