<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>5.842132568359375</real>
	<key>backgroundOffset.y</key>
	<real>-2.9714889526367188</real>
	<key>backgroundRotation</key>
	<real>1.5969758033752441</real>
	<key>backgroundScale</key>
	<real>2.0138888359069824</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQE4AAAAAAEAAABIhBpBQACAQAEAAAAB
	AAAAdkYmQ8BG50ABAAAAAQAAAHZGJkPARudAAQAAAAEAAAAwR4hDwA0SQQEAAAABAAAA
	MEeIQ8ANEkEBAAAAAQAAAJqtu0PAUjZBAQAAAAEAAACarbtDwFI2QQEAAAABAAAAPnAU
	RCDTkEEBAAAAAQAAAD5wFEQg05BBAQAAAAEAAACGcxVEIEhbQwMAAAADAAAARhYQROhG
	cUOqhgdE8CJuQyBCAET8QXBDAQAAAAEAAAAgQgBE/EFwQwEAAAABAAAAiOzJQ9SjakMB
	AAAAAQAAAIjsyUPUo2pDAQAAAAEAAACAGmpBfERgQwEAAAABAAAAgBpqQXxEYEMBAAAA
	AQAAAAAAgEBgDFxDAQAAAAEAAABIhBpBAACAQAQAAAAAAAAAgAPSIiMkJVokY2xhc3Nu
	YW1lWCRjbGFzc2VzXU5TTXV0YWJsZURhdGGjJicoXU5TTXV0YWJsZURhdGFWTlNEYXRh
	WE5TT2JqZWN02iorLC0JLi8wMTIzHBwVNhw4ORw7XxAYcGF0aFByb3BlcnRpZXNfbGFz
	dFBvaW50XxAccGF0aFByb3BlcnRpZXNfa25vd3NJZkNsb3NlZF8QHHBhdGhQcm9wZXJ0
	aWVzX2hhc0ZpcnN0UG9pbnRfECFwYXRoUHJvcGVydGllc19jYWNoZWRFbGVtZW50Q291
	bnRfEBtwYXRoUHJvcGVydGllc19oYXNMYXN0UG9pbnRfEBtwYXRoUHJvcGVydGllc190
	YW5nZW50QXRFbmRfEBdwYXRoUHJvcGVydGllc19pc0Nsb3NlZF8QFXBhdGhQcm9wZXJ0
	aWVzX2lzRmxhdF8QGXBhdGhQcm9wZXJ0aWVzX2ZpcnN0UG9pbnSABQgIgAcIIgAAAAAJ
	CIAGVnswLCAwfVZ7MCwgMH3SIiM/QF8QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXOiQShf
	EBZVSUJlemllclBhdGhQcm9wZXJ0aWVz0iIjQ0RcVUlCZXppZXJQYXRookUoXFVJQmV6
	aWVyUGF0aF8QD05TS2V5ZWRBcmNoaXZlctFISVRyb290gAEACAARABoAIwAtADIANwBB
	AEcAXgBlAIQAqgC5ANUA8QEQAS4BSQFjAYgBigGMAY4BkwGVAZoBnwGkAaUBqgGyAu4C
	8AL1AwADCQMXAxsDKQMwAzkDTgNpA4gDpwPLA+kEBwQhBDkEVQRXBFgEWQRbBFwEYQRi
	BGMEZQRsBHMEeASRBJQErQSyBL8EwgTPBOEE5ATpAAAAAAAAAgEAAAAAAAAASgAAAAAA
	AAAAAAAAAAAABOs=
	</data>
	<key>lastSavedUndoHash</key>
	<integer>171840</integer>
</dict>
</plist>
