<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.0</real>
	<key>backgroundOffset.y</key>
	<real>0.0</real>
	<key>backgroundRotation</key>
	<real>0.0</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUISUpUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABqQkKHyMrP0BBRVUkbnVsbNsLDA0ODxAREhMUFRYXGBkaGxwcHRweXxAZ
	VUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QGVVJQmV6aWVyUGF0aE1pdGVyTGltaXRL
	ZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV5wYXRoUHJvcGVydGllc1YkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lRGFzaFBoYXNlS2V5XxAcVUlCZXppZXJQYXRoTGluZUpv
	aW5TdHlsZUtleV8QI1VJQmV6aWVyUGF0aExpbmVEYXNoUGF0dGVybkNvdW50S2V5XxAi
	VUlCZXppZXJQYXRoVXNlc0V2ZW5PZGRGaWxsUnVsZUtleV8QG1VJQmV6aWVyUGF0aExp
	bmVDYXBTdHlsZUtleV8QGFVJQmV6aWVyUGF0aExpbmVXaWR0aEtleYACIkEgAAAiPxmZ
	moAEgAgiAAAAABAACCI/gAAA0iAPISJXTlMuZGF0YU8RAvgAAAAAAQAAAMgUVUNQFIJD
	AQAAAAEAAADIFFVDUBSCQwEAAAABAAAA0HhtQ7zHOUMDAAAAAwAAAOg2cEOI2ARDoHlr
	Q1ihk0IgfENDgBQJQgEAAAABAAAAIHxDQ4AUCUIBAAAAAQAAAERSAEMAz4dAAQAAAAEA
	AABEUgBDAM+HQAEAAAABAAAAeIa9QgAAgEABAAAAAQAAAHiGvUIAAIBAAQAAAAEAAAAA
	zUlCoNDeQQMAAAADAAAAYIs7QjA8AkKYsytCkNITQnh8GkKw9CNCAwAAAAMAAAB4TgRC
	MFo2QhCS6EEg7k5CYAfQQQCxaEIDAAAAAwAAAPADtUHIoIFCwO+WQTi5jkIgg4hBcFad
	QgMAAAADAAAA4NBqQZAXq0LgqkxB+Ci5QgBbKkEIEcdCAwAAAAMAAABA6QRBKH7WQkAv
	AUEwsuZCgEncQICG9kIDAAAAAwAAAECZ2kB8NgNDALGlQNQBC0MAzJNA6OkSQwMAAAAD
	AAAAAJmDQGw+G0OAs2dABKAjQ4C7jUA89StDAwAAAAMAAAAA/HlA1M0zQwBOnUDYnjtD
	gBylQLBzQ0MDAAAAAwAAAMBV0UBEoFBDgIGbQCzLXkNA/CNBdD1rQwEAAAABAAAAQPwj
	QXQ9a0MBAAAAAQAAAIj2V0JeBJRDAwAAAAMAAAB4RWVCYqaVQ5i6dUKm05ZDLLyDQgJ2
	l0MDAAAAAwAAADh9jELcIZhDMPeUQqYdmUOgK55CIl6ZQwMAAAADAAAA8BqrQjwrmkNg
	hbhCHtmZQ8B7xULimppDAwAAAAMAAAAQ2NJCatiaQ3gm4EImcppDGHvtQtJUmkMDAAAA
	AwAAAFgK+kLQeJpDBBADQ9aFmUNEHAlDPNmYQwMAAAADAAAA+FsPQ5rLl0NI6BVDGCiX
	Q+jLG0PqmpVDAwAAAAMAAADgoSFD+puUQ/y5JkOM1ZJDKGgsQ0KqkUMDAAAAAwAAAJiE
	O0NekY1DtDpNQ+bRiUPIFFVDUBSCQwQAAAAAAAAAgAPSJCUmKlgkY2xhc3Nlc1okY2xh
	c3NuYW1loycoKV1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVjdF1OU011dGFibGVE
	YXRh2iwtLi8PMDEyMzQ1HTcdOTo3PD0dXxAYcGF0aFByb3BlcnRpZXNfbGFzdFBvaW50
	XxAbcGF0aFByb3BlcnRpZXNfaGFzTGFzdFBvaW50XxAccGF0aFByb3BlcnRpZXNfaGFz
	Rmlyc3RQb2ludF8QFXBhdGhQcm9wZXJ0aWVzX2lzRmxhdF8QIXBhdGhQcm9wZXJ0aWVz
	X2NhY2hlZEVsZW1lbnRDb3VudF8QF3BhdGhQcm9wZXJ0aWVzX2lzQ2xvc2VkXxAbcGF0
	aFByb3BlcnRpZXNfdGFuZ2VudEF0RW5kXxAZcGF0aFByb3BlcnRpZXNfZmlyc3RQb2lu
	dF8QHHBhdGhQcm9wZXJ0aWVzX2tub3dzSWZDbG9zZWSABQgJCIAHEB4JIgAAAACABghW
	ezAsIDB9XxAWezIxMy4wODExOCwgMjYwLjE1ODY5fdIkJUJEokMpXxAWVUlCZXppZXJQ
	YXRoUHJvcGVydGllc18QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXPSJCVGSKJHKVxVSUJl
	emllclBhdGhcVUlCZXppZXJQYXRoEgABhqBfEA9OU0tleWVkQXJjaGl2ZXIACAARABYA
	HwAoADIANQA6ADwARgBMAGMAfwCbALUAxADLAOoBCQEvAVQBcgGNAY8BlAGZAZsBnQGi
	AaQBpQGqAa8BtwSzBLUEugTDBM4E0gTgBOcE8AT+BRMFLgVMBWsFgwWnBcEF3wX7BhoG
	HAYdBh4GHwYhBiMGJAYpBisGLAYzBkwGUQZUBm0GhgaLBo4GmwaoBq0AAAAAAAACAQAA
	AAAAAABLAAAAAAAAAAAAAAAAAAAGvw==
	</data>
</dict>
</plist>
