<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allScrapProperties</key>
	<array>
		<dict>
			<key>center.x</key>
			<real>431.90594482421875</real>
			<key>center.y</key>
			<real>432.47454833984375</real>
			<key>rotation</key>
			<real>0.01682436466217041</real>
			<key>scale</key>
			<real>2.5381078720092773</real>
			<key>subviewIndex</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>DD719DE5-6EE3-4218-A5DD-1EE49D7AE8D6</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>374.78253173828125</real>
			<key>center.y</key>
			<real>659.18902587890625</real>
			<key>rotation</key>
			<real>-1.5184359550476074</real>
			<key>scale</key>
			<real>1.6672306060791016</real>
			<key>subviewIndex</key>
			<integer>1</integer>
			<key>uuid</key>
			<string>E8312729-77F3-47B9-8BC3-19E4E036D19C</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>607.62493896484375</real>
			<key>center.y</key>
			<real>658.8311767578125</real>
			<key>rotation</key>
			<real>-1.5184359550476074</real>
			<key>scale</key>
			<real>1.6672306060791016</real>
			<key>subviewIndex</key>
			<integer>2</integer>
			<key>uuid</key>
			<string>EC4873E1-4D51-472D-912E-2EB942A66EB0</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>191.52349853515625</real>
			<key>center.y</key>
			<real>639.1201171875</real>
			<key>rotation</key>
			<real>-1.0995573997497559</real>
			<key>scale</key>
			<real>1.6672306060791016</real>
			<key>subviewIndex</key>
			<integer>3</integer>
			<key>uuid</key>
			<string>5A608006-E5CE-4BDC-8E12-E6538C9FC3C2</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>164.76789855957031</real>
			<key>center.y</key>
			<real>599.54693603515625</real>
			<key>rotation</key>
			<real>-0.10471975803375244</real>
			<key>scale</key>
			<real>1.6672306060791016</real>
			<key>subviewIndex</key>
			<integer>4</integer>
			<key>uuid</key>
			<string>AB5CECD0-9EC7-4C22-A3FB-BAD1AAFA11A8</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>404.1307373046875</real>
			<key>center.y</key>
			<real>506.22915649414062</real>
			<key>rotation</key>
			<real>-1.466076135635376</real>
			<key>scale</key>
			<real>1.6672306060791016</real>
			<key>subviewIndex</key>
			<integer>5</integer>
			<key>uuid</key>
			<string>7984D895-4BD4-4402-86F2-3D5B9416FCDD</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>658.627197265625</real>
			<key>center.y</key>
			<real>552.27728271484375</real>
			<key>rotation</key>
			<real>-0.78539818525314331</real>
			<key>scale</key>
			<real>1.6672306060791016</real>
			<key>subviewIndex</key>
			<integer>6</integer>
			<key>uuid</key>
			<string>EB3D569C-B817-4586-9A99-9F08CDABE979</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>184.12225341796875</real>
			<key>center.y</key>
			<real>522.383056640625</real>
			<key>rotation</key>
			<real>-0.83775806427001953</real>
			<key>scale</key>
			<real>1.6672306060791016</real>
			<key>subviewIndex</key>
			<integer>7</integer>
			<key>uuid</key>
			<string>CEBC3617-D509-4474-8C13-CB87A3C4E065</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>674.77099609375</real>
			<key>center.y</key>
			<real>556.89935302734375</real>
			<key>rotation</key>
			<real>-1.466076135635376</real>
			<key>scale</key>
			<real>1.6672306060791016</real>
			<key>subviewIndex</key>
			<integer>8</integer>
			<key>uuid</key>
			<string>760BA4A1-B712-449A-BD28-6D564C54A03E</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>198.10000610351562</real>
			<key>center.y</key>
			<real>652.14324951171875</real>
			<key>rotation</key>
			<real>-1.2566368579864502</real>
			<key>scale</key>
			<real>1.6672306060791016</real>
			<key>subviewIndex</key>
			<integer>9</integer>
			<key>uuid</key>
			<string>AB12373B-0D58-465D-8AE7-60A8CEC3C606</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>186.74142456054688</real>
			<key>center.y</key>
			<real>503.5872802734375</real>
			<key>rotation</key>
			<real>-0.78539818525314331</real>
			<key>scale</key>
			<real>1.6672306060791016</real>
			<key>subviewIndex</key>
			<integer>10</integer>
			<key>uuid</key>
			<string>916AC130-AEA3-4ED8-87C4-F263665F3BC1</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>171.45274353027344</real>
			<key>center.y</key>
			<real>511.66616821289062</real>
			<key>rotation</key>
			<real>-1.466076135635376</real>
			<key>scale</key>
			<real>1.6672306060791016</real>
			<key>subviewIndex</key>
			<integer>11</integer>
			<key>uuid</key>
			<string>5625B4CC-BB7A-4A0E-BAB8-CE7817A46C64</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>381.96279907226562</real>
			<key>center.y</key>
			<real>515.99810791015625</real>
			<key>rotation</key>
			<real>-1.0995573997497559</real>
			<key>scale</key>
			<real>1.0677801370620728</real>
			<key>subviewIndex</key>
			<integer>12</integer>
			<key>uuid</key>
			<string>48E11DB4-AE96-40E2-85DF-C2DDB19D0527</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>364.45108032226562</real>
			<key>center.y</key>
			<real>470.10372924804688</real>
			<key>rotation</key>
			<real>-1.2566368579864502</real>
			<key>scale</key>
			<real>1.9936662912368774</real>
			<key>subviewIndex</key>
			<integer>13</integer>
			<key>uuid</key>
			<string>07DE38C2-D56D-4582-9B8B-1959DC54352A</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>364.451171875</real>
			<key>center.y</key>
			<real>470.10382080078125</real>
			<key>rotation</key>
			<real>0.30248522758483887</real>
			<key>scale</key>
			<real>1.9936662912368774</real>
			<key>uuid</key>
			<string>BC176355-D89F-43B1-B9E5-7CFC4C9C617D</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>384</real>
			<key>center.y</key>
			<real>512</real>
			<key>rotation</key>
			<real>0.46619775891304016</real>
			<key>scale</key>
			<real>1.0677801370620728</real>
			<key>uuid</key>
			<string>8A51F3A8-BB70-48C1-8034-72763A9E2B79</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>179.97549438476562</real>
			<key>center.y</key>
			<real>496.82135009765625</real>
			<key>rotation</key>
			<real>-0.78539818525314331</real>
			<key>scale</key>
			<real>1.6672306060791016</real>
			<key>uuid</key>
			<string>19F6B671-5687-4DC1-885D-D5CCE4AC98F2</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>449.51608276367188</real>
			<key>center.y</key>
			<real>521.26910400390625</real>
			<key>rotation</key>
			<real>-1.3613564968109131</real>
			<key>scale</key>
			<real>1.6672306060791016</real>
			<key>uuid</key>
			<string>BB9804CE-FBFA-4653-A410-4F25817AC5F9</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>419.1094970703125</real>
			<key>center.y</key>
			<real>637.9517822265625</real>
			<key>rotation</key>
			<real>-1.466076135635376</real>
			<key>scale</key>
			<real>1.6672306060791016</real>
			<key>uuid</key>
			<string>EA1F6DD6-4583-48A9-820B-E88918CA1B14</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>39.217025756835938</real>
			<key>center.y</key>
			<real>40.601066589355469</real>
			<key>rotation</key>
			<real>-1.0800769329071045</real>
			<key>scale</key>
			<real>0.7439950704574585</real>
			<key>uuid</key>
			<string>E3A55A3E-D7C5-4666-9C3D-1469F8B3C0FC</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>40.372787475585938</real>
			<key>center.y</key>
			<real>40.274871826171875</real>
			<key>rotation</key>
			<real>-0.98511302471160889</real>
			<key>scale</key>
			<real>1.8359880447387695</real>
			<key>uuid</key>
			<string>AD817426-1E7A-4035-957C-D38CA8EC9912</string>
		</dict>
	</array>
	<key>scrapsOnPageIDs</key>
	<array>
		<string>DD719DE5-6EE3-4218-A5DD-1EE49D7AE8D6</string>
		<string>E8312729-77F3-47B9-8BC3-19E4E036D19C</string>
		<string>EC4873E1-4D51-472D-912E-2EB942A66EB0</string>
		<string>5A608006-E5CE-4BDC-8E12-E6538C9FC3C2</string>
		<string>AB5CECD0-9EC7-4C22-A3FB-BAD1AAFA11A8</string>
		<string>7984D895-4BD4-4402-86F2-3D5B9416FCDD</string>
		<string>EB3D569C-B817-4586-9A99-9F08CDABE979</string>
		<string>CEBC3617-D509-4474-8C13-CB87A3C4E065</string>
		<string>760BA4A1-B712-449A-BD28-6D564C54A03E</string>
		<string>AB12373B-0D58-465D-8AE7-60A8CEC3C606</string>
		<string>916AC130-AEA3-4ED8-87C4-F263665F3BC1</string>
		<string>5625B4CC-BB7A-4A0E-BAB8-CE7817A46C64</string>
		<string>48E11DB4-AE96-40E2-85DF-C2DDB19D0527</string>
		<string>07DE38C2-D56D-4582-9B8B-1959DC54352A</string>
	</array>
</dict>
</plist>
