<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>6.9382400512695312</real>
	<key>backgroundOffset.y</key>
	<real>0.38330078125</real>
	<key>backgroundRotation</key>
	<real>1.5872652530670166</real>
	<key>backgroundScale</key>
	<real>2.0066666603088379</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQL4AAAAAAEAAADw6ZlBCBAdQwEAAAAB
	AAAAANFOQUzW90IBAAAAAQAAAADRTkFM1vdCAQAAAAEAAADABSZBLAvPQgEAAAABAAAA
	oI4oQbzOu0IBAAAAAQAAAKCOKEG0zrtCAQAAAAEAAACAqvZBoJ8OQgEAAAABAAAAgKr2
	QaCfDkIBAAAAAQAAALgIJEIAAIBAAQAAAAEAAAA4S/1CACOtQAEAAAABAAAAOEv9QgAj
	rUABAAAAAQAAAMwkA0NA43RBAQAAAAEAAADMJANDQON0QQEAAAABAAAAjlg3QzAeL0IB
	AAAAAQAAAI5YN0MwHi9CAQAAAAEAAAAMxTxDOooVQwEAAAABAAAADMU8QzqKFUMBAAAA
	AQAAAEJ7P0M5F4ZDAQAAAAEAAABCez9DOReGQwEAAAABAAAA+INBQ8eHtEMBAAAAAQAA
	APiDQUPHh7RDAQAAAAEAAAAqBjhDlUbNQwEAAAABAAAAKgY4Q5VGzUMBAAAAAQAAAKJY
	N0MlxP5DAQAAAAEAAACiWDdDJcT+QwEAAAABAAAAMNIrQwR8D0QDAAAAAwAAAKoVCUNq
	BAdE8jsvQzaMFEQU9QtDvrgTRAMAAAADAAAA8BsmQ+hoE0T4CQFDfnITRCi590KKXBdE
	AQAAAAEAAABQqfZBfvoWRAEAAAABAAAAgKn2QX76FkQBAAAAAQAAAOAC0UHg1xBEAQAA
	AAEAAADgAtFB4NcQRAEAAAABAAAAwBJJQWIqBkQBAAAAAQAAAMASSUFiKgZEAQAAAAEA
	AAAAAIBAHg4ARAEAAAABAAAAAACAQB4OAEQBAAAAAQAAAOCyfkGZruVDAQAAAAEAAADg
	sn5Bma7lQwEAAAABAAAAmOQIQrVgv0MBAAAAAQAAAJjkCEK1YL9DAQAAAAEAAABIlh5C
	evp/QwEAAAABAAAASJYeQnr6f0MBAAAAAQAAAJCz0EHMny5DAQAAAAEAAACQs9BBzJ8u
	QwEAAAABAAAA8OmZQQgQHUMEAAAAAAAAAIAD0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nl
	c11OU011dGFibGVEYXRhoyYnKF1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVjdNoq
	KywtCS4vMDEyMxwcFTYcODkcO18QGHBhdGhQcm9wZXJ0aWVzX2xhc3RQb2ludF8QHHBh
	dGhQcm9wZXJ0aWVzX2tub3dzSWZDbG9zZWRfEBxwYXRoUHJvcGVydGllc19oYXNGaXJz
	dFBvaW50XxAhcGF0aFByb3BlcnRpZXNfY2FjaGVkRWxlbWVudENvdW50XxAbcGF0aFBy
	b3BlcnRpZXNfaGFzTGFzdFBvaW50XxAbcGF0aFByb3BlcnRpZXNfdGFuZ2VudEF0RW5k
	XxAXcGF0aFByb3BlcnRpZXNfaXNDbG9zZWRfEBVwYXRoUHJvcGVydGllc19pc0ZsYXRf
	EBlwYXRoUHJvcGVydGllc19maXJzdFBvaW50gAUICIAHCCIAAAAACQiABlZ7MCwgMH1W
	ezAsIDB90iIjP0BfEBZVSUJlemllclBhdGhQcm9wZXJ0aWVzokEoXxAWVUlCZXppZXJQ
	YXRoUHJvcGVydGllc9IiI0NEXFVJQmV6aWVyUGF0aKJFKFxVSUJlemllclBhdGhfEA9O
	U0tleWVkQXJjaGl2ZXLRSElUcm9vdIABAAgAEQAaACMALQAyADcAQQBHAF4AZQCEAKoA
	uQDVAPEBEAEuAUkBYwGIAYoBjAGOAZMBlQGaAZ8BpAGlAaoBsgSuBLAEtQTABMkE1wTb
	BOkE8AT5BQ4FKQVIBWcFiwWpBccF4QX5BhUGFwYYBhkGGwYcBiEGIgYjBiUGLAYzBjgG
	UQZUBm0GcgZ/BoIGjwahBqQGqQAAAAAAAAIBAAAAAAAAAEoAAAAAAAAAAAAAAAAAAAar
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
