<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>-6.7759552001953125</real>
	<key>backgroundOffset.y</key>
	<real>0.59127044677734375</real>
	<key>backgroundRotation</key>
	<real>1.5067622661590576</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQH4AAAAAAEAAADowzpCUOqRQQEAAAAB
	AAAA6MM6QlDqkUEBAAAAAQAAANBowkEAAIBAAQAAAAEAAADQaMJBAACAQAEAAAABAAAA
	AACAQCAth0EBAAAAAQAAAAAAgEAgLYdBAQAAAAEAAAAQSTBBoBlNQgMAAAADAAAAYNNx
	QQh+akII5LlBdNmAQpAWAEIQaIFCAwAAAAMAAACItixCaFCEQgjvMkIgQFRC4PVTQjD6
	SkIBAAAAAQAAAOD1U0Iw+kpCAQAAAAEAAAAoufZCQKoxQgEAAAABAAAAKLn2QkCqMUIB
	AAAAAQAAAE72NEMQojVCAQAAAAEAAABO9jRDEKI1QgEAAAABAAAA+rJ+Q3AyJkIDAAAA
	AwAAACBYgEO4+yNCg2WBQ8jBI0LTZoJDsGslQgMAAAADAAAAIOeDQyjnJ0IDvoVDYMEj
	QsQzhkOIcxVCAwAAAAMAAADAZIZDENwHQuiFhkMAM/RBJkCGQ6Dw2EEDAAAAAwAAAFNG
	hkNgIq9BcMaFQ4CBhkHS0oVDQIg5QQEAAAABAAAA0tKFQ0CIOUEBAAAAAQAAANxqUUPg
	bw9BAQAAAAEAAADcalFD4G8PQQEAAAABAAAA2E4KQ6BSbEEBAAAAAQAAANhOCkOgUmxB
	AQAAAAEAAADowzpCUOqRQQQAAAAAAAAAgAPSIiMkJVokY2xhc3NuYW1lWCRjbGFzc2Vz
	XU5TTXV0YWJsZURhdGGjJicoXU5TTXV0YWJsZURhdGFWTlNEYXRhWE5TT2JqZWN02ior
	LC0JLi8wMTIzHBwVNhw4ORw7XxAYcGF0aFByb3BlcnRpZXNfbGFzdFBvaW50XxAccGF0
	aFByb3BlcnRpZXNfa25vd3NJZkNsb3NlZF8QHHBhdGhQcm9wZXJ0aWVzX2hhc0ZpcnN0
	UG9pbnRfECFwYXRoUHJvcGVydGllc19jYWNoZWRFbGVtZW50Q291bnRfEBtwYXRoUHJv
	cGVydGllc19oYXNMYXN0UG9pbnRfEBtwYXRoUHJvcGVydGllc190YW5nZW50QXRFbmRf
	EBdwYXRoUHJvcGVydGllc19pc0Nsb3NlZF8QFXBhdGhQcm9wZXJ0aWVzX2lzRmxhdF8Q
	GXBhdGhQcm9wZXJ0aWVzX2ZpcnN0UG9pbnSABQgIgAcIIgAAAAAJCIAGVnswLCAwfVZ7
	MCwgMH3SIiM/QF8QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXOiQShfEBZVSUJlemllclBh
	dGhQcm9wZXJ0aWVz0iIjQ0RcVUlCZXppZXJQYXRookUoXFVJQmV6aWVyUGF0aF8QD05T
	S2V5ZWRBcmNoaXZlctFISVRyb290gAEACAARABoAIwAtADIANwBBAEcAXgBlAIQAqgC5
	ANUA8QEQAS4BSQFjAYgBigGMAY4BkwGVAZoBnwGkAaUBqgGyA64DsAO1A8ADyQPXA9sD
	6QPwA/kEDgQpBEgEZwSLBKkExwThBPkFFQUXBRgFGQUbBRwFIQUiBSMFJQUsBTMFOAVR
	BVQFbQVyBX8FggWPBaEFpAWpAAAAAAAAAgEAAAAAAAAASgAAAAAAAAAAAAAAAAAABas=
	</data>
	<key>lastSavedUndoHash</key>
	<integer>171840</integer>
</dict>
</plist>
