<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.0011749267578125</real>
	<key>backgroundOffset.y</key>
	<real>-2.648651123046875</real>
	<key>backgroundRotation</key>
	<real>0.004267573356628418</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGR0hYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKT0+P0NVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQL4AAAAAAEAAABADBZCkEe+QgEAAAAB
	AAAAcCV7QUQuokIBAAAAAQAAAHAle0FELqJCAQAAAAEAAABwJXtBRC6iQgEAAAABAAAA
	AACAQHRtjUIBAAAAAQAAAGDvhEBgTQpCAQAAAAEAAABwxIBBkJq9QQEAAAABAAAAcMSA
	QZCavUEDAAAAAwAAAID1hEGgB5lBSCOQQeDmakEgg6BBABApQQMAAAADAAAASJmnQQBz
	7EC4k8RBgHn2QEDP10EASN5AAwAAAAMAAACwtOVBABTMQLCS9EFA9MVATJIBQoAazUAB
	AAAAAQAAAORajEKAvstAAQAAAAEAAADkWoxCgL7LQAEAAAABAAAAZOAGQwBPiUABAAAA
	AQAAAGTgBkMAT4lAAQAAAAEAAAA03FRDAACAQAEAAAABAAAANNxUQwAAgEABAAAAAQAA
	AJTUkENgMgRBAQAAAAEAAACU1JBDYDIEQQMAAAADAAAAhAuNQ3DjukF2epNDQP6XQYoZ
	l0Pg0cRBAQAAAAEAAAC/95ZDgO2sQgMAAAADAAAAsKWWQ4gbrkKZQJZDPBavQrDClUNU
	zK9CAwAAAAMAAACIxZBDsFi0QgS2i0OgDLdCcbyGQzT1u0IDAAAAAwAAANTXhEPkFb5C
	e+CCQxSKvkLi8IBD7Ke/QgMAAAADAAAAdUCAQ1TJv0JWH39DmPu/QpC9fUMIIMBCAQAA
	AAEAAABU7XdDVBPAQgMAAAADAAAAsqt3Q6AHwEKwaXdD8Pm/QrAnd0MU6r9CAwAAAAMA
	AACmJHRDAEbAQpxBcUOEOL5CdExuQ7SIvUIDAAAAAwAAABJ8a0Ngwb1CZLdoQxBqvEK6
	B2ZDXOe6QgMAAAADAAAAZAVjQ1S+uEJQwV9DrOO3QsQHXUNcSLRCAwAAAAMAAABAz1lD
	dJuxQjRMVkOAVLBCfs9SQ2yjsEIDAAAAAwAAADCZHEOwSpFCcKfIQkRrrUL0XDhCUFq+
	QgEAAAABAAAAQAwWQpBHvkIEAAAAAAAAAIAD0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nl
	c11OU011dGFibGVEYXRhoyYnKF1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVjdNoq
	KywtCS4vMDEyMxw1NjccOTUcPF8QGHBhdGhQcm9wZXJ0aWVzX2xhc3RQb2ludF8QHHBh
	dGhQcm9wZXJ0aWVzX2tub3dzSWZDbG9zZWRfEBxwYXRoUHJvcGVydGllc19oYXNGaXJz
	dFBvaW50XxAhcGF0aFByb3BlcnRpZXNfY2FjaGVkRWxlbWVudENvdW50XxAbcGF0aFBy
	b3BlcnRpZXNfaGFzTGFzdFBvaW50XxAbcGF0aFByb3BlcnRpZXNfdGFuZ2VudEF0RW5k
	XxAXcGF0aFByb3BlcnRpZXNfaXNDbG9zZWRfEBVwYXRoUHJvcGVydGllc19pc0ZsYXRf
	EBlwYXRoUHJvcGVydGllc19maXJzdFBvaW50gAUICRAigAcIIgAAAAAJCIAGVnswLCAw
	fV8QKHszNy41MTE5NjMwMDAwMDAwMDIsIDk1LjEzOTc3MDk5OTk5OTk5Nn3SIiNAQV8Q
	FlVJQmV6aWVyUGF0aFByb3BlcnRpZXOiQihfEBZVSUJlemllclBhdGhQcm9wZXJ0aWVz
	0iIjREVcVUlCZXppZXJQYXRookYoXFVJQmV6aWVyUGF0aF8QD05TS2V5ZWRBcmNoaXZl
	ctFJSlRyb290gAEACAARABoAIwAtADIANwBBAEcAXgBlAIQAqgC5ANUA8QEQAS4BSQFj
	AYgBigGMAY4BkwGVAZoBnwGkAaUBqgGyBK4EsAS1BMAEyQTXBNsE6QTwBPkFDgUpBUgF
	ZwWLBakFxwXhBfkGFQYXBhgGGQYbBh0GHgYjBiQGJQYnBi4GWQZeBncGegaTBpgGpQao
	BrUGxwbKBs8AAAAAAAACAQAAAAAAAABLAAAAAAAAAAAAAAAAAAAG0Q==
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
