<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Loose Leaf</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Loose-Leaf_76.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
				<string>public.jpg</string>
				<string>public.jpeg-2000</string>
				<string>public.jpeg</string>
				<string>public.tiff</string>
				<string>public.gif</string>
				<string>com.apple.icns</string>
				<string>public.image</string>
				<string>com.microsoft.bmp</string>
				<string>com.compuserve.gif</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.milestonemade.looseleaf</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fbYOUR_FACEBOOK_APP_ID</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Loose-Leaf_76</string>
			<key>CFBundleURLName</key>
			<string>com.milestonemade.looseleaf</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>looseleaf</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>YOUR_FABRIC_KEY</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>YOUR_TWITTER_KEY</string>
					<key>consumerSecret</key>
					<string>YOUR_TWITTER_SECRET</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
