<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>-33.654491424560547</real>
	<key>backgroundOffset.y</key>
	<real>146.84585571289062</real>
	<key>backgroundRotation</key>
	<real>1.5500476360321045</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEFgAAAAAAQAAAIj52UGg8CNBAwAAAAMA
	AACAhJxBoGYAQZDePEFAEcNAAACAQABaj0ABAAAAAQAAAAjw2EEAAIBAAQAAAAEAAABw
	+dlBwPAjQQQAAAAAAAAAgAPSIiMkJVokY2xhc3NuYW1lWCRjbGFzc2VzXU5TTXV0YWJs
	ZURhdGGjJicoXU5TTXV0YWJsZURhdGFWTlNEYXRhWE5TT2JqZWN02iorLC0JLi8wMTIz
	HBwVNhw4ORw7XxAYcGF0aFByb3BlcnRpZXNfbGFzdFBvaW50XxAccGF0aFByb3BlcnRp
	ZXNfa25vd3NJZkNsb3NlZF8QHHBhdGhQcm9wZXJ0aWVzX2hhc0ZpcnN0UG9pbnRfECFw
	YXRoUHJvcGVydGllc19jYWNoZWRFbGVtZW50Q291bnRfEBtwYXRoUHJvcGVydGllc19o
	YXNMYXN0UG9pbnRfEBtwYXRoUHJvcGVydGllc190YW5nZW50QXRFbmRfEBdwYXRoUHJv
	cGVydGllc19pc0Nsb3NlZF8QFXBhdGhQcm9wZXJ0aWVzX2lzRmxhdF8QGXBhdGhQcm9w
	ZXJ0aWVzX2ZpcnN0UG9pbnSABQgIgAcIIgAAAAAJCIAGVnswLCAwfVZ7MCwgMH3SIiM/
	QF8QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXOiQShfEBZVSUJlemllclBhdGhQcm9wZXJ0
	aWVz0iIjQ0RcVUlCZXppZXJQYXRookUoXFVJQmV6aWVyUGF0aF8QD05TS2V5ZWRBcmNo
	aXZlctFISVRyb290gAEACAARABoAIwAtADIANwBBAEcAXgBlAIQAqgC5ANUA8QEQAS4B
	SQFjAYgBigGMAY4BkwGVAZoBnwGkAaUBqgGyAg0CDwIUAh8CKAI2AjoCSAJPAlgCbQKI
	AqcCxgLqAwgDJgNAA1gDdAN2A3cDeAN6A3sDgAOBA4IDhAOLA5IDlwOwA7MDzAPRA94D
	4QPuBAAEAwQIAAAAAAAAAgEAAAAAAAAASgAAAAAAAAAAAAAAAAAABAo=
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
