<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>-3.451934814453125</real>
	<key>backgroundOffset.y</key>
	<real>-5.8623428344726562</real>
	<key>backgroundRotation</key>
	<real>-0.0052468776702880859</real>
	<key>backgroundScale</key>
	<real>2.0066666603088379</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQMIAAAAAAEAAAA9cX5DauYgQwEAAAAB
	AAAAxbRJQ4qTIkMBAAAAAQAAAMW0SUOKkyJDAQAAAAEAAAA8LM1C2gs2QwEAAAABAAAA
	PCzNQtoLNkMBAAAAAQAAAEqEtUHyuiFDAwAAAAMAAAByW5hB1s4eQ9wXYEFSYR1DdGYh
	QdL1GkMDAAAAAwAAAGme10BGaRpDMi9tQO6CF0PZuoBA9sYTQwEAAAABAAAALHpMQXyS
	hkIBAAAAAQAAACx6TEF8koZCAwAAAAMAAABTfRhCKDOAQteCmsAwwvFBZgf/QUBFD0ID
	AAAAAwAAAOtSHULgx8hBmmK+QRBWn0E6N+xBQJsUQQMAAAADAAAAt5EAQkAl7UDjFQ5C
	gETTQDfgGkKAJOpAAQAAAAEAAABEgdRCwN/DQAEAAAABAAAARIHUQsDfw0ABAAAAAQAA
	AESB1ELA38NAAQAAAAEAAADmlwhD4DQZQQEAAAABAAAA5pcIQ+A0GUEBAAAAAQAAADcZ
	cEMgEQ1BAQAAAAEAAAA3GXBDIBENQQEAAAABAAAAwoScQ4CtmEABAAAAAQAAAMKEnEOA
	rZhAAQAAAAEAAACaqvFDAACAQAEAAAABAAAAmqrxQwAAgEABAAAAAQAAAGPDCETA0K9A
	AQAAAAEAAABjwwhEwNCvQAEAAAABAAAAbN4RRFgEMEIBAAAAAQAAAGzeEURYBDBCAwAA
	AAMAAABr5xBE6C5cQgTrEkRQo35CpEgVROQrhkIBAAAAAQAAABRYFUSEIeJCAQAAAAEA
	AABc/xNEVtcYQwEAAAABAAAAXP8TRFbXGEMBAAAAAQAAAAPcAETytzRDAQAAAAEAAAAD
	3ABE8rc0QwEAAAABAAAA0P3cQ/qnKUMBAAAAAQAAAND93EP6pylDAQAAAAEAAAAUWL9D
	4tIcQwEAAAABAAAAFFi/Q+LSHEMBAAAAAQAAAH5rhkNGcSBDAQAAAAEAAACQMYJDIuIf
	QwEAAAABAAAAkDGCQyLiH0MBAAAAAQAAADlxfkNq5iBDBAAAAAAAAACAA9IiIyQlWiRj
	bGFzc25hbWVYJGNsYXNzZXNdTlNNdXRhYmxlRGF0YaMmJyhdTlNNdXRhYmxlRGF0YVZO
	U0RhdGFYTlNPYmplY3TaKissLQkuLzAxMjMcHBU2HDg5HDtfEBhwYXRoUHJvcGVydGll
	c19sYXN0UG9pbnRfEBxwYXRoUHJvcGVydGllc19rbm93c0lmQ2xvc2VkXxAccGF0aFBy
	b3BlcnRpZXNfaGFzRmlyc3RQb2ludF8QIXBhdGhQcm9wZXJ0aWVzX2NhY2hlZEVsZW1l
	bnRDb3VudF8QG3BhdGhQcm9wZXJ0aWVzX2hhc0xhc3RQb2ludF8QG3BhdGhQcm9wZXJ0
	aWVzX3RhbmdlbnRBdEVuZF8QF3BhdGhQcm9wZXJ0aWVzX2lzQ2xvc2VkXxAVcGF0aFBy
	b3BlcnRpZXNfaXNGbGF0XxAZcGF0aFByb3BlcnRpZXNfZmlyc3RQb2ludIAFCAiABwgi
	AAAAAAkIgAZWezAsIDB9VnswLCAwfdIiIz9AXxAWVUlCZXppZXJQYXRoUHJvcGVydGll
	c6JBKF8QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXPSIiNDRFxVSUJlemllclBhdGiiRShc
	VUlCZXppZXJQYXRoXxAPTlNLZXllZEFyY2hpdmVy0UhJVHJvb3SAAQAIABEAGgAjAC0A
	MgA3AEEARwBeAGUAhACqALkA1QDxARABLgFJAWMBiAGKAYwBjgGTAZUBmgGfAaQBpQGq
	AbIEvgTABMUE0ATZBOcE6wT5BQAFCQUeBTkFWAV3BZsFuQXXBfEGCQYlBicGKAYpBisG
	LAYxBjIGMwY1BjwGQwZIBmEGZAZ9BoIGjwaSBp8GsQa0BrkAAAAAAAACAQAAAAAAAABK
	AAAAAAAAAAAAAAAAAAAGuw==
	</data>
	<key>lastSavedUndoHash</key>
	<integer>142049</integer>
</dict>
</plist>
