<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>-3.0517578125e-05</real>
	<key>backgroundOffset.y</key>
	<real>-7.62939453125e-06</real>
	<key>backgroundRotation</key>
	<real>0.017453297972679138</real>
	<key>backgroundScale</key>
	<real>2.0066666603088379</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQL4AAAAAAEAAACQVRdE2t4BQwMAAAAD
	AAAANEUXRN6tAEObMhdEvPz+QsQdF0SEofxCAQAAAAEAAADEHRdEhKH8QgEAAAABAAAA
	sUEXRMwCvEIBAAAAAQAAALFBF0TMArxCAQAAAAEAAADiyBRE4C9yQgMAAAADAAAAha8V
	RPiHY0L8hxRE0JxWQuPDE0RIVFlCAwAAAAMAAABAPBJE0JxSQh6oEERQnU9C3RcPRAB3
	S0IDAAAAAwAAAMacC0RoeThCDGEVROAJSUG8iQ5EwB+hQQEAAAABAAAAvIkORMAfoUEB
	AAAAAQAAAOPf80Pgjs5BAQAAAAEAAADj3/ND4I7OQQEAAAABAAAA4d7aQ6AeiUEBAAAA
	AQAAAOHe2kOgHolBAQAAAAEAAADh3tpDoB6JQQEAAAABAAAAJX7NQwQrsUIBAAAAAQAA
	ACV+zUMEK7FCAQAAAAEAAADuYbZDbOO/QgMAAAADAAAAAj20Q6Aqv0KuELJDmNy/Qo/5
	r0NU58FCAwAAAAMAAADZG65DSEjEQv1tq0NoM8hCXcarQ8h60kIDAAAAAwAAAInkqkM8
	etpC4jGqQ+zr4kJsBKpDtLDrQgMAAAADAAAAA6OoQ0zV/0KqOKlDAiAKQ8PdqENWXBRD
	AQAAAAEAAADD3ahDVlwUQwEAAAABAAAAI4blQ2JxRUMBAAAAAQAAACOG5UNicUVDAQAA
	AAEAAAA5xQ5E5nREQwMAAAADAAAACoQPRC55QkOBZxBEYndBQ8pKEUSKf0FDAwAAAAMA
	AAC0vhJEFqc/Q6SFFERqdT9D5TIVRHJUOEMDAAAAAwAAAFp1FUS+1DNDfH0WRLLJMENK
	khZElgksQwMAAAADAAAAd/UWRFLcJ0OJAxdEjmUjQ/c0F0RWDR9DAQAAAAEAAAAn+hZE
	trFTQwEAAAABAAAAAACAQAI5SUMBAAAAAQAAADAp7kAAAIBAAQAAAAEAAAB61hdEIItn
	QQEAAAABAAAAkFUXRN7eAUMEAAAAAAAAAIAD0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nl
	c11OU011dGFibGVEYXRhoyYnKF1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVjdNoq
	KywtCS4vMDEyMxwcFTYcODkcO18QGHBhdGhQcm9wZXJ0aWVzX2xhc3RQb2ludF8QHHBh
	dGhQcm9wZXJ0aWVzX2tub3dzSWZDbG9zZWRfEBxwYXRoUHJvcGVydGllc19oYXNGaXJz
	dFBvaW50XxAhcGF0aFByb3BlcnRpZXNfY2FjaGVkRWxlbWVudENvdW50XxAbcGF0aFBy
	b3BlcnRpZXNfaGFzTGFzdFBvaW50XxAbcGF0aFByb3BlcnRpZXNfdGFuZ2VudEF0RW5k
	XxAXcGF0aFByb3BlcnRpZXNfaXNDbG9zZWRfEBVwYXRoUHJvcGVydGllc19pc0ZsYXRf
	EBlwYXRoUHJvcGVydGllc19maXJzdFBvaW50gAUICIAHCCIAAAAACQiABlZ7MCwgMH1W
	ezAsIDB90iIjP0BfEBZVSUJlemllclBhdGhQcm9wZXJ0aWVzokEoXxAWVUlCZXppZXJQ
	YXRoUHJvcGVydGllc9IiI0NEXFVJQmV6aWVyUGF0aKJFKFxVSUJlemllclBhdGhfEA9O
	U0tleWVkQXJjaGl2ZXLRSElUcm9vdIABAAgAEQAaACMALQAyADcAQQBHAF4AZQCEAKoA
	uQDVAPEBEAEuAUkBYwGIAYoBjAGOAZMBlQGaAZ8BpAGlAaoBsgSuBLAEtQTABMkE1wTb
	BOkE8AT5BQ4FKQVIBWcFiwWpBccF4QX5BhUGFwYYBhkGGwYcBiEGIgYjBiUGLAYzBjgG
	UQZUBm0GcgZ/BoIGjwahBqQGqQAAAAAAAAIBAAAAAAAAAEoAAAAAAAAAAAAAAAAAAAar
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
