<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>-1.731292724609375</real>
	<key>backgroundOffset.y</key>
	<real>-0.253448486328125</real>
	<key>backgroundRotation</key>
	<real>0.0061359405517578125</real>
	<key>backgroundScale</key>
	<real>2.0119950771331787</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQYIAAAAAAEAAAAAm59CPA4XRAEAAAAB
	AAAAPHZAQrwVFEQBAAAAAQAAADx2QEK8FRREAwAAAAMAAAB0aj1C9E4QRASHUEL4mQxE
	MMpJQjrQCEQDAAAAAwAAAPThUkIRqQVEiEJGQhVvAkQwHlNC8JT+QwMAAAADAAAAgDBZ
	QoD+90NoOF5C5GDxQyiOX0JswupDAwAAAAMAAAAUPmlC1PXjQ3g9XkL4/9xDKKpiQuoo
	1kMDAAAAAwAAAIAuY0Korc9DiIlgQsQsyUMcxmVC5rnCQwMAAAADAAAAsCNmQlRWu0NE
	/2NCwu6zQxziaEJikqxDAwAAAAMAAAAE4mhCDlGlQ4DiaEKuD55DEOJoQmDOlkMDAAAA
	AwAAAJQXa0L2C5BDaOpgQnRfiUMQxmVCXJiCQwMAAAADAAAAdFFYQls9eEMo/VtCV61q
	QwAeU0Kvi11DAwAAAAMAAACcqE9CLzRQQ5QPRULTF0ND/Fk9QqvmNUMDAAAAAwAAAMTR
	LUIjgipDaNo3QmvwHUP4XSFCo+sSQwMAAAADAAAAENUNQq9hB0O4KwZCjuv1Qsir60E+
	U95CAwAAAAMAAAD4BL5BpunGQqDepEGGV61CcJdeQS7PlkIDAAAAAwAAAMBcDkGmaYBC
	8BIsQeyPTEIAAIBALCUdQgEAAAABAAAAIDuDQPmgtkEBAAAAAQAAAEBuxEDyKC5BAQAA
	AAEAAABAbsRA8iguQQMAAAADAAAABLIhQruDXcBaJ7FCUtoeQQzP/kKiUZVAAwAAAAMA
	AAA8eQhD4lCVQMiKEUNiUpVAipwaQ+JQlUADAAAAAwAAAIxiIkPiUJVAjCgqQ+JQlUCO
	7jFD4lCVQAMAAAADAAAAnLQ5Q+JQlUB4ekFDYlKVQJJASUPiUJVAAwAAAAMAAACAElFD
	Ig6FQMTOWEOiW7RAlpJgQ+IQx0ADAAAAAwAAAPSaaEPiEMdAKKNwQ6IRx0Caq3hD4hDH
	QAMAAAADAAAAInuAQ+IQx0B6oIRD4hDHQM/FiEPiEMdAAwAAAAMAAAB1ZoxD4hDHQDEH
	kENiD8dA0KeTQ+IQx0ADAAAAAwAAAHZIl0PiEMdAMumaQ2IPx0DSiZ5D4hDHQAMAAAAD
	AAAA5WmhQ+K73UBAOqRDYn2tQPYTp0OibqdAAQAAAAEAAABNXahDou+nQAMAAAADAAAA
	QbeoQyIPqUBqEalDYhOrQNRrqUMiMK5AAwAAAAMAAACsLa1DIjCuQH3vsEPiMK5AVbG0
	QyIwrkADAAAAAwAAANPjtUMiMK5AUxa3QyIwrkDRSLhDIjCuQAEAAAABAAAA/ioARGJ7
	ykADAAAAAwAAAA7EAERi681ATF0BRGIXz0DY9gFE4uTLQAEAAAABAAAAqDUGRGI6z0AD
	AAAAAwAAALimB0SiSd1AkhcJROJ67kCyigpEYu/fQAMAAAADAAAAIM8MRGLv30CEEw9E
	4vDfQPJXEURi799AAwAAAAMAAABs4BJEIvDfQOpoFESi7t9AZvEVRKLu30ABAAAAAQAA
	AODdFURMwWJCAwAAAAMAAACwawVEgwpTQyDuBERoz79D+JEJRPQBCUQBAAAAAQAAANxj
	CUS2xhdEAQAAAAEAAABtM+5D/qkXRAEAAAABAAAAaeLrQziVF0QBAAAAAQAAAGni60M4
	lRdEAQAAAAEAAADjntJD6AjvQwEAAAABAAAA457SQ+gI70MBAAAAAQAAAOGfy0NgVsJD
	AQAAAAEAAADhn8tDYFbCQwEAAAABAAAA2y3NQ5ddEUMBAAAAAQAAANstzUOXXRFDAQAA
	AAEAAACUXUVDn+wLQwEAAAABAAAAlF1FQ5/sC0MBAAAAAQAAAJx9LENoNeJDAQAAAAEA
	AACcfSxDaDXiQwMAAAADAAAApO0qQ2a76EP2aCND8MLxQ5gPEkNu3u1DAwAAAAMAAABk
	AAtDRKXsQ+BBAEPKk+5DmC4AQ+7r8kMDAAAAAwAAAMQIBEMM7OtDTKPtQoEmA0QwJfpC
	7iP5QwEAAAABAAAAUO+5QmYTF0QBAAAAAQAAAACbn0I4DhdEBAAAAAAAAACAA9IiIyQl
	WiRjbGFzc25hbWVYJGNsYXNzZXNdTlNNdXRhYmxlRGF0YaMmJyhdTlNNdXRhYmxlRGF0
	YVZOU0RhdGFYTlNPYmplY3TaKissLQkuLzAxMjMcHBU2HDg5HDtfEBhwYXRoUHJvcGVy
	dGllc19sYXN0UG9pbnRfEBxwYXRoUHJvcGVydGllc19rbm93c0lmQ2xvc2VkXxAccGF0
	aFByb3BlcnRpZXNfaGFzRmlyc3RQb2ludF8QIXBhdGhQcm9wZXJ0aWVzX2NhY2hlZEVs
	ZW1lbnRDb3VudF8QG3BhdGhQcm9wZXJ0aWVzX2hhc0xhc3RQb2ludF8QG3BhdGhQcm9w
	ZXJ0aWVzX3RhbmdlbnRBdEVuZF8QF3BhdGhQcm9wZXJ0aWVzX2lzQ2xvc2VkXxAVcGF0
	aFByb3BlcnRpZXNfaXNGbGF0XxAZcGF0aFByb3BlcnRpZXNfZmlyc3RQb2ludIAFCAiA
	BwgiAAAAAAkIgAZWezAsIDB9VnswLCAwfdIiIz9AXxAWVUlCZXppZXJQYXRoUHJvcGVy
	dGllc6JBKF8QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXPSIiNDRFxVSUJlemllclBhdGii
	RShcVUlCZXppZXJQYXRoXxAPTlNLZXllZEFyY2hpdmVy0UhJVHJvb3SAAQAIABEAGgAj
	AC0AMgA3AEEARwBeAGUAhACqALkA1QDxARABLgFJAWMBiAGKAYwBjgGTAZUBmgGfAaQB
	pQGqAbIHvgfAB8UH0AfZB+cH6wf5CAAICQgeCDkIWAh3CJsIuQjXCPEJCQklCScJKAkp
	CSsJLAkxCTIJMwk1CTwJQwlICWEJZAl9CYIJjwmSCZ8JsQm0CbkAAAAAAAACAQAAAAAA
	AABKAAAAAAAAAAAAAAAAAAAJuw==
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
