<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>-0.3605804443359375</real>
	<key>backgroundOffset.y</key>
	<real>7.346435546875</real>
	<key>backgroundRotation</key>
	<real>-0.077410578727722168</real>
	<key>backgroundScale</key>
	<real>2.0088889598846436</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQLIAAAAAAEAAABKkmxCAACAQAEAAAAB
	AAAA+ee0QsoAukMBAAAAAQAAAPnntELKALpDAQAAAAEAAACNS71CMATcQwMAAAADAAAA
	8aG+QgRX3kP5tMVCjv7fQ4X1zUIUgeBDAwAAAAMAAAB5ic9CvqjgQ/UX0UJq1OBDiaTS
	QoQB4UMBAAAAAQAAAKXv+kLOFedDAQAAAAEAAACl7/pCzhXnQwEAAAABAAAAAZP7QvT5
	9kMBAAAAAQAAAAGT+0L0+fZDAQAAAAEAAAAtyL5Chu3/QwEAAAABAAAALci+Qobt/0MD
	AAAAAwAAAI1hsEKFcAFEaSCcQjCJAERVrYtCvS0BRAMAAAADAAAA7X+LQnUuAURtUotC
	Ly8BRAEli0LpLwFEAwAAAAMAAAAV9YpCmx4BRN3BikJeDQFEHYuKQjH8AEQDAAAAAwAA
	ADXbhEKgGAFEokx+Qr8UAUSq4HJCPw0BRAEAAAABAAAAyuByQj8NAUQBAAAAAQAAAGRt
	k0HKTP1DAQAAAAEAAABEbZNBykz9QwEAAAABAAAAaH8KQSDQ8EMBAAAAAQAAAGh/CkEg
	0PBDAQAAAAEAAABofwpBINDwQwEAAAABAAAACC0xQYSM+UMDAAAAAwAAAOjyPkE65vpD
	qBBYQbgP/EMoPHhBEvj8QwEAAAABAAAAaJZfQULL/EMDAAAAAwAAAEhaPUEgBPxDCPcc
	QQIo+0MQMftAgEX6QwMAAAADAAAAaFdnQS5s/0N8iks/CiTtQxAll0CGr/VDAwAAAAMA
	AADQipRALJrvQ8g1A0EQBOlDRHuRQbgi5UMDAAAAAwAAADkAjkJET9NDECmwQC7N6ENi
	WBFC8jHdQwEAAAABAAAAYlgRQvIx3UMBAAAAAQAAAMRWhkHAiQ5BAQAAAAEAAADEVoZB
	wIkOQQEAAAABAAAAOpJsQkAAgEAEAAAAAAAAAIAD0iIjJCVaJGNsYXNzbmFtZVgkY2xh
	c3Nlc11OU011dGFibGVEYXRhoyYnKF1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVj
	dNoqKywtCS4vMDEyMxwcFTYcODkcO18QGHBhdGhQcm9wZXJ0aWVzX2xhc3RQb2ludF8Q
	HHBhdGhQcm9wZXJ0aWVzX2tub3dzSWZDbG9zZWRfEBxwYXRoUHJvcGVydGllc19oYXNG
	aXJzdFBvaW50XxAhcGF0aFByb3BlcnRpZXNfY2FjaGVkRWxlbWVudENvdW50XxAbcGF0
	aFByb3BlcnRpZXNfaGFzTGFzdFBvaW50XxAbcGF0aFByb3BlcnRpZXNfdGFuZ2VudEF0
	RW5kXxAXcGF0aFByb3BlcnRpZXNfaXNDbG9zZWRfEBVwYXRoUHJvcGVydGllc19pc0Zs
	YXRfEBlwYXRoUHJvcGVydGllc19maXJzdFBvaW50gAUICIAHCCIAAAAACQiABlZ7MCwg
	MH1WezAsIDB90iIjP0BfEBZVSUJlemllclBhdGhQcm9wZXJ0aWVzokEoXxAWVUlCZXpp
	ZXJQYXRoUHJvcGVydGllc9IiI0NEXFVJQmV6aWVyUGF0aKJFKFxVSUJlemllclBhdGhf
	EA9OU0tleWVkQXJjaGl2ZXLRSElUcm9vdIABAAgAEQAaACMALQAyADcAQQBHAF4AZQCE
	AKoAuQDVAPEBEAEuAUkBYwGIAYoBjAGOAZMBlQGaAZ8BpAGlAaoBsgR+BIAEhQSQBJkE
	pwSrBLkEwATJBN4E+QUYBTcFWwV5BZcFsQXJBeUF5wXoBekF6wXsBfEF8gXzBfUF/AYD
	BggGIQYkBj0GQgZPBlIGXwZxBnQGeQAAAAAAAAIBAAAAAAAAAEoAAAAAAAAAAAAAAAAA
	AAZ7
	</data>
	<key>lastSavedUndoHash</key>
	<integer>142049</integer>
</dict>
</plist>
