<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allScrapProperties</key>
	<array>
		<dict>
			<key>center.x</key>
			<real>40</real>
			<key>center.y</key>
			<real>40</real>
			<key>rotation</key>
			<real>0.43618065118789673</real>
			<key>scale</key>
			<real>0.64687132835388184</real>
			<key>subviewIndex</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>DDBDE117-8044-4CFE-B473-161130D2368A</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>513.3204345703125</real>
			<key>center.y</key>
			<real>794.80181884765625</real>
			<key>rotation</key>
			<real>0.16939876973628998</real>
			<key>scale</key>
			<real>0.49560472369194031</real>
			<key>subviewIndex</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>ABB582C6-1CFB-4935-A280-8A7B3A87528D</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>535.38555908203125</real>
			<key>center.y</key>
			<real>340.48870849609375</real>
			<key>rotation</key>
			<real>-0.002695801667869091</real>
			<key>scale</key>
			<real>1.1048047542572021</real>
			<key>subviewIndex</key>
			<integer>1</integer>
			<key>uuid</key>
			<string>9E287719-D795-4FCA-9536-43942FFA28C9</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>284.22967529296875</real>
			<key>center.y</key>
			<real>697.12274169921875</real>
			<key>rotation</key>
			<real>0.037682294845581055</real>
			<key>scale</key>
			<real>0.62159997224807739</real>
			<key>subviewIndex</key>
			<integer>2</integer>
			<key>uuid</key>
			<string>8772E06A-7CE6-4D4A-B154-3DAAE4F9077A</string>
		</dict>
	</array>
	<key>scrapsOnPageIDs</key>
	<array>
		<string>ABB582C6-1CFB-4935-A280-8A7B3A87528D</string>
		<string>9E287719-D795-4FCA-9536-43942FFA28C9</string>
		<string>8772E06A-7CE6-4D4A-B154-3DAAE4F9077A</string>
	</array>
</dict>
</plist>
