<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>saveableStackOfUndoableItems</key>
	<array>
		<dict>
			<key>canUndo</key>
			<true/>
			<key>class</key>
			<string>MMUndoRedoStrokeItem</string>
		</dict>
		<dict>
			<key>canUndo</key>
			<true/>
			<key>class</key>
			<string>MMUndoRedoStrokeItem</string>
		</dict>
		<dict>
			<key>canUndo</key>
			<true/>
			<key>class</key>
			<string>MMUndoRedoStrokeItem</string>
		</dict>
		<dict>
			<key>canUndo</key>
			<true/>
			<key>class</key>
			<string>MMUndoRedoStrokeItem</string>
		</dict>
		<dict>
			<key>canUndo</key>
			<true/>
			<key>class</key>
			<string>MMUndoRedoStrokeItem</string>
		</dict>
		<dict>
			<key>canUndo</key>
			<true/>
			<key>class</key>
			<string>MMUndoRedoStrokeItem</string>
		</dict>
		<dict>
			<key>canUndo</key>
			<true/>
			<key>class</key>
			<string>MMUndoRedoStrokeItem</string>
		</dict>
		<dict>
			<key>canUndo</key>
			<true/>
			<key>class</key>
			<string>MMUndoRedoStrokeItem</string>
		</dict>
		<dict>
			<key>canUndo</key>
			<true/>
			<key>class</key>
			<string>MMUndoRedoStrokeItem</string>
		</dict>
		<dict>
			<key>canUndo</key>
			<true/>
			<key>class</key>
			<string>MMUndoRedoStrokeItem</string>
		</dict>
	</array>
	<key>saveableStackOfUndoneItems</key>
	<array/>
</dict>
</plist>
