<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>-109.70529937744141</real>
	<key>backgroundOffset.y</key>
	<real>-80.528167724609375</real>
	<key>backgroundRotation</key>
	<real>0.86936968564987183</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQFYAAAAAAEAAACAtqZAgJrpQAMAAAAD
	AAAAAHbpQIBOx0BAvhVBgH6jQEDTNkEAAIBAAQAAAAEAAABQ6gpC4K78QQEAAAABAAAA
	UOoKQuCu/EEBAAAAAQAAAICSyUEwtxxCAwAAAAMAAACgnqBBwBAqQuDs3kGwyD5CgLK9
	QQDDTkIBAAAAAQAAAICyvUEAw05CAQAAAAEAAADAvlFB0NBkQgEAAAABAAAAwL5RQdDQ
	ZEIBAAAAAQAAAEAjVUEwan1CAQAAAAEAAABAI1VBMGp9QgEAAAABAAAAwPJnQTCRgUIB
	AAAAAQAAAIAAgEAATZNCAQAAAAEAAAAAAIBAAE2TQgEAAAABAAAAAF+pQRBWJEIBAAAA
	AQAAAABfqUEQViRCAwAAAAMAAADgrrtBIJ7EQWDfn0FA/uBBAAZLQWDhg0EBAAAAAQAA
	AAC3pkAAm+lABAAAAAAAAACAA9IiIyQlWiRjbGFzc25hbWVYJGNsYXNzZXNdTlNNdXRh
	YmxlRGF0YaMmJyhdTlNNdXRhYmxlRGF0YVZOU0RhdGFYTlNPYmplY3TaKissLQkuLzAx
	MjMcHBU2HDg5HDtfEBhwYXRoUHJvcGVydGllc19sYXN0UG9pbnRfEBxwYXRoUHJvcGVy
	dGllc19rbm93c0lmQ2xvc2VkXxAccGF0aFByb3BlcnRpZXNfaGFzRmlyc3RQb2ludF8Q
	IXBhdGhQcm9wZXJ0aWVzX2NhY2hlZEVsZW1lbnRDb3VudF8QG3BhdGhQcm9wZXJ0aWVz
	X2hhc0xhc3RQb2ludF8QG3BhdGhQcm9wZXJ0aWVzX3RhbmdlbnRBdEVuZF8QF3BhdGhQ
	cm9wZXJ0aWVzX2lzQ2xvc2VkXxAVcGF0aFByb3BlcnRpZXNfaXNGbGF0XxAZcGF0aFBy
	b3BlcnRpZXNfZmlyc3RQb2ludIAFCAiABwgiAAAAAAkIgAZWezAsIDB9VnswLCAwfdIi
	Iz9AXxAWVUlCZXppZXJQYXRoUHJvcGVydGllc6JBKF8QFlVJQmV6aWVyUGF0aFByb3Bl
	cnRpZXPSIiNDRFxVSUJlemllclBhdGiiRShcVUlCZXppZXJQYXRoXxAPTlNLZXllZEFy
	Y2hpdmVy0UhJVHJvb3SAAQAIABEAGgAjAC0AMgA3AEEARwBeAGUAhACqALkA1QDxARAB
	LgFJAWMBiAGKAYwBjgGTAZUBmgGfAaQBpQGqAbIDDgMQAxUDIAMpAzcDOwNJA1ADWQNu
	A4kDqAPHA+sECQQnBEEEWQR1BHcEeAR5BHsEfASBBIIEgwSFBIwEkwSYBLEEtATNBNIE
	3wTiBO8FAQUEBQkAAAAAAAACAQAAAAAAAABKAAAAAAAAAAAAAAAAAAAFCw==
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
