<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>-165.85908508300781</real>
	<key>backgroundOffset.y</key>
	<real>0.555694580078125</real>
	<key>backgroundRotation</key>
	<real>0.017453297972679138</real>
	<key>backgroundScale</key>
	<real>2.0066666603088379</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQK4AAAAAAEAAAAqjIdDgukRQwMAAAAD
	AAAATimHQ7pBFkMqDYdDfrgaQ9BGhkPC5R5DAwAAAAMAAAA0HYZD3qUjQ/AMhEPqsCZD
	BoiDQ54wK0MDAAAAAwAAAIQtgkOWUTJDSD99Q0KDMkOgb3dDtls0QwMAAAADAAAAfOJz
	Q45TNEOgVHBDWlU1Q1xZbUMSUTdDAQAAAAEAAACAofpCjk04QwEAAAABAAAAgKH6Qo5N
	OEMBAAAAAQAAAAAAgECCOAdDAQAAAAEAAAAAAIBAgjgHQwMAAAADAAAAwLmWQFz4+UIA
	oGJAoI3lQkCqyUAIadFCAwAAAAMAAADAB9VAQKTIQsDYAEGQMsBCQBMdQSAzuEIDAAAA
	AwAAAEAHEkHA661CwMJnQaAAqkLAvJFBrJ+nQgMAAAADAAAAsC6zQfCUpULw89VB+OKk
	QrBC+EHEm6VCAQAAAAEAAACIgZpCXOOWQgEAAAABAAAAiIGaQlzjlkIBAAAAAQAAAHgE
	0EIAAIBAAQAAAAEAAAB4BNBCAACAQAEAAAABAAAAeATQQgAAgEABAAAAAQAAAEAEGkOA
	4EpBAQAAAAEAAABABBpDgOBKQQEAAAABAAAAaGtsQ4AE4EABAAAAAQAAAGhrbEOABOBA
	AwAAAAMAAABU5INDADYTv5C3YEMY6gNC7KNuQ7DnFkIDAAAAAwAAAPDkdEMADhtCeDV7
	Q4ANHkICqoBD+MQkQgMAAAADAAAANDKCQ4ANIkJGgYRDqPguQgC0gkOQoD1CAQAAAAEA
	AACepYdDJLuhQgEAAAABAAAAnqWHQyS7oUIBAAAAAQAAAMRdh0PYWeJCAQAAAAEAAADE
	XYdD2FniQgMAAAADAAAAcoeHQxi15EKkrIdDGBTnQlzNh0MQdulCAQAAAAEAAAAojIdD
	gukRQwQAAAAAAAAAgAPSIiMkJVokY2xhc3NuYW1lWCRjbGFzc2VzXU5TTXV0YWJsZURh
	dGGjJicoXU5TTXV0YWJsZURhdGFWTlNEYXRhWE5TT2JqZWN02iorLC0JLi8wMTIzHBwV
	Nhw4ORw7XxAYcGF0aFByb3BlcnRpZXNfbGFzdFBvaW50XxAccGF0aFByb3BlcnRpZXNf
	a25vd3NJZkNsb3NlZF8QHHBhdGhQcm9wZXJ0aWVzX2hhc0ZpcnN0UG9pbnRfECFwYXRo
	UHJvcGVydGllc19jYWNoZWRFbGVtZW50Q291bnRfEBtwYXRoUHJvcGVydGllc19oYXNM
	YXN0UG9pbnRfEBtwYXRoUHJvcGVydGllc190YW5nZW50QXRFbmRfEBdwYXRoUHJvcGVy
	dGllc19pc0Nsb3NlZF8QFXBhdGhQcm9wZXJ0aWVzX2lzRmxhdF8QGXBhdGhQcm9wZXJ0
	aWVzX2ZpcnN0UG9pbnSABQgIgAcIIgAAAAAJCIAGVnswLCAwfVZ7MCwgMH3SIiM/QF8Q
	FlVJQmV6aWVyUGF0aFByb3BlcnRpZXOiQShfEBZVSUJlemllclBhdGhQcm9wZXJ0aWVz
	0iIjQ0RcVUlCZXppZXJQYXRookUoXFVJQmV6aWVyUGF0aF8QD05TS2V5ZWRBcmNoaXZl
	ctFISVRyb290gAEACAARABoAIwAtADIANwBBAEcAXgBlAIQAqgC5ANUA8QEQAS4BSQFj
	AYgBigGMAY4BkwGVAZoBnwGkAaUBqgGyBG4EcAR1BIAEiQSXBJsEqQSwBLkEzgTpBQgF
	JwVLBWkFhwWhBbkF1QXXBdgF2QXbBdwF4QXiBeMF5QXsBfMF+AYRBhQGLQYyBj8GQgZP
	BmEGZAZpAAAAAAAAAgEAAAAAAAAASgAAAAAAAAAAAAAAAAAABms=
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
