<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allScrapProperties</key>
	<array>
		<dict>
			<key>center.x</key>
			<real>404.09710693359375</real>
			<key>center.y</key>
			<real>459.45596313476562</real>
			<key>rotation</key>
			<real>-0.120025634765625</real>
			<key>scale</key>
			<real>2.1834380626678467</real>
			<key>subviewIndex</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>E355692F-5EFE-42C2-97BA-1BF44A95BFC1</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>421.36016845703125</real>
			<key>center.y</key>
			<real>476.935302734375</real>
			<key>rotation</key>
			<real>-0.08993925154209137</real>
			<key>scale</key>
			<real>0.83960890769958496</real>
			<key>subviewIndex</key>
			<integer>1</integer>
			<key>uuid</key>
			<string>59373C26-3C35-4B0B-A419-681B000A7876</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>438.28671264648438</real>
			<key>center.y</key>
			<real>633.823974609375</real>
			<key>rotation</key>
			<real>-0.096528127789497375</real>
			<key>scale</key>
			<real>1.3688323497772217</real>
			<key>subviewIndex</key>
			<integer>2</integer>
			<key>uuid</key>
			<string>268457AE-888D-47D8-80DF-ED91A0F4000B</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>664.5921630859375</real>
			<key>center.y</key>
			<real>418.79800415039062</real>
			<key>rotation</key>
			<real>-1.7277289628982544</real>
			<key>scale</key>
			<real>0.91649520397186279</real>
			<key>subviewIndex</key>
			<integer>3</integer>
			<key>uuid</key>
			<string>FE8FE221-DB65-4430-B24E-0D77499F0EFF</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>238.85879516601562</real>
			<key>center.y</key>
			<real>562.8721923828125</real>
			<key>rotation</key>
			<real>-0.12984919548034668</real>
			<key>scale</key>
			<real>0.91982835531234741</real>
			<key>subviewIndex</key>
			<integer>4</integer>
			<key>uuid</key>
			<string>A9D599D8-F6A8-498A-8059-CD8766F66695</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>491.53082275390625</real>
			<key>center.y</key>
			<real>614.75457763671875</real>
			<key>rotation</key>
			<real>-0.34347987174987793</real>
			<key>scale</key>
			<real>1.1346100568771362</real>
			<key>subviewIndex</key>
			<integer>5</integer>
			<key>uuid</key>
			<string>F7FB9A73-3230-40F6-8A2A-2B234F450A22</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>40</real>
			<key>center.y</key>
			<real>40</real>
			<key>rotation</key>
			<real>-0.18872612714767456</real>
			<key>scale</key>
			<real>0.79162031412124634</real>
			<key>uuid</key>
			<string>F3F1A11B-35E7-4D9C-A1B7-608F4D92CE29</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>204.17127990722656</real>
			<key>center.y</key>
			<real>888.92822265625</real>
			<key>rotation</key>
			<real>-0.56819057464599609</real>
			<key>scale</key>
			<real>0.93844354152679443</real>
			<key>uuid</key>
			<string>1F524938-482F-4CB6-B0D4-C5ECAF0D1E81</string>
		</dict>
	</array>
	<key>scrapsOnPageIDs</key>
	<array>
		<string>E355692F-5EFE-42C2-97BA-1BF44A95BFC1</string>
		<string>59373C26-3C35-4B0B-A419-681B000A7876</string>
		<string>268457AE-888D-47D8-80DF-ED91A0F4000B</string>
		<string>FE8FE221-DB65-4430-B24E-0D77499F0EFF</string>
		<string>A9D599D8-F6A8-498A-8059-CD8766F66695</string>
		<string>F7FB9A73-3230-40F6-8A2A-2B234F450A22</string>
	</array>
</dict>
</plist>
