<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.0</real>
	<key>backgroundOffset.y</key>
	<real>0.0</real>
	<key>backgroundRotation</key>
	<real>0.0</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUISElUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABqQkKHyMrPj9ARFUkbnVsbNsLDA0ODxAREhMUFRYXGBkaGxwcHRweXxAZ
	VUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QGVVJQmV6aWVyUGF0aE1pdGVyTGltaXRL
	ZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV5wYXRoUHJvcGVydGllc1YkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lRGFzaFBoYXNlS2V5XxAcVUlCZXppZXJQYXRoTGluZUpv
	aW5TdHlsZUtleV8QI1VJQmV6aWVyUGF0aExpbmVEYXNoUGF0dGVybkNvdW50S2V5XxAi
	VUlCZXppZXJQYXRoVXNlc0V2ZW5PZGRGaWxsUnVsZUtleV8QG1VJQmV6aWVyUGF0aExp
	bmVDYXBTdHlsZUtleV8QGFVJQmV6aWVyUGF0aExpbmVXaWR0aEtleYACIkEgAAAiPxmZ
	moAEgAgiAAAAABAACCI/gAAA0iAPISJXTlMuZGF0YU8RBJgAAAAAAQAAALr9mELwMpND
	AwAAAAMAAADEHGpCRDyOQ1QzWUIOLYtDLLFDQm7BiEMDAAAAAwAAALTmKUJKioRD1BgU
	QjT4f0N4dP1BYNB2QwMAAAADAAAAiC/GQYBlbkNIcL9BsHljQ8hCm0EE+llDAwAAAAMA
	AACQvHxBxPVPQzBzMEEcz0ZDsJ8MQQhtPEMDAAAAAwAAAKDz2EC0ezFDQM1CQAhaJkPg
	P4dAyA4bQwEAAAABAAAA4D+HQMgOG0MBAAAAAQAAANzJQEKwHSJCAwAAAAMAAACMpUtC
	EOYXQtxjWULwDBFChO9nQoA6DkIDAAAAAwAAAFxie0LgdAVCXrGHQmD2+UFuW5JCQCn0
	QQMAAAADAAAAOiSpQiDK00HChsFCAAfqQcrx1kIA2gZCAwAAAAMAAAAGOd9CkK8LQkI2
	6EKQEAlC7pfvQuC1AEIDAAAAAwAAAFIP+kIAaO5B1TQCQyAV2kFTGAdDwNDBQQMAAAAD
	AAAAed0LQ+C3tUFH2w5DgAOTQW+gE0NA6oZBAwAAAAMAAAA7HhhDQOJiQaeqHEOA7jdB
	TbAhQ0BkHkEDAAAAAwAAAMH0JkMAaflA7XMsQwD7w0AxJDJDAL61QAMAAAADAAAAQx44
	Q4BXtkCX3T1DAGhkQLHfQ0MAh4JAAwAAAAMAAACxgkpDACSJQBEjUUMACZpAf7lXQwCS
	tEADAAAAAwAAANk6XkOA9blAq5pkQ4Dc5UDhB2tDgLkAQQMAAAADAAAAR9l5Q4DaLEGa
	p4NDQGiWQR45i0NAJKFBAwAAAAMAAACGxoxDwCKmQTJhjkNAh6ZBfPCPQ6BzokEDAAAA
	AwAAANDNkkOgW6BB3qeVQwANlkGGiJhDoFucQQMAAAADAAAAymibQ0DImEH8VZ5DAOWR
	QWAzoUMAzJtBAwAAAAMAAACSGKRDIPGkQZIVp0MghaxB5LCpQyBSxEEDAAAAAwAAAOyy
	rEMAl9RB8O2vQwC31kF637JDIH7qQQMAAAADAAAATNa1Q2AI/kEwB7lDoAEDQgT+u0PA
	xgxCAwAAAAMAAADyh75DwJ8VQp5pwUOA7xVCeMrDQ+A2IkIDAAAAAwAAAKBSxkOQgCRC
	zmLIQ9BbMUIK08pD8A82QgMAAAADAAAADDDNQ0DZPkIgWc9DIBhLQmTe0UPQHlFCAwAA
	AAMAAAA6INRD4IpYQmoD1kOgDmVC0BXYQ0AIb0IDAAAAAwAAAKwc2kPgj3lCiCPcQ7AL
	gkJkKt5DgE+HQgMAAAADAAAAREvlQzjpl0K8/uhDKHi1QqyR7UNQhM9CAwAAAAMAAABg
	KfRDsDr5QmQf/EMAoxRDNIn4Q8SjLkMBAAAAAQAAADSJ+EPEoy5DAQAAAAEAAADuQuxD
	mk2FQwEAAAABAAAA7kLsQ5pNhUMBAAAAAQAAAMDf0UN4waRDAQAAAAEAAADA39FDeMGk
	QwEAAAABAAAAAlyrQwwQqEMBAAAAAQAAAAJcq0MMEKhDAQAAAAEAAABVLyZDMpKoQwEA
	AAABAAAAVS8mQzKSqEMBAAAAAQAAALr9mELwMpNDBAAAAAAAAACAA9IkJSYqWCRjbGFz
	c2VzWiRjbGFzc25hbWWjJygpXU5TTXV0YWJsZURhdGFWTlNEYXRhWE5TT2JqZWN0XU5T
	TXV0YWJsZURhdGHaLC0uLw8wMTIzNDUdHR05HDo7PB1fEBhwYXRoUHJvcGVydGllc19s
	YXN0UG9pbnRfEBtwYXRoUHJvcGVydGllc19oYXNMYXN0UG9pbnRfEBxwYXRoUHJvcGVy
	dGllc19oYXNGaXJzdFBvaW50XxAVcGF0aFByb3BlcnRpZXNfaXNGbGF0XxAhcGF0aFBy
	b3BlcnRpZXNfY2FjaGVkRWxlbWVudENvdW50XxAXcGF0aFByb3BlcnRpZXNfaXNDbG9z
	ZWRfEBtwYXRoUHJvcGVydGllc190YW5nZW50QXRFbmRfEBlwYXRoUHJvcGVydGllc19m
	aXJzdFBvaW50XxAccGF0aFByb3BlcnRpZXNfa25vd3NJZkNsb3NlZIAFCAgIgAcJIgAA
	AACABghWezAsIDB9VnswLCAwfdIkJUFDokIpXxAWVUlCZXppZXJQYXRoUHJvcGVydGll
	c18QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXPSJCVFR6JGKVxVSUJlemllclBhdGhcVUlC
	ZXppZXJQYXRoEgABhqBfEA9OU0tleWVkQXJjaGl2ZXIACAARABYAHwAoADIANQA6ADwA
	RgBMAGMAfwCbALUAxADLAOoBCQEvAVQBcgGNAY8BlAGZAZsBnQGiAaQBpQGqAa8BtwZT
	BlUGWgZjBm4GcgaABocGkAaeBrMGzgbsBwsHIwdHB2EHfwebB7oHvAe9B74HvwfBB8IH
	xwfJB8oH0QfYB90H4Af5CBIIFwgaCCcINAg5AAAAAAAAAgEAAAAAAAAASgAAAAAAAAAA
	AAAAAAAACEs=
	</data>
</dict>
</plist>
