<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>-26.740753173828125</real>
	<key>backgroundOffset.y</key>
	<real>269.66131591796875</real>
	<key>backgroundRotation</key>
	<real>-1.5646598339080811</real>
	<key>backgroundScale</key>
	<real>2.0119950771331787</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEGgAAAAAAQAAAJ+aCkTgoFdCAQAAAAEA
	AAC8q/dDEL9UQgMAAAADAAAAOnelQ0B+j0IrWh5DsJGLQgAAgEAAAIBAAQAAAAEAAADk
	rApEgCTsQAEAAAABAAAAn5oKROCgV0IEAAAAAAAAAIAD0iIjJCVaJGNsYXNzbmFtZVgk
	Y2xhc3Nlc11OU011dGFibGVEYXRhoyYnKF1OU011dGFibGVEYXRhVk5TRGF0YVhOU09i
	amVjdNoqKywtCS4vMDEyMxwcFTYcODkcO18QGHBhdGhQcm9wZXJ0aWVzX2xhc3RQb2lu
	dF8QHHBhdGhQcm9wZXJ0aWVzX2tub3dzSWZDbG9zZWRfEBxwYXRoUHJvcGVydGllc19o
	YXNGaXJzdFBvaW50XxAhcGF0aFByb3BlcnRpZXNfY2FjaGVkRWxlbWVudENvdW50XxAb
	cGF0aFByb3BlcnRpZXNfaGFzTGFzdFBvaW50XxAbcGF0aFByb3BlcnRpZXNfdGFuZ2Vu
	dEF0RW5kXxAXcGF0aFByb3BlcnRpZXNfaXNDbG9zZWRfEBVwYXRoUHJvcGVydGllc19p
	c0ZsYXRfEBlwYXRoUHJvcGVydGllc19maXJzdFBvaW50gAUICIAHCCIAAAAACQiABlZ7
	MCwgMH1WezAsIDB90iIjP0BfEBZVSUJlemllclBhdGhQcm9wZXJ0aWVzokEoXxAWVUlC
	ZXppZXJQYXRoUHJvcGVydGllc9IiI0NEXFVJQmV6aWVyUGF0aKJFKFxVSUJlemllclBh
	dGhfEA9OU0tleWVkQXJjaGl2ZXLRSElUcm9vdIABAAgAEQAaACMALQAyADcAQQBHAF4A
	ZQCEAKoAuQDVAPEBEAEuAUkBYwGIAYoBjAGOAZMBlQGaAZ8BpAGlAaoBsgIdAh8CJAIv
	AjgCRgJKAlgCXwJoAn0CmAK3AtYC+gMYAzYDUANoA4QDhgOHA4gDigOLA5ADkQOSA5QD
	mwOiA6cDwAPDA9wD4QPuA/ED/gQQBBMEGAAAAAAAAAIBAAAAAAAAAEoAAAAAAAAAAAAA
	AAAAAAQa
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
