<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>class</key>
		<string>MMExportablePaperView</string>
		<key>uuid</key>
		<string>68FA3D65-92E8-4165-9223-65AF27BD23F6</string>
	</dict>
	<dict>
		<key>class</key>
		<string>MMExportablePaperView</string>
		<key>uuid</key>
		<string>C3B5973F-F4F8-4D01-88DB-1997B8CF286C</string>
	</dict>
	<dict>
		<key>class</key>
		<string>MMExportablePaperView</string>
		<key>uuid</key>
		<string>3885723B-8F25-4247-90DD-058269F847CC</string>
	</dict>
	<dict>
		<key>class</key>
		<string>MMExportablePaperView</string>
		<key>uuid</key>
		<string>CEFEB1F9-53AD-4339-BE36-3C03143BC7D1</string>
	</dict>
	<dict>
		<key>class</key>
		<string>MMExportablePaperView</string>
		<key>uuid</key>
		<string>82C02643-3903-4391-B61A-5F93B1D54DCF</string>
	</dict>
</array>
</plist>
