<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>class</key>
		<string>MMExportablePaperView</string>
		<key>uuid</key>
		<string>FB0A9F2D-6F13-42CB-927A-CE2EBB8CA9C0</string>
	</dict>
	<dict>
		<key>class</key>
		<string>MMExportablePaperView</string>
		<key>uuid</key>
		<string>F15B86BD-CCC2-438B-B780-611E23C93626</string>
	</dict>
	<dict>
		<key>class</key>
		<string>MMExportablePaperView</string>
		<key>uuid</key>
		<string>D79E1C95-5C5A-4774-B534-282938DC25B7</string>
	</dict>
	<dict>
		<key>class</key>
		<string>MMExportablePaperView</string>
		<key>uuid</key>
		<string>150759AD-9EE2-4017-B373-5CC96BC68B18</string>
	</dict>
	<dict>
		<key>class</key>
		<string>MMExportablePaperView</string>
		<key>uuid</key>
		<string>09BCF065-4FDA-4D8E-BF9F-CD1608538D9B</string>
	</dict>
	<dict>
		<key>class</key>
		<string>MMExportablePaperView</string>
		<key>uuid</key>
		<string>73A9958C-CF00-4059-B4C7-A0B3ED463036</string>
	</dict>
</array>
</plist>
