<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.0</real>
	<key>backgroundOffset.y</key>
	<real>0.0</real>
	<key>backgroundRotation</key>
	<real>0.0</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUISElUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABqQkKHyMrPj9ARFUkbnVsbNsLDA0ODxAREhMUFRYXGBkaGxwcHRweXxAZ
	VUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QGVVJQmV6aWVyUGF0aE1pdGVyTGltaXRL
	ZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV5wYXRoUHJvcGVydGllc1YkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lRGFzaFBoYXNlS2V5XxAcVUlCZXppZXJQYXRoTGluZUpv
	aW5TdHlsZUtleV8QI1VJQmV6aWVyUGF0aExpbmVEYXNoUGF0dGVybkNvdW50S2V5XxAi
	VUlCZXppZXJQYXRoVXNlc0V2ZW5PZGRGaWxsUnVsZUtleV8QG1VJQmV6aWVyUGF0aExp
	bmVDYXBTdHlsZUtleV8QGFVJQmV6aWVyUGF0aExpbmVXaWR0aEtleYACIkEgAAAiPxmZ
	moAEgAgiAAAAABAACCI/gAAA0iAPISJXTlMuZGF0YU8RAxgAAAAAAQAAAI73eUO8fa1C
	AwAAAAMAAACivG9DVAUfQvZdP0NIX/e/mssNQ8BLlkADAAAAAwAAAGyptkIi1y9BgMch
	Qtp4CUIg/SRBIFOYQgEAAAABAAAAIP0kQSBTmEIBAAAAAQAAAAAKJEH0/DtDAQAAAAEA
	AAAACiRB9Pw7QwEAAAABAAAAAACAQPETkkMBAAAAAQAAAAAAgEDxE5JDAQAAAAEAAADk
	QpZCT+PbQwEAAAABAAAA5EKWQk/j20MBAAAAAQAAAASo2ELjrOVDAQAAAAEAAAAEqNhC
	46zlQwEAAAABAAAAXBwPQ8vl5EMBAAAAAQAAAFwcD0PL5eRDAQAAAAEAAAB6xTJDzCra
	QwEAAAABAAAAesUyQ8wq2kMBAAAAAQAAAAD6gUNcNdRDAwAAAAMAAADeUYRDM8jSQyBf
	hkPv5tBDSgKIQ7S1zkMDAAAAAwAAAEJgikO7wMtD2DiMQ65nyENyqo1DbOnEQwMAAAAD
	AAAAJH6PQ52ZwUPEWZBDJ9+9Q6gAkUO/LrpDAwAAAAMAAADipZFD//i2Q5T2kUMUrrND
	br+RQxlosEMDAAAAAwAAAMoNkkO24qxDfiGRQxNwqUOoRJFDbeylQwMAAAADAAAAgGuQ
	QxxookNgK5BDnMqeQ3yxj0NhN5tDAwAAAAMAAACQqI5Dqe+VQ46bjUOezo9DfjSQQwrG
	ikMDAAAAAwAAAGybkEPYNolDIGKRQx3Dh0M8cJJDPI2GQwMAAAADAAAAxrqTQ67Qg0Pk
	zpVDoZGBQ24Zl0Moqn1DAwAAAAMAAAB48JhDksV3Q9o1m0MCHnJD3tqbQ8ARa0MDAAAA
	AwAAAAh0nEN1Y2RDZHCdQzzVXUPqkJ1D8P9WQwMAAAADAAAAHpGdQ3H3T0O+l51DeexI
	Q/ZTnUN450FDAwAAAAMAAAACaJ1Dces5Q6wPnEPqXDJDiH6bQ9GOKkMDAAAAAwAAADKf
	mUPxVxtDxKSYQyX1CkMWG5VDkpz5QgEAAAABAAAAFhuVQ5Kc+UIBAAAAAQAAAI73eUO8
	fa1CBAAAAAAAAACAA9IkJSYqWCRjbGFzc2VzWiRjbGFzc25hbWWjJygpXU5TTXV0YWJs
	ZURhdGFWTlNEYXRhWE5TT2JqZWN0XU5TTXV0YWJsZURhdGHaLC0uLw8wMTIzNDUdHR05
	HDo7PB1fEBhwYXRoUHJvcGVydGllc19sYXN0UG9pbnRfEBtwYXRoUHJvcGVydGllc19o
	YXNMYXN0UG9pbnRfEBxwYXRoUHJvcGVydGllc19oYXNGaXJzdFBvaW50XxAVcGF0aFBy
	b3BlcnRpZXNfaXNGbGF0XxAhcGF0aFByb3BlcnRpZXNfY2FjaGVkRWxlbWVudENvdW50
	XxAXcGF0aFByb3BlcnRpZXNfaXNDbG9zZWRfEBtwYXRoUHJvcGVydGllc190YW5nZW50
	QXRFbmRfEBlwYXRoUHJvcGVydGllc19maXJzdFBvaW50XxAccGF0aFByb3BlcnRpZXNf
	a25vd3NJZkNsb3NlZIAFCAgIgAcJIgAAAACABghWezAsIDB9VnswLCAwfdIkJUFDokIp
	XxAWVUlCZXppZXJQYXRoUHJvcGVydGllc18QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXPS
	JCVFR6JGKVxVSUJlemllclBhdGhcVUlCZXppZXJQYXRoEgABhqBfEA9OU0tleWVkQXJj
	aGl2ZXIACAARABYAHwAoADIANQA6ADwARgBMAGMAfwCbALUAxADLAOoBCQEvAVQBcgGN
	AY8BlAGZAZsBnQGiAaQBpQGqAa8BtwTTBNUE2gTjBO4E8gUABQcFEAUeBTMFTgVsBYsF
	owXHBeEF/wYbBjoGPAY9Bj4GPwZBBkIGRwZJBkoGUQZYBl0GYAZ5BpIGlwaaBqcGtAa5
	AAAAAAAAAgEAAAAAAAAASgAAAAAAAAAAAAAAAAAABss=
	</data>
</dict>
</plist>
