<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>-2.805267333984375</real>
	<key>backgroundOffset.y</key>
	<real>5.693389892578125</real>
	<key>backgroundRotation</key>
	<real>1.552945613861084</real>
	<key>backgroundScale</key>
	<real>2.0119950771331787</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQPYAAAAAAEAAADHFBBEAACAQAEAAAAB
	AAAAxxQQRAAAgEABAAAAAQAAAI6AuENMlWxCAQAAAAEAAACOgLhDTJVsQgEAAAABAAAA
	ACmHQ4JUjkIBAAAAAQAAAAAph0OCVI5CAQAAAAEAAADodDlBtA1qQgEAAAABAAAA6HQ5
	QbQNakIBAAAAAQAAAAAAgEAyLtVCAQAAAAEAAAAAAIBAMi7VQgEAAAABAAAAxCWmQnew
	B0MBAAAAAQAAAMQlpkJ3sAdDAQAAAAEAAAAi6vpCHXwLQwEAAAABAAAAIur6Qh18C0MB
	AAAAAQAAAJ2EAkPfii9DAQAAAAEAAACdhAJD34ovQwEAAAABAAAA0pWqQ02fQEMDAAAA
	AwAAAJhGv0OR61FDskPrQx8vJUMEHOtDtxZdQwEAAAABAAAABBzrQ7cWXUMBAAAAAQAA
	AGb/5kMotdRDAQAAAAEAAABm/+ZDKLXUQwEAAAABAAAAPjqxQyAG1UMDAAAAAwAAAC4S
	r0O+adRD9s+sQ/gz1EPWlapDLmTUQwMAAAADAAAAJhunQzRk1EN2oKNDNGTUQ8gloEM0
	ZNRDAwAAAAMAAAAOF51DNGTUQ1YImkM0ZNRDmvmWQzRk1EMDAAAAAwAAAOxjk0M0ZNRD
	QM6PQzRk1EOSOIxDNGTUQwMAAAADAAAA5POIQypk1EMmr4VDNGTUQ3RqgkM0ZNRDAwAA
	AAMAAABrg35DtI7UQzkceEP4CtRDn9pxQyy11EMDAAAAAwAAAJU0bEO6mtRDBylnQ7Jr
	1kMbaGFDFqjVQwMAAAADAAAAy+laQ5KM1kOP6lNDRhPVQ9/LTUP669ZDAwAAAAMAAADB
	kEhDeuPWQ1XYQ0NiONhDPZ0+Q9wv2EMDAAAAAwAAAKfMN0PMUtlDPWgwQzaX2EMevSlD
	sBXaQwMAAAADAAAARtwcQ8T820MQQQRDQIPbQ20MBUOyJ+VDAwAAAAMAAACbnAxDOIbs
	Q5gaAEPY1e5DXkPuQrI58EMBAAAAAQAAAF5D7kKyOfBDAQAAAAEAAAAgpKhBhIL9QwEA
	AAABAAAAIKSoQYSC/UMBAAAAAQAAAKAwdkFLgglEAwAAAAMAAAC8JpNBPjIMRCCb8EHw
	Uw1ECsMiQuyeDUQBAAAAAQAAAArDIkLsng1EAQAAAAEAAADnE3pD2rcIRAEAAAABAAAA
	5xN6Q9q3CEQBAAAAAQAAABC530P9qwxEAQAAAAEAAAAQud9D/asMRAEAAAABAAAAX/gS
	RD/lFEQBAAAAAQAAAF/4EkQ/5RREAQAAAAEAAADHFBBEAACAQAQAAAAAAAAAgAPSIiMk
	JVokY2xhc3NuYW1lWCRjbGFzc2VzXU5TTXV0YWJsZURhdGGjJicoXU5TTXV0YWJsZURh
	dGFWTlNEYXRhWE5TT2JqZWN02iorLC0JLi8wMTIzHBwVNhw4ORw7XxAYcGF0aFByb3Bl
	cnRpZXNfbGFzdFBvaW50XxAccGF0aFByb3BlcnRpZXNfa25vd3NJZkNsb3NlZF8QHHBh
	dGhQcm9wZXJ0aWVzX2hhc0ZpcnN0UG9pbnRfECFwYXRoUHJvcGVydGllc19jYWNoZWRF
	bGVtZW50Q291bnRfEBtwYXRoUHJvcGVydGllc19oYXNMYXN0UG9pbnRfEBtwYXRoUHJv
	cGVydGllc190YW5nZW50QXRFbmRfEBdwYXRoUHJvcGVydGllc19pc0Nsb3NlZF8QFXBh
	dGhQcm9wZXJ0aWVzX2lzRmxhdF8QGXBhdGhQcm9wZXJ0aWVzX2ZpcnN0UG9pbnSABQgI
	gAcIIgAAAAAJCIAGVnswLCAwfVZ7MCwgMH3SIiM/QF8QFlVJQmV6aWVyUGF0aFByb3Bl
	cnRpZXOiQShfEBZVSUJlemllclBhdGhQcm9wZXJ0aWVz0iIjQ0RcVUlCZXppZXJQYXRo
	okUoXFVJQmV6aWVyUGF0aF8QD05TS2V5ZWRBcmNoaXZlctFISVRyb290gAEACAARABoA
	IwAtADIANwBBAEcAXgBlAIQAqgC5ANUA8QEQAS4BSQFjAYgBigGMAY4BkwGVAZoBnwGk
	AaUBqgGyBY4FkAWVBaAFqQW3BbsFyQXQBdkF7gYJBigGRwZrBokGpwbBBtkG9Qb3BvgG
	+Qb7BvwHAQcCBwMHBQcMBxMHGAcxBzQHTQdSB18HYgdvB4EHhAeJAAAAAAAAAgEAAAAA
	AAAASgAAAAAAAAAAAAAAAAAAB4s=
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
