<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>center.x</key>
		<real>361.37591552734375</real>
		<key>center.y</key>
		<real>486.35537719726562</real>
		<key>rotation</key>
		<real>-0.14085203409194946</real>
		<key>scale</key>
		<real>0.85480970144271851</real>
		<key>uuid</key>
		<string>3B5A2AE7-57A5-43ED-92FC-32CE49E05DBB</string>
	</dict>
	<dict>
		<key>center.x</key>
		<real>519.9342041015625</real>
		<key>center.y</key>
		<real>807.24676513671875</real>
		<key>rotation</key>
		<real>-0.93292117118835449</real>
		<key>scale</key>
		<real>0.97741150856018066</real>
		<key>uuid</key>
		<string>922D36C3-91D5-42EF-B25D-671F57D1D2D3</string>
	</dict>
</array>
</plist>
