<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>2.747711181640625</real>
	<key>backgroundOffset.y</key>
	<real>-7.866363525390625</real>
	<key>backgroundRotation</key>
	<real>-0.0087266452610492706</real>
	<key>backgroundScale</key>
	<real>2.0066666603088379</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQQYAAAAAAEAAAAQAIBA/MXsQgEAAAAB
	AAAA4ANxQRgfgkIBAAAAAQAAAOADcUEYH4JCAQAAAAEAAADm/RVC4HrlQQEAAAABAAAA
	5v0VQuB65UEDAAAAAwAAAKxYAUIA++4/RkRgQiCSMkH3/ZNCICApQQMAAAADAAAAN4qz
	QqCqMUH7ndRCANVLQOsS8UJgGzBBAQAAAAEAAAAaBmBDgD2NQAEAAAABAAAAGgZgQ4A9
	jUABAAAAAQAAADLVm0MAAIBAAQAAAAEAAAAy1ZtDAACAQAEAAAABAAAAes2xQ0CwyUAB
	AAAAAQAAAHrNsUNAsMlAAQAAAAEAAADFmOdDAOztQAEAAAABAAAAxZjnQwDs7UABAAAA
	AQAAAB5sDERAfyFBAQAAAAEAAAAebAxEQH8hQQMAAAADAAAAVtQKRBB4lUExvQpEMFYV
	QrQcDkSY6wdCAwAAAAMAAACqcg9EaDQLQrESEkRIAgFCaj0RRKiXLkIDAAAAAwAAAA8N
	EUQIrUdCqVkRRGhkYUI7nxFEqAN5QgMAAAADAAAA88AQRCBKcEJFKhlELAekQnWPE0QM
	VYZCAQAAAAEAAACwHRVE+p0eQwEAAAABAAAAsB0VRPqdHkMBAAAAAQAAAH97/ENG3ThD
	AQAAAAEAAAB/e/xDRt04QwEAAAABAAAAG9DJQ9IGIEMBAAAAAQAAABvQyUPSBiBDAwAA
	AAMAAAACEsNDklsdQ7uSvEMSQRhDdMm1Q9ZqFkMDAAAAAwAAAFtls0OiohVDjwWxQ1Js
	FEOykq5D6qgUQwMAAAADAAAA9uirQ3ZhFEM8P6lDAhoUQ4CVpkOK0hNDAwAAAAMAAACG
	1aNDHr4UQ74ToUOaGhNDslGeQyL1E0MDAAAAAwAAAKKjm0MuZBRDpu2YQ34CFEMbR5ZD
	Dh4VQwMAAAADAAAAzAeUQ+rbFUNqxpFDPvMUQyCGj0MC6RRDAwAAAAMAAADeBY1D9tYU
	Q+iFikMu9RNDaAWIQ96fFEMDAAAAAwAAABOHhUMuRBRDsjSDQ9qEFkM0t4BDtlwWQwMA
	AAADAAAArqF8Q74hF0MS+ndDBpAYQ7o9c0O+nxlDAwAAAAMAAACq721D8rcaQ7xvaEM2
	aBtDLIBjQ1LOHUMDAAAAAwAAABgPX0O2ex9D4CZaQzIVH0NQz1VDChghQwMAAAADAAAA
	1OpQQzr7IUME90tDto4iQ4IlR0OK1CNDAwAAAAMAAAAszEJDhsUkQ8xiPkMWXiVD4AE6
	Q1IlJkMDAAAAAwAAAEhIN0MmOCdDUlk0Q/7BJ0MQajFDurInQwEAAAABAAAAp3nGQn4i
	PEMBAAAAAQAAAKd5xkJ+IjxDAQAAAAEAAACARIlAlpIXQwEAAAABAAAAAACAQPzF7EIE
	AAAAAAAAAIAD0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nlc11OU011dGFibGVEYXRhoyYn
	KF1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVjdNoqKywtCS4vMDEyMxwcFTYcODkc
	O18QGHBhdGhQcm9wZXJ0aWVzX2xhc3RQb2ludF8QHHBhdGhQcm9wZXJ0aWVzX2tub3dz
	SWZDbG9zZWRfEBxwYXRoUHJvcGVydGllc19oYXNGaXJzdFBvaW50XxAhcGF0aFByb3Bl
	cnRpZXNfY2FjaGVkRWxlbWVudENvdW50XxAbcGF0aFByb3BlcnRpZXNfaGFzTGFzdFBv
	aW50XxAbcGF0aFByb3BlcnRpZXNfdGFuZ2VudEF0RW5kXxAXcGF0aFByb3BlcnRpZXNf
	aXNDbG9zZWRfEBVwYXRoUHJvcGVydGllc19pc0ZsYXRfEBlwYXRoUHJvcGVydGllc19m
	aXJzdFBvaW50gAUICIAHCCIAAAAACQiABlZ7MCwgMH1WezAsIDB90iIjP0BfEBZVSUJl
	emllclBhdGhQcm9wZXJ0aWVzokEoXxAWVUlCZXppZXJQYXRoUHJvcGVydGllc9IiI0NE
	XFVJQmV6aWVyUGF0aKJFKFxVSUJlemllclBhdGhfEA9OU0tleWVkQXJjaGl2ZXLRSElU
	cm9vdIABAAgAEQAaACMALQAyADcAQQBHAF4AZQCEAKoAuQDVAPEBEAEuAUkBYwGIAYoB
	jAGOAZMBlQGaAZ8BpAGlAaoBsgXOBdAF1QXgBekF9wX7BgkGEAYZBi4GSQZoBocGqwbJ
	BucHAQcZBzUHNwc4BzkHOwc8B0EHQgdDB0UHTAdTB1gHcQd0B40HkgefB6IHrwfBB8QH
	yQAAAAAAAAIBAAAAAAAAAEoAAAAAAAAAAAAAAAAAAAfL
	</data>
	<key>lastSavedUndoHash</key>
	<integer>171840</integer>
</dict>
</plist>
