<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.0</real>
	<key>backgroundOffset.y</key>
	<real>0.0</real>
	<key>backgroundRotation</key>
	<real>0.0</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUISElUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABqQkKHyMrPj9ARFUkbnVsbNsLDA0ODxAREhMUFRYXGBkaGxwcHRweXxAZ
	VUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QGVVJQmV6aWVyUGF0aE1pdGVyTGltaXRL
	ZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV5wYXRoUHJvcGVydGllc1YkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lRGFzaFBoYXNlS2V5XxAcVUlCZXppZXJQYXRoTGluZUpv
	aW5TdHlsZUtleV8QI1VJQmV6aWVyUGF0aExpbmVEYXNoUGF0dGVybkNvdW50S2V5XxAi
	VUlCZXppZXJQYXRoVXNlc0V2ZW5PZGRGaWxsUnVsZUtleV8QG1VJQmV6aWVyUGF0aExp
	bmVDYXBTdHlsZUtleV8QGFVJQmV6aWVyUGF0aExpbmVXaWR0aEtleYACIkEgAAAiPxmZ
	moAEgAgiAAAAABAACCI/gAAA0iAPISJXTlMuZGF0YU8RA3gAAAAAAQAAAIh1GUJCR1RD
	AwAAAAMAAADUlQFCmXdbQ8BryUFWJWRDAHWlQS7EbUMDAAAAAwAAAADNYkF1Y3lD4KL+
	QGbXgkPg0L9AuICJQwMAAAADAAAAAEuVQNs1j0MAs21AkvKUQ+CBgkB4sppDAwAAAAMA
	AACAan9A3e+fQwBXhUBqUaVDYN/rQGFcqkMBAAAAAQAAAGDf60BhXKpDAQAAAAEAAAAY
	8YBCznm8QwEAAAABAAAAGPGAQs55vEMBAAAAAQAAAJwQ10JGQvBDAQAAAAEAAACcENdC
	RkLwQwEAAAABAAAAUlYcQ6jJ/kMDAAAAAwAAAPbBN0Ma4QBEps5YQ3vjAUSwrnFDl8/7
	QwEAAAABAAAAsK5xQ5fP+0MBAAAAAQAAACn/gEOnWOdDAQAAAAEAAAAp/4BDp1jnQwEA
	AAABAAAAerGWQ2dO40MDAAAAAwAAAFaxpkO4cdxD8vypQ3XgykOS7qxD28O7QwEAAAAB
	AAAAku6sQ9vDu0MBAAAAAQAAAM7zpUOftYdDAQAAAAEAAADO86VDn7WHQwEAAAABAAAA
	tnixQ36+XkMDAAAAAwAAAGIks0Ow9CpDfjuwQ8tO4EIOA55DdfqQQgEAAAABAAAADgOe
	Q3X6kEIBAAAAAQAAAAQUhEMLGj9CAQAAAAEAAAAEFIRDCxo/QgEAAAABAAAAEgFnQ0I1
	oEABAAAAAQAAABIBZ0NCNaBAAQAAAAEAAADSehpDAACAQAMAAAADAAAAWKYXQ+a4p0D+
	GBVDXAziQHT+EkM7/BRBAwAAAAMAAACsaQ1DDcJPQU5+CUMsS5NBVnsGQ7abwUEDAAAA
	AwAAAHj6A0NqSuRBCH4DQyXNBkJIeAND/WAaQgMAAAADAAAAMMcJQ/QbS0JQu/pCzds/
	QgwQ8EKrZUVCAwAAAAMAAAAws+RCW+dGQiRQ2UKutEZCdO/NQrmJRkIDAAAAAwAAAHA0
	wkLuL0VCrKm2QnEtSkLIBatCr91LQgMAAAADAAAAtDSHQps5R0Jo1FFCPyNsQqi6FUIr
	KYZCAQAAAAEAAACouhVCKymGQgEAAAABAAAAoNuvQPFi6kIBAAAAAQAAAKDbr0DxYupC
	AQAAAAEAAADgHx5BcREyQwEAAAABAAAA4B8eQXERMkMBAAAAAQAAAIh1GUJCR1RDBAAA
	AAAAAACAA9IkJSYqWCRjbGFzc2VzWiRjbGFzc25hbWWjJygpXU5TTXV0YWJsZURhdGFW
	TlNEYXRhWE5TT2JqZWN0XU5TTXV0YWJsZURhdGHaLC0uLw8wMTIzNDUdHR05HDo7PB1f
	EBhwYXRoUHJvcGVydGllc19sYXN0UG9pbnRfEBtwYXRoUHJvcGVydGllc19oYXNMYXN0
	UG9pbnRfEBxwYXRoUHJvcGVydGllc19oYXNGaXJzdFBvaW50XxAVcGF0aFByb3BlcnRp
	ZXNfaXNGbGF0XxAhcGF0aFByb3BlcnRpZXNfY2FjaGVkRWxlbWVudENvdW50XxAXcGF0
	aFByb3BlcnRpZXNfaXNDbG9zZWRfEBtwYXRoUHJvcGVydGllc190YW5nZW50QXRFbmRf
	EBlwYXRoUHJvcGVydGllc19maXJzdFBvaW50XxAccGF0aFByb3BlcnRpZXNfa25vd3NJ
	ZkNsb3NlZIAFCAgIgAcJIgAAAACABghWezAsIDB9VnswLCAwfdIkJUFDokIpXxAWVUlC
	ZXppZXJQYXRoUHJvcGVydGllc18QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXPSJCVFR6JG
	KVxVSUJlemllclBhdGhcVUlCZXppZXJQYXRoEgABhqBfEA9OU0tleWVkQXJjaGl2ZXIA
	CAARABYAHwAoADIANQA6ADwARgBMAGMAfwCbALUAxADLAOoBCQEvAVQBcgGNAY8BlAGZ
	AZsBnQGiAaQBpQGqAa8BtwUzBTUFOgVDBU4FUgVgBWcFcAV+BZMFrgXMBesGAwYnBkEG
	XwZ7BpoGnAadBp4GnwahBqIGpwapBqoGsQa4Br0GwAbZBvIG9wb6BwcHFAcZAAAAAAAA
	AgEAAAAAAAAASgAAAAAAAAAAAAAAAAAABys=
	</data>
</dict>
</plist>
