<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>3.814697265625e-05</real>
	<key>backgroundOffset.y</key>
	<real>3.0517578125e-05</real>
	<key>backgroundRotation</key>
	<real>0.007768094539642334</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQIgAAAAAAEAAACwE8pAAACAQAEAAAAB
	AAAA405lQ4But0ABAAAAAQAAAEn+YkOW3JdDAQAAAAEAAAAAAIBA3v6WQwQAAAAAAAAA
	AAAAAAEAAAD8br1CYJe7QQEAAAABAAAAfJzIQhBnsUIBAAAAAQAAAHycyEIQZ7FCAQAA
	AAEAAACAQcpCVG8EQwEAAAABAAAAgEHKQlRvBEMBAAAAAQAAACB5oULcEnNDAQAAAAEA
	AAAgeaFC3BJzQwEAAAABAAAA7F5+QhzChUMBAAAAAQAAAOxefkIcwoVDAQAAAAEAAABK
	gLZCPtWMQwEAAAABAAAASoC2Qj7VjEMDAAAAAwAAAPbPyEI+J49DuNbeQojNjUNG6vFC
	HPOMQwMAAAADAAAAdiD8QuKWjEO2MwNDsuGMQx1TCENs24xDAwAAAAMAAABWqQ5DdDqN
	Q4+SD0MQr4lDhhoSQwzGh0MDAAAAAwAAAPERE0NWOoZD/9QSQzJ/hEM7QBFDugyDQwEA
	AAABAAAARIv1QjAmO0MBAAAAAQAAAESL9UIwJjtDAQAAAAEAAAAMpv5C6Mz2QgEAAAAB
	AAAADKb+QujM9kIBAAAAAQAAAOY6AkMAzahBAQAAAAEAAADmOgJDAM2oQQMAAAADAAAA
	lPT4QgB1c0HoUuhCgPVSQT5G2EJAL3BBAwAAAAMAAABkn19CAIucQVx85EJA1kZB/G69
	QmCXu0EEAAAAAAAAAIAD0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nlc11OU011dGFibGVE
	YXRhoyYnKF1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVjdNoqKywtCS4vMDEyMxwc
	FTYcODkcO18QGHBhdGhQcm9wZXJ0aWVzX2xhc3RQb2ludF8QHHBhdGhQcm9wZXJ0aWVz
	X2tub3dzSWZDbG9zZWRfEBxwYXRoUHJvcGVydGllc19oYXNGaXJzdFBvaW50XxAhcGF0
	aFByb3BlcnRpZXNfY2FjaGVkRWxlbWVudENvdW50XxAbcGF0aFByb3BlcnRpZXNfaGFz
	TGFzdFBvaW50XxAbcGF0aFByb3BlcnRpZXNfdGFuZ2VudEF0RW5kXxAXcGF0aFByb3Bl
	cnRpZXNfaXNDbG9zZWRfEBVwYXRoUHJvcGVydGllc19pc0ZsYXRfEBlwYXRoUHJvcGVy
	dGllc19maXJzdFBvaW50gAUICIAHCCIAAAAACQiABlZ7MCwgMH1WezAsIDB90iIjP0Bf
	EBZVSUJlemllclBhdGhQcm9wZXJ0aWVzokEoXxAWVUlCZXppZXJQYXRoUHJvcGVydGll
	c9IiI0NEXFVJQmV6aWVyUGF0aKJFKFxVSUJlemllclBhdGhfEA9OU0tleWVkQXJjaGl2
	ZXLRSElUcm9vdIABAAgAEQAaACMALQAyADcAQQBHAF4AZQCEAKoAuQDVAPEBEAEuAUkB
	YwGIAYoBjAGOAZMBlQGaAZ8BpAGlAaoBsgPWA9gD3QPoA/ED/wQDBBEEGAQhBDYEUQRw
	BI8EswTRBO8FCQUhBT0FPwVABUEFQwVEBUkFSgVLBU0FVAVbBWAFeQV8BZUFmgWnBaoF
	twXJBcwF0QAAAAAAAAIBAAAAAAAAAEoAAAAAAAAAAAAAAAAAAAXT
	</data>
	<key>lastSavedUndoHash</key>
	<integer>171840</integer>
</dict>
</plist>
