<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allScrapProperties</key>
	<array>
		<dict>
			<key>center.x</key>
			<real>443.01425170898438</real>
			<key>center.y</key>
			<real>499.1527099609375</real>
			<key>rotation</key>
			<real>-1.572670578956604</real>
			<key>scale</key>
			<real>1.3298113346099854</real>
			<key>subviewIndex</key>
			<integer>0</integer>
			<key>uuid</key>
			<string>F8F3BC55-A1A6-4E86-A2A9-E133B6AA5675</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>612.78558349609375</real>
			<key>center.y</key>
			<real>494.83245849609375</real>
			<key>rotation</key>
			<real>-3.1764960289001465</real>
			<key>scale</key>
			<real>0.64928346872329712</real>
			<key>subviewIndex</key>
			<integer>1</integer>
			<key>uuid</key>
			<string>A64AD45A-E3F7-40E2-B1F4-2E06C78B4D88</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>480.80792236328125</real>
			<key>center.y</key>
			<real>494.79946899414062</real>
			<key>rotation</key>
			<real>-3.1093475818634033</real>
			<key>scale</key>
			<real>0.44088298082351685</real>
			<key>subviewIndex</key>
			<integer>2</integer>
			<key>uuid</key>
			<string>BC605A54-BC04-41AE-9B85-F2C59A4968F2</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>547.80499267578125</real>
			<key>center.y</key>
			<real>684.90008544921875</real>
			<key>rotation</key>
			<real>-1.6149975061416626</real>
			<key>scale</key>
			<real>0.48465701937675476</real>
			<key>subviewIndex</key>
			<integer>3</integer>
			<key>uuid</key>
			<string>16FAFC04-F306-4530-9AAE-901AB247C3BF</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>555.90673828125</real>
			<key>center.y</key>
			<real>303.78781127929688</real>
			<key>rotation</key>
			<real>-1.6209570169448853</real>
			<key>scale</key>
			<real>0.43705481290817261</real>
			<key>subviewIndex</key>
			<integer>4</integer>
			<key>uuid</key>
			<string>A62913F6-26B1-4840-83F4-014277080159</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>639.91717529296875</real>
			<key>center.y</key>
			<real>743.59942626953125</real>
			<key>rotation</key>
			<real>-3.1411433219909668</real>
			<key>scale</key>
			<real>0.2037026435136795</real>
			<key>subviewIndex</key>
			<integer>5</integer>
			<key>uuid</key>
			<string>FDF2E482-8393-46F7-B634-6DE928C64691</string>
		</dict>
		<dict>
			<key>center.x</key>
			<real>611.4141845703125</real>
			<key>center.y</key>
			<real>207.42427062988281</real>
			<key>rotation</key>
			<real>-1.6050417423248291</real>
			<key>scale</key>
			<real>1.1104390621185303</real>
			<key>subviewIndex</key>
			<integer>6</integer>
			<key>uuid</key>
			<string>C1100D3E-0208-4792-836F-E4CCB95D8DF8</string>
		</dict>
	</array>
	<key>scrapsOnPageIDs</key>
	<array>
		<string>F8F3BC55-A1A6-4E86-A2A9-E133B6AA5675</string>
		<string>A64AD45A-E3F7-40E2-B1F4-2E06C78B4D88</string>
		<string>BC605A54-BC04-41AE-9B85-F2C59A4968F2</string>
		<string>16FAFC04-F306-4530-9AAE-901AB247C3BF</string>
		<string>A62913F6-26B1-4840-83F4-014277080159</string>
		<string>FDF2E482-8393-46F7-B634-6DE928C64691</string>
		<string>C1100D3E-0208-4792-836F-E4CCB95D8DF8</string>
	</array>
</dict>
</plist>
