<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.0</real>
	<key>backgroundOffset.y</key>
	<real>0.0</real>
	<key>backgroundRotation</key>
	<real>0.0</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUISElUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABqQkKHyMrPj9ARFUkbnVsbNsLDA0ODxAREhMUFRYXGBkaGxwcHRweXxAZ
	VUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QGVVJQmV6aWVyUGF0aE1pdGVyTGltaXRL
	ZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV5wYXRoUHJvcGVydGllc1YkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lRGFzaFBoYXNlS2V5XxAcVUlCZXppZXJQYXRoTGluZUpv
	aW5TdHlsZUtleV8QI1VJQmV6aWVyUGF0aExpbmVEYXNoUGF0dGVybkNvdW50S2V5XxAi
	VUlCZXppZXJQYXRoVXNlc0V2ZW5PZGRGaWxsUnVsZUtleV8QG1VJQmV6aWVyUGF0aExp
	bmVDYXBTdHlsZUtleV8QGFVJQmV6aWVyUGF0aExpbmVXaWR0aEtleYACIkEgAAAiPxmZ
	moAEgAgiAAAAABAACCI/gAAA0iAPISJXTlMuZGF0YU8RAfgAAAAAAQAAAOPEk0NwKyBC
	AwAAAAMAAAD2WnpDAMJmQMriO0MAXCO/ig4GQ0CC70ABAAAAAQAAAIoOBkNAgu9AAQAA
	AAEAAACgutZBcC9iQgEAAAABAAAAoLrWQXAvYkIBAAAAAQAAAAAAgEBwwsFCAQAAAAEA
	AAAAAIBAcMLBQgEAAAABAAAAwMW4QPhIZEMBAAAAAQAAAMDFuED4SGRDAQAAAAEAAABs
	8s9CwhyCQwMAAAADAAAAgGHYQj5qgkNgAOFC5EqCQ2g66UJmxYFDAwAAAAMAAAAE6PZC
	euSBQ4onAkN8JoFDMOwIQ8zTgEMDAAAAAwAAAG5gD0NUA4BDOhkWQ0jLf0MachxDcKx9
	QwMAAAADAAAAWhEjQ5Rge0MOhipDYDZ7Q0pIMEN8tXZDAwAAAAMAAABc9jZDuIdzQ4o+
	PkOM0nFD6sVEQwRObkMDAAAAAwAAAGadS0NoqmxDcPtRQ6idaUManFhDEFdnQwMAAAAD
	AAAASOdeQwTCZENYNWVDgCNiQ4gca0MUul5DAwAAAAMAAAD0pXtDCKhWQxYChkM4Ak1D
	fFKMQ3RQP0MBAAAAAQAAAHxSjEN0UD9DAQAAAAEAAABTVZ5DuBO5QgEAAAABAAAAU1We
	Q7gTuUIBAAAAAQAAAOPEk0NwKyBCBAAAAAAAAACAA9IkJSYqWCRjbGFzc2VzWiRjbGFz
	c25hbWWjJygpXU5TTXV0YWJsZURhdGFWTlNEYXRhWE5TT2JqZWN0XU5TTXV0YWJsZURh
	dGHaLC0uLw8wMTIzNDUdHR05HDo7PB1fEBhwYXRoUHJvcGVydGllc19sYXN0UG9pbnRf
	EBtwYXRoUHJvcGVydGllc19oYXNMYXN0UG9pbnRfEBxwYXRoUHJvcGVydGllc19oYXNG
	aXJzdFBvaW50XxAVcGF0aFByb3BlcnRpZXNfaXNGbGF0XxAhcGF0aFByb3BlcnRpZXNf
	Y2FjaGVkRWxlbWVudENvdW50XxAXcGF0aFByb3BlcnRpZXNfaXNDbG9zZWRfEBtwYXRo
	UHJvcGVydGllc190YW5nZW50QXRFbmRfEBlwYXRoUHJvcGVydGllc19maXJzdFBvaW50
	XxAccGF0aFByb3BlcnRpZXNfa25vd3NJZkNsb3NlZIAFCAgIgAcJIgAAAACABghWezAs
	IDB9VnswLCAwfdIkJUFDokIpXxAWVUlCZXppZXJQYXRoUHJvcGVydGllc18QFlVJQmV6
	aWVyUGF0aFByb3BlcnRpZXPSJCVFR6JGKVxVSUJlemllclBhdGhcVUlCZXppZXJQYXRo
	EgABhqBfEA9OU0tleWVkQXJjaGl2ZXIACAARABYAHwAoADIANQA6ADwARgBMAGMAfwCb
	ALUAxADLAOoBCQEvAVQBcgGNAY8BlAGZAZsBnQGiAaQBpQGqAa8BtwOzA7UDugPDA84D
	0gPgA+cD8AP+BBMELgRMBGsEgwSnBMEE3wT7BRoFHAUdBR4FHwUhBSIFJwUpBSoFMQU4
	BT0FQAVZBXIFdwV6BYcFlAWZAAAAAAAAAgEAAAAAAAAASgAAAAAAAAAAAAAAAAAABas=
	</data>
</dict>
</plist>
