<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.0</real>
	<key>backgroundOffset.y</key>
	<real>0.0</real>
	<key>backgroundRotation</key>
	<real>-0.0087266452610492706</real>
	<key>backgroundScale</key>
	<real>2.0066666603088379</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQRYAAAAAAEAAADggaxAvJwoQwEAAAAB
	AAAAfq3IQqAsTUMBAAAAAQAAAH6tyEKgLE1DAQAAAAEAAAD7gzJD4Lw4QwMAAAADAAAA
	PXM1QyDMOEMzYjhDTEI4Q8sbO0N0LzdDAwAAAAMAAAC3fD9DOGg2QxfmQ0OszzVDbT9I
	Q7DeNEMDAAAAAwAAAO8QTUPcmDNDvwRSQ1wFM0M76VZDMCIyQwMAAAADAAAAy0BbQ1gf
	MEMDKWBD2IUwQxeaZEN02C5DAwAAAAMAAACniWlDXHIsQ5UJb0MUwitDpVd0Q+CpKkMD
	AAAAAwAAAP0TeUMomilDmbt9Q+ArKEMqRIFD3GYnQwMAAAADAAAAqMGDQwCPJ0MIFIZD
	UE4lQ16SiEMAqiVDAwAAAAMAAADeEotDUP8kQ9SSjUMc4SVDFhOQQyjzJUMDAAAAAwAA
	AGBTkkNg/SVDwpSUQwzmJkMQ1JZDNCgmQwMAAAADAAAAnHqZQ6AMJUOYMJxDVG4lQ6je
	nkNE/yRDAwAAAAMAAAC0oKFDwCQkQ3xipENEyCVDdiKnQ7DcJEMDAAAAAwAAADLMqUMk
	JCVD7HWsQ5hrJUOoH69DDLMlQwMAAAADAAAAhJKxQ3R2JUNQ8rNDxKwmQ2pWtkP4dCdD
	AwAAAAMAAACwH71DOEspQ/iew0O4ZS5DEF3KQ/gQMUMBAAAAAQAAABBdykP4EDFDAQAA
	AAEAAAB0CP1DbOdJQwEAAAABAAAAdAj9Q2znSUMBAAAAAQAAACpkFUQcqC9DAQAAAAEA
	AAAqZBVEHKgvQwEAAAABAAAA79UTRFRpqEIDAAAAAwAAAL9wGUR0G8ZCbgcRRFg5mkK2
	5RFEHJaeQgMAAAADAAAAI6ARRHzGkkKKUxFEzOqFQuWDEUQ4wHJCAwAAAAMAAAArWRJE
	2CpFQiS5D0T4XE9CLmMORCgUTEIDAAAAAwAAAKsDC0TAfllC0RoLRJjkDkKYsgxEwBDZ
	QQEAAAABAAAAmLIMRMAQ2UEBAAAAAQAAALgl6EMgzMNBAQAAAAEAAAC4JehDIMzDQQEA
	AAABAAAAcFqyQzC9ukEBAAAAAQAAAHBaskMwvbpBAQAAAAEAAAAoYpxDIFGoQQEAAAAB
	AAAAKGKcQyBRqEEBAAAAAQAAAAUgYUOAoKtBAQAAAAEAAAAFIGFDgKCrQQEAAAABAAAA
	wkbzQtBe4EEDAAAAAwAAANLR1kLAy6FBDr61QnAm4UHMMZZCMOHcQQMAAAADAAAA8Ktk
	QjCa4UFYwAVC0ECXQZJlGkIA5jZCAQAAAAEAAACSZRpCAOY2QgEAAAABAAAASFGBQWAz
	pEIBAAAAAQAAAEhRgUFgM6RCAQAAAAEAAABwPaNAJG0HQwEAAAABAAAAAACAQIDGE0EB
	AAAAAQAAAIn+FkQAAIBAAQAAAAEAAAC0bBdEyD5JQwEAAAABAAAAIBW3QDB7TkMBAAAA
	AQAAAPCBrEC4nChDBAAAAAAAAACAA9IiIyQlWiRjbGFzc25hbWVYJGNsYXNzZXNdTlNN
	dXRhYmxlRGF0YaMmJyhdTlNNdXRhYmxlRGF0YVZOU0RhdGFYTlNPYmplY3TaKissLQku
	LzAxMjMcHBU2HDg5HDtfEBhwYXRoUHJvcGVydGllc19sYXN0UG9pbnRfEBxwYXRoUHJv
	cGVydGllc19rbm93c0lmQ2xvc2VkXxAccGF0aFByb3BlcnRpZXNfaGFzRmlyc3RQb2lu
	dF8QIXBhdGhQcm9wZXJ0aWVzX2NhY2hlZEVsZW1lbnRDb3VudF8QG3BhdGhQcm9wZXJ0
	aWVzX2hhc0xhc3RQb2ludF8QG3BhdGhQcm9wZXJ0aWVzX3RhbmdlbnRBdEVuZF8QF3Bh
	dGhQcm9wZXJ0aWVzX2lzQ2xvc2VkXxAVcGF0aFByb3BlcnRpZXNfaXNGbGF0XxAZcGF0
	aFByb3BlcnRpZXNfZmlyc3RQb2ludIAFCAiABwgiAAAAAAkIgAZWezAsIDB9VnswLCAw
	fdIiIz9AXxAWVUlCZXppZXJQYXRoUHJvcGVydGllc6JBKF8QFlVJQmV6aWVyUGF0aFBy
	b3BlcnRpZXPSIiNDRFxVSUJlemllclBhdGiiRShcVUlCZXppZXJQYXRoXxAPTlNLZXll
	ZEFyY2hpdmVy0UhJVHJvb3SAAQAIABEAGgAjAC0AMgA3AEEARwBeAGUAhACqALkA1QDx
	ARABLgFJAWMBiAGKAYwBjgGTAZUBmgGfAaQBpQGqAbIGDgYQBhUGIAYpBjcGOwZJBlAG
	WQZuBokGqAbHBusHCQcnB0EHWQd1B3cHeAd5B3sHfAeBB4IHgweFB4wHkweYB7EHtAfN
	B9IH3wfiB+8IAQgECAkAAAAAAAACAQAAAAAAAABKAAAAAAAAAAAAAAAAAAAICw==
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
