<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>scrapsOnPageIDs</key>
		<array>
			<string>FCB79CD4-C2CA-402A-A4D2-8275A410C7FD</string>
			<string>FFD0D219-05FD-4BFE-9D55-70F136663B40</string>
			<string>D493BC65-B7AA-4ED2-8DCA-ED4DA1042846</string>
		</array>
		<key>allScrapProperties</key>
		<array>
			<dict>
				<key>center.x</key>
				<real>425.0113525390625</real>
				<key>center.y</key>
				<real>301.39828491210938</real>
				<key>rotation</key>
				<real>-0.74256765842437744</real>
				<key>scale</key>
				<real>0.95367354154586792</real>
				<key>uuid</key>
				<string>FCB79CD4-C2CA-402A-A4D2-8275A410C7FD</string>
			</dict>
			<dict>
				<key>center.x</key>
				<real>247.09573364257812</real>
				<key>center.y</key>
				<real>478.14053344726562</real>
				<key>rotation</key>
				<real>-0.98619401454925537</real>
				<key>scale</key>
				<real>1.3662844896316528</real>
				<key>uuid</key>
				<string>FFD0D219-05FD-4BFE-9D55-70F136663B40</string>
			</dict>
			<dict>
				<key>center.x</key>
				<real>442.7620849609375</real>
				<key>center.y</key>
				<real>617.8321533203125</real>
				<key>rotation</key>
				<real>-1.7353875637054443</real>
				<key>scale</key>
				<real>0.99929612874984741</real>
				<key>uuid</key>
				<string>D493BC65-B7AA-4ED2-8DCA-ED4DA1042846</string>
			</dict>
		</array>
	</dict>
</plist>