<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>23.922271728515625</real>
	<key>backgroundOffset.y</key>
	<real>10.31591796875</real>
	<key>backgroundRotation</key>
	<real>0.044201076030731201</real>
	<key>backgroundScale</key>
	<real>2.0088889598846436</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEQF4AAAAAAEAAAB4XodCAACAQAEAAAAB
	AAAAeF6HQgAAgEABAAAAAQAAACxDCUMAxllBAQAAAAEAAAAsQwlDAMZZQQEAAAABAAAA
	FDz7QlYlHEMDAAAAAwAAANC7/kIoCoJDUAewQpRXvkOMowVDJtnqQwMAAAADAAAAkNkH
	Q66Y7EPCQwlDgpTuQxTOCUOmn/BDAwAAAAMAAABSfglDBJnzQ3YuCUNQkvZDrt4IQ7CL
	+UMDAAAAAwAAADSUBkO4dP1D8ET/Qpqy/0OYUfNC/gsBRAEAAAABAAAAmFHzQv4LAUQB
	AAAAAQAAAFjESEISZANEAQAAAAEAAABYxEhCEmQDRAEAAAABAAAAQFcbQdav+kMBAAAA
	AQAAAEBXG0HWr/pDAQAAAAEAAAAAAIBAoHzhQwEAAAABAAAAAACAQKB84UMBAAAAAQAA
	AEBfKUKsedRDAQAAAAEAAABAXylCrHnUQwEAAAABAAAAeF6HQgAAgEAEAAAAAAAAAIAD
	0iIjJCVaJGNsYXNzbmFtZVgkY2xhc3Nlc11OU011dGFibGVEYXRhoyYnKF1OU011dGFi
	bGVEYXRhVk5TRGF0YVhOU09iamVjdNoqKywtCS4vMDEyMxwcFTYcODkcO18QGHBhdGhQ
	cm9wZXJ0aWVzX2xhc3RQb2ludF8QHHBhdGhQcm9wZXJ0aWVzX2tub3dzSWZDbG9zZWRf
	EBxwYXRoUHJvcGVydGllc19oYXNGaXJzdFBvaW50XxAhcGF0aFByb3BlcnRpZXNfY2Fj
	aGVkRWxlbWVudENvdW50XxAbcGF0aFByb3BlcnRpZXNfaGFzTGFzdFBvaW50XxAbcGF0
	aFByb3BlcnRpZXNfdGFuZ2VudEF0RW5kXxAXcGF0aFByb3BlcnRpZXNfaXNDbG9zZWRf
	EBVwYXRoUHJvcGVydGllc19pc0ZsYXRfEBlwYXRoUHJvcGVydGllc19maXJzdFBvaW50
	gAUICIAHCCIAAAAACQiABlZ7MCwgMH1WezAsIDB90iIjP0BfEBZVSUJlemllclBhdGhQ
	cm9wZXJ0aWVzokEoXxAWVUlCZXppZXJQYXRoUHJvcGVydGllc9IiI0NEXFVJQmV6aWVy
	UGF0aKJFKFxVSUJlemllclBhdGhfEA9OU0tleWVkQXJjaGl2ZXLRSElUcm9vdIABAAgA
	EQAaACMALQAyADcAQQBHAF4AZQCEAKoAuQDVAPEBEAEuAUkBYwGIAYoBjAGOAZMBlQGa
	AZ8BpAGlAaoBsgMuAzADNQNAA0kDVwNbA2kDcAN5A44DqQPIA+cECwQpBEcEYQR5BJUE
	lwSYBJkEmwScBKEEogSjBKUErASzBLgE0QTUBO0E8gT/BQIFDwUhBSQFKQAAAAAAAAIB
	AAAAAAAAAEoAAAAAAAAAAAAAAAAAAAUr
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
