<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>42.472663879394531</real>
	<key>backgroundOffset.y</key>
	<real>25.84564208984375</real>
	<key>backgroundRotation</key>
	<real>1.6024074554443359</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEOgAAAAAAQAAACAyPEGI2ERDAwAAAAMA
	AACgRhJBMAdEQwBI0UCMJkNDAACAQDggQkMBAAAAAQAAAAC9FUFgVMVBAQAAAAEAAAAg
	vRVBYFTFQQEAAAABAAAAQCg6QUAoZUEBAAAAAQAAAHDTgkEAAIBAAQAAAAEAAADgDxpB
	YGfsQQEAAAABAAAA4A8aQWBn7EEBAAAAAQAAAACWeUFQODhCAQAAAAEAAAAAlnlBUDg4
	QgEAAAABAAAAICifQTzwFkMBAAAAAQAAACAon0E88BZDAQAAAAEAAAAgMjxBiNhEQwQA
	AAAAAAAAgAPSIiMkJVokY2xhc3NuYW1lWCRjbGFzc2VzXU5TTXV0YWJsZURhdGGjJico
	XU5TTXV0YWJsZURhdGFWTlNEYXRhWE5TT2JqZWN02iorLC0JLi8wMTIzHBwVNhw4ORw7
	XxAYcGF0aFByb3BlcnRpZXNfbGFzdFBvaW50XxAccGF0aFByb3BlcnRpZXNfa25vd3NJ
	ZkNsb3NlZF8QHHBhdGhQcm9wZXJ0aWVzX2hhc0ZpcnN0UG9pbnRfECFwYXRoUHJvcGVy
	dGllc19jYWNoZWRFbGVtZW50Q291bnRfEBtwYXRoUHJvcGVydGllc19oYXNMYXN0UG9p
	bnRfEBtwYXRoUHJvcGVydGllc190YW5nZW50QXRFbmRfEBdwYXRoUHJvcGVydGllc19p
	c0Nsb3NlZF8QFXBhdGhQcm9wZXJ0aWVzX2lzRmxhdF8QGXBhdGhQcm9wZXJ0aWVzX2Zp
	cnN0UG9pbnSABQgIgAcIIgAAAAAJCIAGVnswLCAwfVZ7MCwgMH3SIiM/QF8QFlVJQmV6
	aWVyUGF0aFByb3BlcnRpZXOiQShfEBZVSUJlemllclBhdGhQcm9wZXJ0aWVz0iIjQ0Rc
	VUlCZXppZXJQYXRookUoXFVJQmV6aWVyUGF0aF8QD05TS2V5ZWRBcmNoaXZlctFISVRy
	b290gAEACAARABoAIwAtADIANwBBAEcAXgBlAIQAqgC5ANUA8QEQAS4BSQFjAYgBigGM
	AY4BkwGVAZoBnwGkAaUBqgGyAp0CnwKkAq8CuALGAsoC2ALfAugC/QMYAzcDVgN6A5gD
	tgPQA+gEBAQGBAcECAQKBAsEEAQRBBIEFAQbBCIEJwRABEMEXARhBG4EcQR+BJAEkwSY
	AAAAAAAAAgEAAAAAAAAASgAAAAAAAAAAAAAAAAAABJo=
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
