<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.0</real>
	<key>backgroundOffset.y</key>
	<real>0.0</real>
	<key>backgroundRotation</key>
	<real>0.0</real>
	<key>backgroundScale</key>
	<real>2.0078892707824707</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGRkdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKkHCB0hKTw9PkJVJG51bGzbCQoLDA0ODxAREhMUFRUWFxgZFRobHFYkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lSm9pblN0eWxlS2V5XxAjVUlCZXppZXJQYXRoTGluZURh
	c2hQYXR0ZXJuQ291bnRLZXlecGF0aFByb3BlcnRpZXNfEBlVSUJlemllclBhdGhNaXRl
	ckxpbWl0S2V5XxAZVUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QHFVJQmV6aWVyUGF0
	aExpbmVEYXNoUGhhc2VLZXlfEBtVSUJlemllclBhdGhMaW5lQ2FwU3R5bGVLZXlfEBhV
	SUJlemllclBhdGhMaW5lV2lkdGhLZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV8Q
	IlVJQmV6aWVyUGF0aFVzZXNFdmVuT2RkRmlsbFJ1bGVLZXmACBAAgAQiQSAAAIACIgAA
	AAAiP4AAACI/GZmaCNIeCR8gV05TLmRhdGFPEEgAAAAAAQAAAAAAgEAAAIBAAQAAAAEA
	AAA34+JDAACAQAEAAAABAAAAN+PiQ8/sFkQBAAAAAQAAAAAAgEDP7BZEBAAAAAAAAACA
	A9IiIyQlWiRjbGFzc25hbWVYJGNsYXNzZXNdTlNNdXRhYmxlRGF0YaMmJyhdTlNNdXRh
	YmxlRGF0YVZOU0RhdGFYTlNPYmplY3TaKissLQkuLzAxMjMcHBU2HDg5HDtfEBhwYXRo
	UHJvcGVydGllc19sYXN0UG9pbnRfEBxwYXRoUHJvcGVydGllc19rbm93c0lmQ2xvc2Vk
	XxAccGF0aFByb3BlcnRpZXNfaGFzRmlyc3RQb2ludF8QIXBhdGhQcm9wZXJ0aWVzX2Nh
	Y2hlZEVsZW1lbnRDb3VudF8QG3BhdGhQcm9wZXJ0aWVzX2hhc0xhc3RQb2ludF8QG3Bh
	dGhQcm9wZXJ0aWVzX3RhbmdlbnRBdEVuZF8QF3BhdGhQcm9wZXJ0aWVzX2lzQ2xvc2Vk
	XxAVcGF0aFByb3BlcnRpZXNfaXNGbGF0XxAZcGF0aFByb3BlcnRpZXNfZmlyc3RQb2lu
	dIAFCAiABwgiAAAAAAkIgAZWezAsIDB9VnswLCAwfdIiIz9AXxAWVUlCZXppZXJQYXRo
	UHJvcGVydGllc6JBKF8QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXPSIiNDRFxVSUJlemll
	clBhdGiiRShcVUlCZXppZXJQYXRoXxAPTlNLZXllZEFyY2hpdmVy0UhJVHJvb3SAAQAI
	ABEAGgAjAC0AMgA3AEEARwBeAGUAhACqALkA1QDxARABLgFJAWMBiAGKAYwBjgGTAZUB
	mgGfAaQBpQGqAbIB/QH/AgQCDwIYAiYCKgI4Aj8CSAJdAngClwK2AtoC+AMWAzADSANk
	A2YDZwNoA2oDawNwA3EDcgN0A3sDggOHA6ADowO8A8EDzgPRA94D8APzA/gAAAAAAAAC
	AQAAAAAAAABKAAAAAAAAAAAAAAAAAAAD+g==
	</data>
	<key>lastSavedUndoHash</key>
	<integer>813918209914975809</integer>
</dict>
</plist>
