<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundOffset.x</key>
	<real>0.0</real>
	<key>backgroundOffset.y</key>
	<real>0.0</real>
	<key>backgroundRotation</key>
	<real>0.0</real>
	<key>backgroundScale</key>
	<real>1</real>
	<key>bezierPath</key>
	<data>
	YnBsaXN0MDDUAQIDBAUISElUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABqQkKHyMrPj9ARFUkbnVsbNsLDA0ODxAREhMUFRYXGBkaGxwcHRweXxAZ
	VUlCZXppZXJQYXRoQ0dQYXRoRGF0YUtleV8QGVVJQmV6aWVyUGF0aE1pdGVyTGltaXRL
	ZXlfEBdVSUJlemllclBhdGhGbGF0bmVzc0tleV5wYXRoUHJvcGVydGllc1YkY2xhc3Nf
	EBxVSUJlemllclBhdGhMaW5lRGFzaFBoYXNlS2V5XxAcVUlCZXppZXJQYXRoTGluZUpv
	aW5TdHlsZUtleV8QI1VJQmV6aWVyUGF0aExpbmVEYXNoUGF0dGVybkNvdW50S2V5XxAi
	VUlCZXppZXJQYXRoVXNlc0V2ZW5PZGRGaWxsUnVsZUtleV8QG1VJQmV6aWVyUGF0aExp
	bmVDYXBTdHlsZUtleV8QGFVJQmV6aWVyUGF0aExpbmVXaWR0aEtleYACIkEgAAAiPxmZ
	moAEgAgiAAAAABAACCI/gAAA0iAPISJXTlMuZGF0YU8RAvgAAAAAAQAAANhMbEMmY5FD
	AwAAAAMAAAA2NmtDzkWhQ9LtZ0OG9YFD4K1qQ8wxnEMDAAAAAwAAANLQaUNokqBDDgxl
	Q04/pEPk5WBDdPenQwMAAAADAAAA2CZdQ57pq0PCBFZDQlCuQzJdUEOGabFDAQAAAAEA
	AAAyXVBDhmmxQwEAAAABAAAAIQfdQlwCzEMBAAAAAQAAACEH3UJcAsxDAQAAAAEAAACO
	YnNCxA7LQwEAAAABAAAAjmJzQsQOy0MBAAAAAQAAAAwd4kGMJcFDAQAAAAEAAAAMHeJB
	jCXBQwEAAAABAAAAAACAQOq5mEMBAAAAAQAAAAAAgEDquZhDAQAAAAEAAADAVWBBGrCF
	QwEAAAABAAAAwFVgQRqwhUMBAAAAAQAAAGDrh0DUNQpDAQAAAAEAAABg64dA1DUKQwEA
	AAABAAAADJbZQcjoxEIBAAAAAQAAAAyW2UHI6MRCAQAAAAEAAAC5DYpC4DyNQQMAAAAD
	AAAAFUWQQkC0Y0FbdphCAEs8QSFXoUIAkihBAwAAAAMAAABDaK5CAD7mQH86vULAPQBB
	m+rKQoAfvkADAAAAAwAAAMU62UIAH7JARYvnQoAepkCF2/VCgB2aQAMAAAADAAAASEYK
	QwBYXUAkaBtDAM8WQJT4JkNAYWBBAQAAAAEAAACU+CZDQGFgQQEAAAABAAAAPqxMQ3Bt
	XEIBAAAAAQAAAD6sTENwbVxCAQAAAAEAAACAtW1DjAUgQwMAAAADAAAAUkBxQyBsI0Pk
	BnRDsJInQ1jadUOsHCxDAwAAAAMAAADS4HlDVJYyQ1brekMANDpDIHh9Qwg+QUMDAAAA
	AwAAAFTefkNgsUhDobGBQyA3T0OQzoFDVPNWQwMAAAADAAAAAj6DQ3BnXEM9poJDQIli
	Q4kDg0MYWWhDAwAAAAMAAADVOYNDQAVxQ4rWg0NgS3pDU/KBQ24/gUMBAAAAAQAAAFPy
	gUNuP4FDAQAAAAEAAADYTGxDJmORQwQAAAAAAAAAgAPSJCUmKlgkY2xhc3Nlc1okY2xh
	c3NuYW1loycoKV1OU011dGFibGVEYXRhVk5TRGF0YVhOU09iamVjdF1OU011dGFibGVE
	YXRh2iwtLi8PMDEyMzQ1HR0dORw6OzwdXxAYcGF0aFByb3BlcnRpZXNfbGFzdFBvaW50
	XxAbcGF0aFByb3BlcnRpZXNfaGFzTGFzdFBvaW50XxAccGF0aFByb3BlcnRpZXNfaGFz
	Rmlyc3RQb2ludF8QFXBhdGhQcm9wZXJ0aWVzX2lzRmxhdF8QIXBhdGhQcm9wZXJ0aWVz
	X2NhY2hlZEVsZW1lbnRDb3VudF8QF3BhdGhQcm9wZXJ0aWVzX2lzQ2xvc2VkXxAbcGF0
	aFByb3BlcnRpZXNfdGFuZ2VudEF0RW5kXxAZcGF0aFByb3BlcnRpZXNfZmlyc3RQb2lu
	dF8QHHBhdGhQcm9wZXJ0aWVzX2tub3dzSWZDbG9zZWSABQgICIAHCSIAAAAAgAYIVnsw
	LCAwfVZ7MCwgMH3SJCVBQ6JCKV8QFlVJQmV6aWVyUGF0aFByb3BlcnRpZXNfEBZVSUJl
	emllclBhdGhQcm9wZXJ0aWVz0iQlRUeiRilcVUlCZXppZXJQYXRoXFVJQmV6aWVyUGF0
	aBIAAYagXxAPTlNLZXllZEFyY2hpdmVyAAgAEQAWAB8AKAAyADUAOgA8AEYATABjAH8A
	mwC1AMQAywDqAQkBLwFUAXIBjQGPAZQBmQGbAZ0BogGkAaUBqgGvAbcEswS1BLoEwwTO
	BNIE4ATnBPAE/gUTBS4FTAVrBYMFpwXBBd8F+wYaBhwGHQYeBh8GIQYiBicGKQYqBjEG
	OAY9BkAGWQZyBncGegaHBpQGmQAAAAAAAAIBAAAAAAAAAEoAAAAAAAAAAAAAAAAAAAar
	</data>
</dict>
</plist>
